{
 "cells": [
  {
   "cell_type": "markdown",
   "source": [
    "# Exploratory data analysis\n",
    "Introduction to exploratory data analysis (EDA)."
   ],
   "metadata": {
    "collapsed": false
   }
  },
  {
   "cell_type": "markdown",
   "source": [
    "EDA is an approach to analyzing datasets to summarize their main characteristics, often with visual methods. EDA is used for seeing what the data can tell us before the modeling task [(source 1)](https://chartio.com/learn/data-analytics/what-is-exploratory-data-analysis/). It is used to explore the data, find different patterns, relations, and anomalies in the data using some statistical graphs and other visualization techniques, and possibly formulate hypotheses that could lead to new data collection and experiments [(source 2)](https://www.analyticsvidhya.com/blog/2021/08/how-to-perform-exploratory-data-analysis-a-guide-for-beginners/). More specifically, EDA enables analysts to:\n",
    "1. get maximum insights from a data set\n",
    "2. uncover underlying structure\n",
    "3. extract important variables from the dataset\n",
    "4. detect outliers and anomalies (if any)\n",
    "5. test underlying assumptions\n",
    "6. determine the optimal factor settings"
   ],
   "metadata": {
    "collapsed": false
   }
  },
  {
   "cell_type": "markdown",
   "source": [
    "## EDA steps and tools\n",
    "Practical steps in conducting EDA and frequently used EDA tools.\n",
    "Based on *pandas2020-main.Sales_Analysis_Pandas_P3_tutorial.ipynb* and *pandas2020-main.TED_Talks_Pandas_P3_tutorial.ipynb*.\n"
   ],
   "metadata": {
    "collapsed": false
   }
  },
  {
   "cell_type": "markdown",
   "source": [
    "Based on [this](https://stackoverflow.com/a/22149930/1899061), in all computations, `axis=...` refers to the axis **along which** the computation is done. By default, `axis=0`. This is consistent with the `numpy.mean` usage when axis is specified explicitly (in `numpy.mean`, `axis==None` by default, which computes the mean value over the flattened array), in which `axis=0` along the rows (namely, index in pandas), and `axis=1` along the columns.\n",
    "Note also that that `axis=0` indicates aggregating along rows and `axis=1` indicates aggregating along columns. This is consistent with how we index into a dataframe. In `df.iloc[<row>, <column>]`, `<row>` is in index position 0 and `<column>` is in index position 1. For added clarity, one may choose to specify `axis='index'` (instead of `axis=0`) or `axis='columns'` (instead of `axis=1`).\n",
    "**But**, `axis=0` means each row as a bulk - we manipulate a `pd.DataFrame` inter-row, instead of within-row. Likewise, 1 means each column as a bulk, i.e. we manipulate a `pd.DataFrame` inter-column instead of within-column. For example, `<pd.df>.drop(\"A\", axis=1)` will drop a whole column."
   ],
   "metadata": {
    "collapsed": false
   }
  },
  {
   "cell_type": "markdown",
   "source": [
    "### Reading the dataset\n",
    "- `pd.read_csv()`"
   ],
   "metadata": {
    "collapsed": false
   }
  },
  {
   "cell_type": "markdown",
   "source": [
    "### Initial examination and adaptations\n",
    "- `<pd.df>.shape`, `<pd.df>.head()`, `<pd.df>.tail()`, `<pd.df>.sample()`, `<pd.df>.dtypes`, `<pd.df>.info()`, `<pd.df>.describe()`\n",
    "- `<pd.df>.loc[...]`, `<pd.df>.iloc[...]` - examine individual cells, columns, rows\n",
    "    - `loc` works with conditions and column names, `iloc` with numerical indices\n",
    "    - in both `loc` and `iloc`, multiple columns can be specified as a list of column names, and `:` in each index position means 'all'\n",
    "    - in `iloc`, both index positions can be specified as lists of numeric values\n",
    "- `<pd.df>.columns`, `<pd.df>.columns.values`, `<pd.df>.columns.values.tolist()` (or `<pd.df>.columns.values.to_list()`), `<pd.df>.values`\n",
    "- `<pd.df>.rename({'<column_1 old name>':'<column_1 new name>', '<column_2 old name>':'<column_2 new name>', ...}, axis='columns')`, `<pd.df>.columns = ['<column_1 name>', '<column_2 name>', ...]` (change the names of all columns in <pd.df>)\n",
    "- `ast.literal_eval()` (using Python's *ast* module to transform a string into a literal value, a list, a tuple or any other container object)"
   ],
   "metadata": {
    "collapsed": false
   }
  },
  {
   "cell_type": "markdown",
   "source": [
    "### Missing values and value counts\n",
    "- `sb.heatmap()`, e.g. `sb.heatmap(<pd.df>.isna(),cbar=False,cmap='viridis')` ([example](https://www.analyticsvidhya.com/blog/2021/08/how-to-perform-exploratory-data-analysis-a-guide-for-beginners/))\n",
    "- `<pd.df>.isna()` (`<pd.df>.isnull()`), `<pd.df>.isna().sum()` (`<pd.df>.isnull().sum`) ([example](https://www.analyticsvidhya.com/blog/2021/08/how-to-perform-exploratory-data-analysis-a-guide-for-beginners/))\n",
    "- `<pd.df>['<column>'].value_counts()` (shows only the rows without NAs (default: dropna=True), check shape)\n",
    "- `<pd.df>['<column>'].value_counts(normalize=True)` (show proportions, rather than frequencies)\n",
    "- `<pd.Series>.dropna(how='all'/'any', inplace=True)` (return a new `<pd.Series>` object with missing values removed)\n",
    "\n",
    "The `cmap` parameter of `sb.heatmap()` denotes a [Matplotlib colormap](https://matplotlib.org/stable/tutorials/colors/colormaps.html#classes-of-colormaps) (`viridis`, `cividis`, `tab20`, `winter`, `BuPu_r`, `ocean`,...)."
   ],
   "metadata": {
    "collapsed": false
   }
  },
  {
   "cell_type": "markdown",
   "source": [
    "### Examining individual data items, rows and columns\n",
    "- `<pd.df>.sample()`\n",
    "- Simple indexing and fancy indexing: `<pd.df>.iloc[]`, `<pd.df>.loc[]`\n",
    "- `<pd.df>.index`, `<pd.df>.index[<from>:<to>]`, `<pd.df>.reset_index(drop=True, inplace=True)`\n",
    "- Indexing using list of values: `<pd.df>.loc[<pd.df>.<column>.isin(<list of values>)]` (select those observations where the value of `<column>` is in the `<list of values>`)\n",
    "- Indexing in data stats: `<pd.df>.describe().loc['50%', '<column_name>']` (select the median of `<column_name>` from the `<pd.df>` stats computed by `describe()`)"
   ],
   "metadata": {
    "collapsed": false
   }
  },
  {
   "cell_type": "markdown",
   "source": [
    "### Grouping and sorting data\n",
    "- `<pd.df>['<column>'].unique()`, `<pd.df>['<column>'].nunique()`\n",
    "- `<pd.df>['<column>'].groupby()`, `<pd.df>['<column>'].groupby().get_group()`\n",
    "- `<pd.df>['<column>'].value_counts()`, `<pd.df>['<column>'].value_counts().sort_index()`, `<pd.df>['<column>'].value_counts().sort_index(inplace=True)`\n",
    "- `<pd.df>.sort_values(by='<column name>', ascending=False/True)`\n",
    "- `<pd.df>.groupby('<column>').<another column>.<f()>.sort_values(ascending=False)` (aggregate using function `f()`, e.g. `mean()`)\n",
    "- `<pd.df>.groupby('<column>').<another column>.agg(['<f1 name>', '<f2 name>', ...])` (aggregate using multiple functions, e.g. `mean()`, `count()`,...)\n",
    "\n",
    "If `sort_values()` is used after `agg(['f1 name>', '<f2 name>', ...])` (`agg(['<f1 name>', '<f2 name>', ...]).sort_values(by='<f name>', ascending=False)`), it must be passed one positional argument (`by='<f name>'`) before the optional `ascending=False`.\n"
   ],
   "metadata": {
    "collapsed": false
   }
  },
  {
   "cell_type": "markdown",
   "source": [
    "### Data transformations\n",
    "- `<pd.df>.describe()`\n",
    "- `pd.to_numeric(<pd.DataFrame object>['<column name>'], errors='coerce')`, `pd.DataFrame.to_numpy()`, `pd.Series.to_numpy()`, `pd.to_datetime()`, ...\n",
    "- `<pd.df>.<column>.apply(<f_name>)` (apply the <f_name> function to all elements of each element of the `<column>`; for example, each element of the `<column>` can be a list of other elements)\n"
   ],
   "metadata": {
    "collapsed": false
   }
  },
  {
   "cell_type": "markdown",
   "source": [
    "### Exploring correlations\n",
    "Explore correlations between the (numerical) columns. \n",
    "- `sb.heatmap()`\n",
    "- [Example](https://www.analyticsvidhya.com/blog/2021/08/how-to-perform-exploratory-data-analysis-a-guide-for-beginners/)"
   ],
   "metadata": {
    "collapsed": false
   }
  },
  {
   "cell_type": "markdown",
   "source": [
    "### Data visualization\n",
    "Plot some bargraphs, scatterplots, boxplots,...\n",
    "- [Example](https://www.analyticsvidhya.com/blog/2021/08/how-to-perform-exploratory-data-analysis-a-guide-for-beginners/)"
   ],
   "metadata": {
    "collapsed": false
   }
  },
  {
   "cell_type": "markdown",
   "source": [
    "### Other\n",
    "[Other interesting ideas and different ways of using the things from above](https://realpython.com/pandas-python-explore-dataset/#exploring-your-dataset) (see the rest from [that article](https://realpython.com/pandas-python-explore-dataset/) as well)."
   ],
   "metadata": {
    "collapsed": false
   }
  },
  {
   "cell_type": "markdown",
   "source": [
    "## Import and configure packages\n",
    "The `%run` magic might not work well in DataSpell, thus the following `import` statements are copied here from *import_packages.ipynb*:"
   ],
   "metadata": {
    "collapsed": false
   }
  },
  {
   "cell_type": "code",
   "source": [
    "%run \"../notebooks/import_packages.ipynb\""
   ],
   "metadata": {
    "collapsed": false,
    "ExecuteTime": {
     "end_time": "2026-01-30T13:53:28.455273500Z",
     "start_time": "2026-01-30T13:53:28.255466Z"
    }
   },
   "outputs": [],
   "execution_count": 1
  },
  {
   "cell_type": "code",
   "source": [
    "# # %load_ext autoreload\n",
    "# # %autoreload 2\n",
    "# \n",
    "%matplotlib inline\n",
    "\n",
    "# %config IPCompleter.greedy=True\n",
    "\n",
    "import numpy as np\n",
    "import matplotlib as mpl\n",
    "import matplotlib.pyplot as plt\n",
    "plt.style.use('classic')\n",
    "import pandas as pd\n",
    "import seaborn as sb\n",
    "# \n",
    "# from plotnine import ggplot, aes, labs, geom_point, geom_line, geom_histogram, theme_xkcd, coord_cartesian, xlim, ylim, xlab, ylab, ggtitle, theme"
   ],
   "metadata": {
    "collapsed": false,
    "ExecuteTime": {
     "end_time": "2026-01-30T13:53:48.280440600Z",
     "start_time": "2026-01-30T13:53:48.227769400Z"
    }
   },
   "outputs": [],
   "execution_count": 2
  },
  {
   "cell_type": "markdown",
   "source": "## Introducing CSNY dataset",
   "metadata": {
    "collapsed": false
   }
  },
  {
   "cell_type": "markdown",
   "source": "This dataset, *csny_v1.csv*, contains information on the music group Crosby, Stills, Nash & Young, including their duo and trio collaborations. It combines data from three sources — Spotify, AllMusic, and Wikipedia — providing a rich blend of biographical and discographical details. The dataset has 34 columns and 774 rows. It is located in the *data* folder. It is copied directly from [this Kaggle dataset](https://www.kaggle.com/datasets/anapetrovic4/crosby-stills-nash-and-young), developed by [Ana Petrovic](https://www.kaggle.com/anapetrovic4).",
   "metadata": {
    "collapsed": false
   }
  },
  {
   "cell_type": "markdown",
   "source": [
    "### Read the *csv* file containing one of the available datasets describing csny songs\n",
    "`pd.read_csv()` returns a `pd.DataFrame` object.\n",
    "\n",
    "As for specifying the path of the dataset properly, see [this](https://stackoverflow.com/questions/35384358/how-to-open-my-files-in-data-folder-with-pandas-using-relative-path) (more specifically, **both** [this](https://stackoverflow.com/a/35384414/1899061) and [this](https://stackoverflow.com/a/43600253/1899061))."
   ],
   "metadata": {
    "collapsed": false
   }
  },
  {
   "cell_type": "code",
   "source": [
    "# Get the songs as a pd.DataFrame object from 'data/csny_v1.csv', \n",
    "# or from '../data/csny_v1.csv', \n",
    "# or '../../data/csny_v1.csv', \n",
    "# or ..., \n",
    "# depending on where the csv file is located\n",
    "\n",
    "# If an int column contains NaN values, read_csv() sets all values to float values, because NaN are internally\n",
    "# represented as float values. To read the int columns as int values and still preserve NaN values where they \n",
    "# exist, see this: https://stackoverflow.com/a/72323514. \n",
    "# The trick is: df = pd.read_csv('file.csv', dtype={'a': 'Int32', 'b': 'Int32'}), assuming that 'a' and 'b' \n",
    "# columns contain int and NaN values.\n",
    "\n",
    "songs = pd.read_csv('../data/csny_v1.csv')"
   ],
   "metadata": {
    "collapsed": false,
    "ExecuteTime": {
     "end_time": "2026-01-30T13:56:46.399298300Z",
     "start_time": "2026-01-30T13:56:46.352750700Z"
    }
   },
   "outputs": [],
   "execution_count": 3
  },
  {
   "cell_type": "markdown",
   "source": [
    "### Explore the dataset (first steps)"
   ],
   "metadata": {
    "collapsed": false
   }
  },
  {
   "cell_type": "markdown",
   "source": [
    "##### Initial examination and adaptations\n",
    "- `<pd.df>.shape`, `<pd.df>.head()`, `<pd.df>.tail()`, `<pd.df>.sample()`, `<pd.df>.dtypes`, `<pd.df>.info()`, `<pd.df>.describe()`\n",
    "- `<pd.df>.loc[...]`, `<pd.df>.iloc[...]` - examine individual cells, columns, rows\n",
    "    - `loc` works with conditions and column names, `iloc` with numerical indices\n",
    "    - in both `loc` and `iloc`, multiple columns can be specified as a list of column names, and `:` in each index position means 'all'\n",
    "    - in `iloc`, both index positions can be specified as lists of numeric values\n",
    "- `<pd.df>.columns`, `<pd.df>.columns.values`, `<pd.df>.columns.values.tolist()` (or `<pd.df>.columns.values.to_list()`), `<pd.df>.values`\n",
    "- `<pd.df>.rename({'<column_1 old name>':'<column_1 new name>', '<column_2 old name>':'<column_2 new name>', ...}, axis='columns')`, `<pd.df>.columns = ['<column_1 name>', '<column_2 name>', ...]` (change the names of all columns in <pd.df>)\n",
    "- `ast.literal_eval()` (using Python's *ast* module to transform a string into a literal value, a list, a tuple or any other container object)"
   ],
   "metadata": {
    "collapsed": false
   }
  },
  {
   "cell_type": "markdown",
   "source": [
    "###### A sneak peek into the dataset\n",
    "- `<pd.df>.shape`, `<pd.df>.head()`, `<pd.df>.tail()`, `<pd.df>.sample()`, `<pd.df>.dtypes`, **<u>`<pd.df>.info()`**</u>, `<pd.df>.describe()` (shows descriptive statistics for numerical columns only).\n",
    "\n",
    "When calling `display()` on a method like `<pd.df>.head()`, `<pd.df>.tail()` and `<pd.df>.sample()`, only a certain default number of columns is displayed. To display *all* columns, use `pd.set_option('display.max_columns', None)` first. To display `<n>` columns, use `pd.set_option('display.max_columns', <n>)` first. "
   ],
   "metadata": {
    "collapsed": false
   }
  },
  {
   "cell_type": "code",
   "source": [
    "songs\n",
    "songs.shape\n",
    "songs.head()\n",
    "songs.tail()\n",
    "songs.sample(4)\n",
    "songs.dtypes\n",
    "songs.info()\n",
    "songs.describe()"
   ],
   "metadata": {
    "collapsed": false,
    "ExecuteTime": {
     "end_time": "2026-01-30T14:07:54.147814Z",
     "start_time": "2026-01-30T14:07:54.040959900Z"
    }
   },
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "<class 'pandas.core.frame.DataFrame'>\n",
      "RangeIndex: 774 entries, 0 to 773\n",
      "Data columns (total 34 columns):\n",
      " #   Column              Non-Null Count  Dtype  \n",
      "---  ------              --------------  -----  \n",
      " 0   track               774 non-null    object \n",
      " 1   album               774 non-null    object \n",
      " 2   album_type          774 non-null    object \n",
      " 3   artist              774 non-null    object \n",
      " 4   release_date        774 non-null    object \n",
      " 5   recording_period    385 non-null    object \n",
      " 6   recording_location  402 non-null    object \n",
      " 7   album_duration      584 non-null    object \n",
      " 8   album_genre         584 non-null    object \n",
      " 9   album_styles        579 non-null    object \n",
      " 10  album_moods         531 non-null    object \n",
      " 11  album_themes        481 non-null    object \n",
      " 12  genres              326 non-null    object \n",
      " 13  styles              315 non-null    object \n",
      " 14  moods               295 non-null    object \n",
      " 15  themes              212 non-null    object \n",
      " 16  composers           558 non-null    object \n",
      " 17  producers           420 non-null    object \n",
      " 18  vocals              420 non-null    object \n",
      " 19  user_rating         536 non-null    float64\n",
      " 20  duration            774 non-null    int64  \n",
      " 21  popularity          774 non-null    int64  \n",
      " 22  danceability        774 non-null    float64\n",
      " 23  energy              774 non-null    float64\n",
      " 24  key                 774 non-null    int64  \n",
      " 25  loudness            774 non-null    float64\n",
      " 26  mode                774 non-null    int64  \n",
      " 27  speechiness         774 non-null    float64\n",
      " 28  acousticness        774 non-null    float64\n",
      " 29  instrumentalness    774 non-null    float64\n",
      " 30  liveness            774 non-null    float64\n",
      " 31  valence             774 non-null    float64\n",
      " 32  tempo               774 non-null    float64\n",
      " 33  time_signature      774 non-null    int64  \n",
      "dtypes: float64(10), int64(5), object(19)\n",
      "memory usage: 205.7+ KB\n"
     ]
    },
    {
     "data": {
      "text/plain": [
       "       user_rating      duration  popularity  danceability      energy  \\\n",
       "count   536.000000  7.740000e+02  774.000000    774.000000  774.000000   \n",
       "mean      7.277985  2.427993e+05   16.682171      0.527058    0.402975   \n",
       "std       1.385897  1.121813e+05   12.144655      0.144805    0.226993   \n",
       "min       4.000000  1.706600e+04    0.000000      0.126000    0.003060   \n",
       "25%       6.000000  1.828360e+05    8.000000      0.427500    0.215250   \n",
       "50%       7.000000  2.244180e+05   14.000000      0.533000    0.369000   \n",
       "75%       8.000000  2.818830e+05   22.000000      0.629750    0.566750   \n",
       "max      10.000000  1.092960e+06   74.000000      0.887000    0.974000   \n",
       "\n",
       "              key    loudness        mode  speechiness  acousticness  \\\n",
       "count  774.000000  774.000000  774.000000   774.000000    774.000000   \n",
       "mean     5.169251  -13.644204    0.771318     0.068751      0.490587   \n",
       "std      3.452660    4.573820    0.420256     0.134938      0.327414   \n",
       "min      0.000000  -51.196000    0.000000     0.023800      0.000015   \n",
       "25%      2.000000  -16.279500    1.000000     0.030600      0.174000   \n",
       "50%      5.000000  -13.141500    1.000000     0.035700      0.502500   \n",
       "75%      8.000000  -10.493000    1.000000     0.046075      0.786500   \n",
       "max     11.000000   -1.957000    1.000000     0.951000      0.995000   \n",
       "\n",
       "       instrumentalness    liveness     valence       tempo  time_signature  \n",
       "count        774.000000  774.000000  774.000000  774.000000      774.000000  \n",
       "mean           0.069626    0.240457    0.456380  119.815041        3.864341  \n",
       "std            0.185811    0.241305    0.242018   29.778971        0.467240  \n",
       "min            0.000000    0.018800    0.013300   42.022000        1.000000  \n",
       "25%            0.000012    0.103000    0.255250   96.807500        4.000000  \n",
       "50%            0.000750    0.130000    0.446000  117.077500        4.000000  \n",
       "75%            0.021100    0.259000    0.633750  140.929250        4.000000  \n",
       "max            0.950000    0.991000    0.970000  204.013000        5.000000  "
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>user_rating</th>\n",
       "      <th>duration</th>\n",
       "      <th>popularity</th>\n",
       "      <th>danceability</th>\n",
       "      <th>energy</th>\n",
       "      <th>key</th>\n",
       "      <th>loudness</th>\n",
       "      <th>mode</th>\n",
       "      <th>speechiness</th>\n",
       "      <th>acousticness</th>\n",
       "      <th>instrumentalness</th>\n",
       "      <th>liveness</th>\n",
       "      <th>valence</th>\n",
       "      <th>tempo</th>\n",
       "      <th>time_signature</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>count</th>\n",
       "      <td>536.000000</td>\n",
       "      <td>7.740000e+02</td>\n",
       "      <td>774.000000</td>\n",
       "      <td>774.000000</td>\n",
       "      <td>774.000000</td>\n",
       "      <td>774.000000</td>\n",
       "      <td>774.000000</td>\n",
       "      <td>774.000000</td>\n",
       "      <td>774.000000</td>\n",
       "      <td>774.000000</td>\n",
       "      <td>774.000000</td>\n",
       "      <td>774.000000</td>\n",
       "      <td>774.000000</td>\n",
       "      <td>774.000000</td>\n",
       "      <td>774.000000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>mean</th>\n",
       "      <td>7.277985</td>\n",
       "      <td>2.427993e+05</td>\n",
       "      <td>16.682171</td>\n",
       "      <td>0.527058</td>\n",
       "      <td>0.402975</td>\n",
       "      <td>5.169251</td>\n",
       "      <td>-13.644204</td>\n",
       "      <td>0.771318</td>\n",
       "      <td>0.068751</td>\n",
       "      <td>0.490587</td>\n",
       "      <td>0.069626</td>\n",
       "      <td>0.240457</td>\n",
       "      <td>0.456380</td>\n",
       "      <td>119.815041</td>\n",
       "      <td>3.864341</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>std</th>\n",
       "      <td>1.385897</td>\n",
       "      <td>1.121813e+05</td>\n",
       "      <td>12.144655</td>\n",
       "      <td>0.144805</td>\n",
       "      <td>0.226993</td>\n",
       "      <td>3.452660</td>\n",
       "      <td>4.573820</td>\n",
       "      <td>0.420256</td>\n",
       "      <td>0.134938</td>\n",
       "      <td>0.327414</td>\n",
       "      <td>0.185811</td>\n",
       "      <td>0.241305</td>\n",
       "      <td>0.242018</td>\n",
       "      <td>29.778971</td>\n",
       "      <td>0.467240</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>min</th>\n",
       "      <td>4.000000</td>\n",
       "      <td>1.706600e+04</td>\n",
       "      <td>0.000000</td>\n",
       "      <td>0.126000</td>\n",
       "      <td>0.003060</td>\n",
       "      <td>0.000000</td>\n",
       "      <td>-51.196000</td>\n",
       "      <td>0.000000</td>\n",
       "      <td>0.023800</td>\n",
       "      <td>0.000015</td>\n",
       "      <td>0.000000</td>\n",
       "      <td>0.018800</td>\n",
       "      <td>0.013300</td>\n",
       "      <td>42.022000</td>\n",
       "      <td>1.000000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>25%</th>\n",
       "      <td>6.000000</td>\n",
       "      <td>1.828360e+05</td>\n",
       "      <td>8.000000</td>\n",
       "      <td>0.427500</td>\n",
       "      <td>0.215250</td>\n",
       "      <td>2.000000</td>\n",
       "      <td>-16.279500</td>\n",
       "      <td>1.000000</td>\n",
       "      <td>0.030600</td>\n",
       "      <td>0.174000</td>\n",
       "      <td>0.000012</td>\n",
       "      <td>0.103000</td>\n",
       "      <td>0.255250</td>\n",
       "      <td>96.807500</td>\n",
       "      <td>4.000000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>50%</th>\n",
       "      <td>7.000000</td>\n",
       "      <td>2.244180e+05</td>\n",
       "      <td>14.000000</td>\n",
       "      <td>0.533000</td>\n",
       "      <td>0.369000</td>\n",
       "      <td>5.000000</td>\n",
       "      <td>-13.141500</td>\n",
       "      <td>1.000000</td>\n",
       "      <td>0.035700</td>\n",
       "      <td>0.502500</td>\n",
       "      <td>0.000750</td>\n",
       "      <td>0.130000</td>\n",
       "      <td>0.446000</td>\n",
       "      <td>117.077500</td>\n",
       "      <td>4.000000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>75%</th>\n",
       "      <td>8.000000</td>\n",
       "      <td>2.818830e+05</td>\n",
       "      <td>22.000000</td>\n",
       "      <td>0.629750</td>\n",
       "      <td>0.566750</td>\n",
       "      <td>8.000000</td>\n",
       "      <td>-10.493000</td>\n",
       "      <td>1.000000</td>\n",
       "      <td>0.046075</td>\n",
       "      <td>0.786500</td>\n",
       "      <td>0.021100</td>\n",
       "      <td>0.259000</td>\n",
       "      <td>0.633750</td>\n",
       "      <td>140.929250</td>\n",
       "      <td>4.000000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>max</th>\n",
       "      <td>10.000000</td>\n",
       "      <td>1.092960e+06</td>\n",
       "      <td>74.000000</td>\n",
       "      <td>0.887000</td>\n",
       "      <td>0.974000</td>\n",
       "      <td>11.000000</td>\n",
       "      <td>-1.957000</td>\n",
       "      <td>1.000000</td>\n",
       "      <td>0.951000</td>\n",
       "      <td>0.995000</td>\n",
       "      <td>0.950000</td>\n",
       "      <td>0.991000</td>\n",
       "      <td>0.970000</td>\n",
       "      <td>204.013000</td>\n",
       "      <td>5.000000</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ]
     },
     "execution_count": 11,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 11
  },
  {
   "cell_type": "markdown",
   "source": [
    "###### Columns\n",
    "- `<pd.df>.columns`, `<pd.df>.columns.values`, `<pd.df>.columns.values.tolist()` (or `<pd.df>.columns.values.to_list()`), `<pd.df>.values`\n",
    "\n",
    "Show the columns of the `songs` object (which is a `pd.DataFrame` object)."
   ],
   "metadata": {
    "collapsed": false
   }
  },
  {
   "cell_type": "code",
   "source": [
    "# Get the columns as a pd.Index object, using <pd.df>.columns\n",
    "songs.columns\n",
    "# Get the columns as a list, using list(<pd.df>.columns)\n",
    "list(songs.columns)\n",
    "# Get the columns as a list, using <pd.df>.columns.tolist() or <pd.df>.columns.to_list()\n",
    "songs.columns.tolist()\n",
    "# Get the columns as a numpy.ndarray object, using <pd.df>.columns.values or np.array(<pd.df>.columns)\n",
    "songs.columns.values\n",
    "# Get the values of all items in the dataset as a numpy.ndarray of sequences of the values in each item, \n",
    "# using <pd.df>.values (the type of both the encompassing and the encompassed sequences is numpy.ndarray)\n",
    "songs.values\n",
    "# songs.values[0, 0]"
   ],
   "metadata": {
    "collapsed": false,
    "ExecuteTime": {
     "end_time": "2026-01-30T14:12:05.338501400Z",
     "start_time": "2026-01-30T14:12:05.252418100Z"
    }
   },
   "outputs": [
    {
     "data": {
      "text/plain": [
       "'Chicago (CSNY)'"
      ]
     },
     "execution_count": 18,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 18
  },
  {
   "cell_type": "markdown",
   "source": [
    "###### Renaming columns\n",
    "- `<pd.df>.rename(columns={'<column_1 old name>':'<column_1 new name>', '<column_2 old name>':'<column_2 new name>', ...}, inplace=True)`, or\n",
    "- `<pd.df>.rename({'<column_1 old name>':'<column_1 new name>', '<column_2 old name>':'<column_2 new name>', ...}, axis='columns', inplace=True)`;\n",
    "- `<pd.df>.columns = ['<column_1 name>', '<column_2 name>', ...]` (change the names of all columns in `<pd.df>`)"
   ],
   "metadata": {
    "collapsed": false
   }
  },
  {
   "cell_type": "code",
   "source": [
    "# # Rename the names of some columns\n",
    "# songs.columns\n",
    "# # songs.rename(columns={'Unnamed: 0':'song_id'}, inplace=True)\n",
    "# songs.rename(columns={'track':'title', 'recording_location': 'location'}, inplace=True)\n",
    "# songs.columns\n",
    "# Rename these columns back to their original names\n",
    "songs.rename(columns={'title':'track', 'location':'recording_location'}, inplace=True)\n",
    "songs.columns"
   ],
   "metadata": {
    "collapsed": false,
    "ExecuteTime": {
     "end_time": "2026-01-30T14:24:12.099315500Z",
     "start_time": "2026-01-30T14:24:12.018090700Z"
    }
   },
   "outputs": [
    {
     "data": {
      "text/plain": [
       "Index(['track', 'album', 'album_type', 'artist', 'release_date',\n",
       "       'recording_period', 'recording_location', 'album_duration',\n",
       "       'album_genre', 'album_styles', 'album_moods', 'album_themes', 'genres',\n",
       "       'styles', 'moods', 'themes', 'composers', 'producers', 'vocals',\n",
       "       'user_rating', 'duration', 'popularity', 'danceability', 'energy',\n",
       "       'key', 'loudness', 'mode', 'speechiness', 'acousticness',\n",
       "       'instrumentalness', 'liveness', 'valence', 'tempo', 'time_signature'],\n",
       "      dtype='object')"
      ]
     },
     "execution_count": 21,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 21
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": [
    "###### Rearranging columns\n",
    "- `<pd.df> = <pd.df>[['<col to be the first>', 'col to be the second'...etc.]]`\n",
    "- `column_names = ['<col to be the first>', 'col to be the second'...etc.]`, `<pd.df> = <pd.df>.reindex(columns=column_names)`"
   ]
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2026-01-30T14:47:21.781285300Z",
     "start_time": "2026-01-30T14:47:21.616745300Z"
    }
   },
   "cell_type": "code",
   "source": [
    "# songs = songs[['album', 'track'] + list([songs.columns[2:]])]\n",
    "# songs\n",
    "\n",
    "# new_cols = ['album', 'track']\n",
    "# new_cols.extend(songs.columns[2:])\n",
    "# new_cols\n",
    "new_cols = ['track', 'album', ]\n",
    "new_cols.extend(songs.columns[2:])\n",
    "new_cols\n",
    "songs.reindex(columns=new_cols)"
   ],
   "outputs": [
    {
     "data": {
      "text/plain": [
       "                        track              album album_type  \\\n",
       "0              Chicago (CSNY)       4 Way Street       live   \n",
       "1    Find the Cost of Freedom       4 Way Street       live   \n",
       "2       King Midas in Reverse       4 Way Street       live   \n",
       "3                      Medley       4 Way Street       live   \n",
       "4                 Ohio (CSNY)       4 Way Street       live   \n",
       "..                        ...                ...        ...   \n",
       "769             Love Work Out  Wind on the Water     studio   \n",
       "770          Low Down Payment  Wind on the Water     studio   \n",
       "771                 Mama Lion  Wind on the Water     studio   \n",
       "772         Naked In The Rain  Wind on the Water     studio   \n",
       "773    Take The Money And Run  Wind on the Water     studio   \n",
       "\n",
       "                           artist release_date recording_period  \\\n",
       "0    Crosby, Stills, Nash & Young     7/4/1971              NaN   \n",
       "1    Crosby, Stills, Nash & Young     7/4/1971              NaN   \n",
       "2    Crosby, Stills, Nash & Young     7/4/1971              NaN   \n",
       "3    Crosby, Stills, Nash & Young     7/4/1971              NaN   \n",
       "4    Crosby, Stills, Nash & Young     7/4/1971              NaN   \n",
       "..                            ...          ...              ...   \n",
       "769                  David Crosby         1975              NaN   \n",
       "770                  David Crosby         1975              NaN   \n",
       "771                  David Crosby         1975              NaN   \n",
       "772                  David Crosby         1975              NaN   \n",
       "773                  David Crosby         1975              NaN   \n",
       "\n",
       "    recording_location album_duration album_genre  \\\n",
       "0                  NaN        1:49:44    Pop/Rock   \n",
       "1                  NaN        1:49:44    Pop/Rock   \n",
       "2                  NaN        1:49:44    Pop/Rock   \n",
       "3                  NaN        1:49:44    Pop/Rock   \n",
       "4                  NaN        1:49:44    Pop/Rock   \n",
       "..                 ...            ...         ...   \n",
       "769                NaN       40:57:00    Pop/Rock   \n",
       "770                NaN       40:57:00    Pop/Rock   \n",
       "771                NaN       40:57:00    Pop/Rock   \n",
       "772                NaN            NaN         NaN   \n",
       "773                NaN            NaN         NaN   \n",
       "\n",
       "                                          album_styles  ... key loudness mode  \\\n",
       "0    Contemporary Pop/Rock, Singer/Songwriter, Albu...  ...   9  -10.210    0   \n",
       "1    Contemporary Pop/Rock, Singer/Songwriter, Albu...  ...   8  -18.311    1   \n",
       "2    Contemporary Pop/Rock, Singer/Songwriter, Albu...  ...   1  -13.016    1   \n",
       "3    Contemporary Pop/Rock, Singer/Songwriter, Albu...  ...   8  -12.981    1   \n",
       "4    Contemporary Pop/Rock, Singer/Songwriter, Albu...  ...   2   -7.928    0   \n",
       "..                                                 ...  ...  ..      ...  ...   \n",
       "769  Singer/Songwriter, Soft Rock, Contemporary Pop...  ...   9   -9.474    0   \n",
       "770  Singer/Songwriter, Soft Rock, Contemporary Pop...  ...   7  -11.605    1   \n",
       "771  Singer/Songwriter, Soft Rock, Contemporary Pop...  ...   4  -10.592    0   \n",
       "772                                                NaN  ...   7  -16.339    1   \n",
       "773                                                NaN  ...   2  -10.054    1   \n",
       "\n",
       "    speechiness acousticness instrumentalness liveness valence    tempo  \\\n",
       "0        0.0330       0.9120         0.000017   0.8660   0.405  147.037   \n",
       "1        0.0348       0.7140         0.000010   0.2700   0.575   75.233   \n",
       "2        0.2800       0.6890         0.000000   0.7020   0.464  155.204   \n",
       "3        0.0503       0.4940         0.000253   0.9410   0.411  140.527   \n",
       "4        0.0372       0.0274         0.000001   0.9320   0.677  161.686   \n",
       "..          ...          ...              ...      ...     ...      ...   \n",
       "769      0.0307       0.1080         0.002350   0.2540   0.611   82.658   \n",
       "770      0.0382       0.5670         0.049800   0.7380   0.513  150.695   \n",
       "771      0.0432       0.4230         0.008030   0.1100   0.556  125.519   \n",
       "772      0.0268       0.7800         0.000384   0.0907   0.358   84.995   \n",
       "773      0.0265       0.6600         0.033800   0.0863   0.628   91.570   \n",
       "\n",
       "     time_signature  \n",
       "0                 4  \n",
       "1                 4  \n",
       "2                 4  \n",
       "3                 4  \n",
       "4                 4  \n",
       "..              ...  \n",
       "769               4  \n",
       "770               4  \n",
       "771               3  \n",
       "772               4  \n",
       "773               4  \n",
       "\n",
       "[774 rows x 34 columns]"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>track</th>\n",
       "      <th>album</th>\n",
       "      <th>album_type</th>\n",
       "      <th>artist</th>\n",
       "      <th>release_date</th>\n",
       "      <th>recording_period</th>\n",
       "      <th>recording_location</th>\n",
       "      <th>album_duration</th>\n",
       "      <th>album_genre</th>\n",
       "      <th>album_styles</th>\n",
       "      <th>...</th>\n",
       "      <th>key</th>\n",
       "      <th>loudness</th>\n",
       "      <th>mode</th>\n",
       "      <th>speechiness</th>\n",
       "      <th>acousticness</th>\n",
       "      <th>instrumentalness</th>\n",
       "      <th>liveness</th>\n",
       "      <th>valence</th>\n",
       "      <th>tempo</th>\n",
       "      <th>time_signature</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>Chicago (CSNY)</td>\n",
       "      <td>4 Way Street</td>\n",
       "      <td>live</td>\n",
       "      <td>Crosby, Stills, Nash &amp; Young</td>\n",
       "      <td>7/4/1971</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>1:49:44</td>\n",
       "      <td>Pop/Rock</td>\n",
       "      <td>Contemporary Pop/Rock, Singer/Songwriter, Albu...</td>\n",
       "      <td>...</td>\n",
       "      <td>9</td>\n",
       "      <td>-10.210</td>\n",
       "      <td>0</td>\n",
       "      <td>0.0330</td>\n",
       "      <td>0.9120</td>\n",
       "      <td>0.000017</td>\n",
       "      <td>0.8660</td>\n",
       "      <td>0.405</td>\n",
       "      <td>147.037</td>\n",
       "      <td>4</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>Find the Cost of Freedom</td>\n",
       "      <td>4 Way Street</td>\n",
       "      <td>live</td>\n",
       "      <td>Crosby, Stills, Nash &amp; Young</td>\n",
       "      <td>7/4/1971</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>1:49:44</td>\n",
       "      <td>Pop/Rock</td>\n",
       "      <td>Contemporary Pop/Rock, Singer/Songwriter, Albu...</td>\n",
       "      <td>...</td>\n",
       "      <td>8</td>\n",
       "      <td>-18.311</td>\n",
       "      <td>1</td>\n",
       "      <td>0.0348</td>\n",
       "      <td>0.7140</td>\n",
       "      <td>0.000010</td>\n",
       "      <td>0.2700</td>\n",
       "      <td>0.575</td>\n",
       "      <td>75.233</td>\n",
       "      <td>4</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>King Midas in Reverse</td>\n",
       "      <td>4 Way Street</td>\n",
       "      <td>live</td>\n",
       "      <td>Crosby, Stills, Nash &amp; Young</td>\n",
       "      <td>7/4/1971</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>1:49:44</td>\n",
       "      <td>Pop/Rock</td>\n",
       "      <td>Contemporary Pop/Rock, Singer/Songwriter, Albu...</td>\n",
       "      <td>...</td>\n",
       "      <td>1</td>\n",
       "      <td>-13.016</td>\n",
       "      <td>1</td>\n",
       "      <td>0.2800</td>\n",
       "      <td>0.6890</td>\n",
       "      <td>0.000000</td>\n",
       "      <td>0.7020</td>\n",
       "      <td>0.464</td>\n",
       "      <td>155.204</td>\n",
       "      <td>4</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>Medley</td>\n",
       "      <td>4 Way Street</td>\n",
       "      <td>live</td>\n",
       "      <td>Crosby, Stills, Nash &amp; Young</td>\n",
       "      <td>7/4/1971</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>1:49:44</td>\n",
       "      <td>Pop/Rock</td>\n",
       "      <td>Contemporary Pop/Rock, Singer/Songwriter, Albu...</td>\n",
       "      <td>...</td>\n",
       "      <td>8</td>\n",
       "      <td>-12.981</td>\n",
       "      <td>1</td>\n",
       "      <td>0.0503</td>\n",
       "      <td>0.4940</td>\n",
       "      <td>0.000253</td>\n",
       "      <td>0.9410</td>\n",
       "      <td>0.411</td>\n",
       "      <td>140.527</td>\n",
       "      <td>4</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>Ohio (CSNY)</td>\n",
       "      <td>4 Way Street</td>\n",
       "      <td>live</td>\n",
       "      <td>Crosby, Stills, Nash &amp; Young</td>\n",
       "      <td>7/4/1971</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>1:49:44</td>\n",
       "      <td>Pop/Rock</td>\n",
       "      <td>Contemporary Pop/Rock, Singer/Songwriter, Albu...</td>\n",
       "      <td>...</td>\n",
       "      <td>2</td>\n",
       "      <td>-7.928</td>\n",
       "      <td>0</td>\n",
       "      <td>0.0372</td>\n",
       "      <td>0.0274</td>\n",
       "      <td>0.000001</td>\n",
       "      <td>0.9320</td>\n",
       "      <td>0.677</td>\n",
       "      <td>161.686</td>\n",
       "      <td>4</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>769</th>\n",
       "      <td>Love Work Out</td>\n",
       "      <td>Wind on the Water</td>\n",
       "      <td>studio</td>\n",
       "      <td>David Crosby</td>\n",
       "      <td>1975</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>40:57:00</td>\n",
       "      <td>Pop/Rock</td>\n",
       "      <td>Singer/Songwriter, Soft Rock, Contemporary Pop...</td>\n",
       "      <td>...</td>\n",
       "      <td>9</td>\n",
       "      <td>-9.474</td>\n",
       "      <td>0</td>\n",
       "      <td>0.0307</td>\n",
       "      <td>0.1080</td>\n",
       "      <td>0.002350</td>\n",
       "      <td>0.2540</td>\n",
       "      <td>0.611</td>\n",
       "      <td>82.658</td>\n",
       "      <td>4</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>770</th>\n",
       "      <td>Low Down Payment</td>\n",
       "      <td>Wind on the Water</td>\n",
       "      <td>studio</td>\n",
       "      <td>David Crosby</td>\n",
       "      <td>1975</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>40:57:00</td>\n",
       "      <td>Pop/Rock</td>\n",
       "      <td>Singer/Songwriter, Soft Rock, Contemporary Pop...</td>\n",
       "      <td>...</td>\n",
       "      <td>7</td>\n",
       "      <td>-11.605</td>\n",
       "      <td>1</td>\n",
       "      <td>0.0382</td>\n",
       "      <td>0.5670</td>\n",
       "      <td>0.049800</td>\n",
       "      <td>0.7380</td>\n",
       "      <td>0.513</td>\n",
       "      <td>150.695</td>\n",
       "      <td>4</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>771</th>\n",
       "      <td>Mama Lion</td>\n",
       "      <td>Wind on the Water</td>\n",
       "      <td>studio</td>\n",
       "      <td>David Crosby</td>\n",
       "      <td>1975</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>40:57:00</td>\n",
       "      <td>Pop/Rock</td>\n",
       "      <td>Singer/Songwriter, Soft Rock, Contemporary Pop...</td>\n",
       "      <td>...</td>\n",
       "      <td>4</td>\n",
       "      <td>-10.592</td>\n",
       "      <td>0</td>\n",
       "      <td>0.0432</td>\n",
       "      <td>0.4230</td>\n",
       "      <td>0.008030</td>\n",
       "      <td>0.1100</td>\n",
       "      <td>0.556</td>\n",
       "      <td>125.519</td>\n",
       "      <td>3</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>772</th>\n",
       "      <td>Naked In The Rain</td>\n",
       "      <td>Wind on the Water</td>\n",
       "      <td>studio</td>\n",
       "      <td>David Crosby</td>\n",
       "      <td>1975</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>...</td>\n",
       "      <td>7</td>\n",
       "      <td>-16.339</td>\n",
       "      <td>1</td>\n",
       "      <td>0.0268</td>\n",
       "      <td>0.7800</td>\n",
       "      <td>0.000384</td>\n",
       "      <td>0.0907</td>\n",
       "      <td>0.358</td>\n",
       "      <td>84.995</td>\n",
       "      <td>4</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>773</th>\n",
       "      <td>Take The Money And Run</td>\n",
       "      <td>Wind on the Water</td>\n",
       "      <td>studio</td>\n",
       "      <td>David Crosby</td>\n",
       "      <td>1975</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>...</td>\n",
       "      <td>2</td>\n",
       "      <td>-10.054</td>\n",
       "      <td>1</td>\n",
       "      <td>0.0265</td>\n",
       "      <td>0.6600</td>\n",
       "      <td>0.033800</td>\n",
       "      <td>0.0863</td>\n",
       "      <td>0.628</td>\n",
       "      <td>91.570</td>\n",
       "      <td>4</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>774 rows × 34 columns</p>\n",
       "</div>"
      ]
     },
     "execution_count": 30,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 30
  },
  {
   "cell_type": "code",
   "source": [
    "# Save the modified dataset\n",
    "songs.to_csv('../data/csny_v2.csv', index=False)"
   ],
   "metadata": {
    "collapsed": false,
    "ExecuteTime": {
     "end_time": "2026-01-30T14:48:33.718514200Z",
     "start_time": "2026-01-30T14:48:33.672009300Z"
    }
   },
   "outputs": [],
   "execution_count": 31
  },
  {
   "cell_type": "markdown",
   "source": [
    "##### Missing values and value counts\n",
    "- `sb.heatmap()`, e.g. `sb.heatmap(<pd.df>.isna(),cbar=False,cmap='viridis')` ([example](https://www.analyticsvidhya.com/blog/2021/08/how-to-perform-exploratory-data-analysis-a-guide-for-beginners/))\n",
    "- `<pd.df>.isna()` (`<pd.df>.isnull()`), `<pd.df>.isna().sum()` (`<pd.df>.isnull().sum()`) ([example](https://www.analyticsvidhya.com/blog/2021/08/how-to-perform-exploratory-data-analysis-a-guide-for-beginners/))\n",
    "- `<pd.df>['<column>'].value_counts()` (shows only the rows without NAs (default: dropna=True), check shape)\n",
    "- `<pd.df>['<column>'].value_counts(normalize=True)` (show proportions, rather than frequencies)\n",
    "- `<pd.df>.dropna(how='all'/'any', inplace=True)`, `<pd.Series>.dropna(how='all'/'any', inplace=True)` (return a new `<pd.Series>`/`<pd.Series>` object with missing values removed)\n",
    "\n",
    "The `cmap` parameter of `sb.heatmap()` denotes a [Matplotlib colormap](https://matplotlib.org/stable/tutorials/colors/colormaps.html#classes-of-colormaps) (`viridis`, `cividis`, `tab20`, `winter`, `BuPu_r`, `ocean`,...)."
   ],
   "metadata": {
    "collapsed": false
   }
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2026-01-30T14:54:38.311249200Z",
     "start_time": "2026-01-30T14:54:38.252086800Z"
    }
   },
   "cell_type": "code",
   "source": [
    "# Read the dataset\n",
    "songs = pd.read_csv('../data/csny_v2.csv')\n",
    "songs"
   ],
   "outputs": [
    {
     "data": {
      "text/plain": [
       "                        track              album album_type  \\\n",
       "0              Chicago (CSNY)       4 Way Street       live   \n",
       "1    Find the Cost of Freedom       4 Way Street       live   \n",
       "2       King Midas in Reverse       4 Way Street       live   \n",
       "3                      Medley       4 Way Street       live   \n",
       "4                 Ohio (CSNY)       4 Way Street       live   \n",
       "..                        ...                ...        ...   \n",
       "769             Love Work Out  Wind on the Water     studio   \n",
       "770          Low Down Payment  Wind on the Water     studio   \n",
       "771                 Mama Lion  Wind on the Water     studio   \n",
       "772         Naked In The Rain  Wind on the Water     studio   \n",
       "773    Take The Money And Run  Wind on the Water     studio   \n",
       "\n",
       "                           artist release_date recording_period  \\\n",
       "0    Crosby, Stills, Nash & Young     7/4/1971              NaN   \n",
       "1    Crosby, Stills, Nash & Young     7/4/1971              NaN   \n",
       "2    Crosby, Stills, Nash & Young     7/4/1971              NaN   \n",
       "3    Crosby, Stills, Nash & Young     7/4/1971              NaN   \n",
       "4    Crosby, Stills, Nash & Young     7/4/1971              NaN   \n",
       "..                            ...          ...              ...   \n",
       "769                  David Crosby         1975              NaN   \n",
       "770                  David Crosby         1975              NaN   \n",
       "771                  David Crosby         1975              NaN   \n",
       "772                  David Crosby         1975              NaN   \n",
       "773                  David Crosby         1975              NaN   \n",
       "\n",
       "    recording_location album_duration album_genre  \\\n",
       "0                  NaN        1:49:44    Pop/Rock   \n",
       "1                  NaN        1:49:44    Pop/Rock   \n",
       "2                  NaN        1:49:44    Pop/Rock   \n",
       "3                  NaN        1:49:44    Pop/Rock   \n",
       "4                  NaN        1:49:44    Pop/Rock   \n",
       "..                 ...            ...         ...   \n",
       "769                NaN       40:57:00    Pop/Rock   \n",
       "770                NaN       40:57:00    Pop/Rock   \n",
       "771                NaN       40:57:00    Pop/Rock   \n",
       "772                NaN            NaN         NaN   \n",
       "773                NaN            NaN         NaN   \n",
       "\n",
       "                                          album_styles  ... key loudness mode  \\\n",
       "0    Contemporary Pop/Rock, Singer/Songwriter, Albu...  ...   9  -10.210    0   \n",
       "1    Contemporary Pop/Rock, Singer/Songwriter, Albu...  ...   8  -18.311    1   \n",
       "2    Contemporary Pop/Rock, Singer/Songwriter, Albu...  ...   1  -13.016    1   \n",
       "3    Contemporary Pop/Rock, Singer/Songwriter, Albu...  ...   8  -12.981    1   \n",
       "4    Contemporary Pop/Rock, Singer/Songwriter, Albu...  ...   2   -7.928    0   \n",
       "..                                                 ...  ...  ..      ...  ...   \n",
       "769  Singer/Songwriter, Soft Rock, Contemporary Pop...  ...   9   -9.474    0   \n",
       "770  Singer/Songwriter, Soft Rock, Contemporary Pop...  ...   7  -11.605    1   \n",
       "771  Singer/Songwriter, Soft Rock, Contemporary Pop...  ...   4  -10.592    0   \n",
       "772                                                NaN  ...   7  -16.339    1   \n",
       "773                                                NaN  ...   2  -10.054    1   \n",
       "\n",
       "    speechiness acousticness instrumentalness liveness valence    tempo  \\\n",
       "0        0.0330       0.9120         0.000017   0.8660   0.405  147.037   \n",
       "1        0.0348       0.7140         0.000010   0.2700   0.575   75.233   \n",
       "2        0.2800       0.6890         0.000000   0.7020   0.464  155.204   \n",
       "3        0.0503       0.4940         0.000253   0.9410   0.411  140.527   \n",
       "4        0.0372       0.0274         0.000001   0.9320   0.677  161.686   \n",
       "..          ...          ...              ...      ...     ...      ...   \n",
       "769      0.0307       0.1080         0.002350   0.2540   0.611   82.658   \n",
       "770      0.0382       0.5670         0.049800   0.7380   0.513  150.695   \n",
       "771      0.0432       0.4230         0.008030   0.1100   0.556  125.519   \n",
       "772      0.0268       0.7800         0.000384   0.0907   0.358   84.995   \n",
       "773      0.0265       0.6600         0.033800   0.0863   0.628   91.570   \n",
       "\n",
       "     time_signature  \n",
       "0                 4  \n",
       "1                 4  \n",
       "2                 4  \n",
       "3                 4  \n",
       "4                 4  \n",
       "..              ...  \n",
       "769               4  \n",
       "770               4  \n",
       "771               3  \n",
       "772               4  \n",
       "773               4  \n",
       "\n",
       "[774 rows x 34 columns]"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>track</th>\n",
       "      <th>album</th>\n",
       "      <th>album_type</th>\n",
       "      <th>artist</th>\n",
       "      <th>release_date</th>\n",
       "      <th>recording_period</th>\n",
       "      <th>recording_location</th>\n",
       "      <th>album_duration</th>\n",
       "      <th>album_genre</th>\n",
       "      <th>album_styles</th>\n",
       "      <th>...</th>\n",
       "      <th>key</th>\n",
       "      <th>loudness</th>\n",
       "      <th>mode</th>\n",
       "      <th>speechiness</th>\n",
       "      <th>acousticness</th>\n",
       "      <th>instrumentalness</th>\n",
       "      <th>liveness</th>\n",
       "      <th>valence</th>\n",
       "      <th>tempo</th>\n",
       "      <th>time_signature</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>Chicago (CSNY)</td>\n",
       "      <td>4 Way Street</td>\n",
       "      <td>live</td>\n",
       "      <td>Crosby, Stills, Nash &amp; Young</td>\n",
       "      <td>7/4/1971</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>1:49:44</td>\n",
       "      <td>Pop/Rock</td>\n",
       "      <td>Contemporary Pop/Rock, Singer/Songwriter, Albu...</td>\n",
       "      <td>...</td>\n",
       "      <td>9</td>\n",
       "      <td>-10.210</td>\n",
       "      <td>0</td>\n",
       "      <td>0.0330</td>\n",
       "      <td>0.9120</td>\n",
       "      <td>0.000017</td>\n",
       "      <td>0.8660</td>\n",
       "      <td>0.405</td>\n",
       "      <td>147.037</td>\n",
       "      <td>4</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>Find the Cost of Freedom</td>\n",
       "      <td>4 Way Street</td>\n",
       "      <td>live</td>\n",
       "      <td>Crosby, Stills, Nash &amp; Young</td>\n",
       "      <td>7/4/1971</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>1:49:44</td>\n",
       "      <td>Pop/Rock</td>\n",
       "      <td>Contemporary Pop/Rock, Singer/Songwriter, Albu...</td>\n",
       "      <td>...</td>\n",
       "      <td>8</td>\n",
       "      <td>-18.311</td>\n",
       "      <td>1</td>\n",
       "      <td>0.0348</td>\n",
       "      <td>0.7140</td>\n",
       "      <td>0.000010</td>\n",
       "      <td>0.2700</td>\n",
       "      <td>0.575</td>\n",
       "      <td>75.233</td>\n",
       "      <td>4</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>King Midas in Reverse</td>\n",
       "      <td>4 Way Street</td>\n",
       "      <td>live</td>\n",
       "      <td>Crosby, Stills, Nash &amp; Young</td>\n",
       "      <td>7/4/1971</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>1:49:44</td>\n",
       "      <td>Pop/Rock</td>\n",
       "      <td>Contemporary Pop/Rock, Singer/Songwriter, Albu...</td>\n",
       "      <td>...</td>\n",
       "      <td>1</td>\n",
       "      <td>-13.016</td>\n",
       "      <td>1</td>\n",
       "      <td>0.2800</td>\n",
       "      <td>0.6890</td>\n",
       "      <td>0.000000</td>\n",
       "      <td>0.7020</td>\n",
       "      <td>0.464</td>\n",
       "      <td>155.204</td>\n",
       "      <td>4</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>Medley</td>\n",
       "      <td>4 Way Street</td>\n",
       "      <td>live</td>\n",
       "      <td>Crosby, Stills, Nash &amp; Young</td>\n",
       "      <td>7/4/1971</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>1:49:44</td>\n",
       "      <td>Pop/Rock</td>\n",
       "      <td>Contemporary Pop/Rock, Singer/Songwriter, Albu...</td>\n",
       "      <td>...</td>\n",
       "      <td>8</td>\n",
       "      <td>-12.981</td>\n",
       "      <td>1</td>\n",
       "      <td>0.0503</td>\n",
       "      <td>0.4940</td>\n",
       "      <td>0.000253</td>\n",
       "      <td>0.9410</td>\n",
       "      <td>0.411</td>\n",
       "      <td>140.527</td>\n",
       "      <td>4</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>Ohio (CSNY)</td>\n",
       "      <td>4 Way Street</td>\n",
       "      <td>live</td>\n",
       "      <td>Crosby, Stills, Nash &amp; Young</td>\n",
       "      <td>7/4/1971</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>1:49:44</td>\n",
       "      <td>Pop/Rock</td>\n",
       "      <td>Contemporary Pop/Rock, Singer/Songwriter, Albu...</td>\n",
       "      <td>...</td>\n",
       "      <td>2</td>\n",
       "      <td>-7.928</td>\n",
       "      <td>0</td>\n",
       "      <td>0.0372</td>\n",
       "      <td>0.0274</td>\n",
       "      <td>0.000001</td>\n",
       "      <td>0.9320</td>\n",
       "      <td>0.677</td>\n",
       "      <td>161.686</td>\n",
       "      <td>4</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>769</th>\n",
       "      <td>Love Work Out</td>\n",
       "      <td>Wind on the Water</td>\n",
       "      <td>studio</td>\n",
       "      <td>David Crosby</td>\n",
       "      <td>1975</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>40:57:00</td>\n",
       "      <td>Pop/Rock</td>\n",
       "      <td>Singer/Songwriter, Soft Rock, Contemporary Pop...</td>\n",
       "      <td>...</td>\n",
       "      <td>9</td>\n",
       "      <td>-9.474</td>\n",
       "      <td>0</td>\n",
       "      <td>0.0307</td>\n",
       "      <td>0.1080</td>\n",
       "      <td>0.002350</td>\n",
       "      <td>0.2540</td>\n",
       "      <td>0.611</td>\n",
       "      <td>82.658</td>\n",
       "      <td>4</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>770</th>\n",
       "      <td>Low Down Payment</td>\n",
       "      <td>Wind on the Water</td>\n",
       "      <td>studio</td>\n",
       "      <td>David Crosby</td>\n",
       "      <td>1975</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>40:57:00</td>\n",
       "      <td>Pop/Rock</td>\n",
       "      <td>Singer/Songwriter, Soft Rock, Contemporary Pop...</td>\n",
       "      <td>...</td>\n",
       "      <td>7</td>\n",
       "      <td>-11.605</td>\n",
       "      <td>1</td>\n",
       "      <td>0.0382</td>\n",
       "      <td>0.5670</td>\n",
       "      <td>0.049800</td>\n",
       "      <td>0.7380</td>\n",
       "      <td>0.513</td>\n",
       "      <td>150.695</td>\n",
       "      <td>4</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>771</th>\n",
       "      <td>Mama Lion</td>\n",
       "      <td>Wind on the Water</td>\n",
       "      <td>studio</td>\n",
       "      <td>David Crosby</td>\n",
       "      <td>1975</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>40:57:00</td>\n",
       "      <td>Pop/Rock</td>\n",
       "      <td>Singer/Songwriter, Soft Rock, Contemporary Pop...</td>\n",
       "      <td>...</td>\n",
       "      <td>4</td>\n",
       "      <td>-10.592</td>\n",
       "      <td>0</td>\n",
       "      <td>0.0432</td>\n",
       "      <td>0.4230</td>\n",
       "      <td>0.008030</td>\n",
       "      <td>0.1100</td>\n",
       "      <td>0.556</td>\n",
       "      <td>125.519</td>\n",
       "      <td>3</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>772</th>\n",
       "      <td>Naked In The Rain</td>\n",
       "      <td>Wind on the Water</td>\n",
       "      <td>studio</td>\n",
       "      <td>David Crosby</td>\n",
       "      <td>1975</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>...</td>\n",
       "      <td>7</td>\n",
       "      <td>-16.339</td>\n",
       "      <td>1</td>\n",
       "      <td>0.0268</td>\n",
       "      <td>0.7800</td>\n",
       "      <td>0.000384</td>\n",
       "      <td>0.0907</td>\n",
       "      <td>0.358</td>\n",
       "      <td>84.995</td>\n",
       "      <td>4</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>773</th>\n",
       "      <td>Take The Money And Run</td>\n",
       "      <td>Wind on the Water</td>\n",
       "      <td>studio</td>\n",
       "      <td>David Crosby</td>\n",
       "      <td>1975</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>...</td>\n",
       "      <td>2</td>\n",
       "      <td>-10.054</td>\n",
       "      <td>1</td>\n",
       "      <td>0.0265</td>\n",
       "      <td>0.6600</td>\n",
       "      <td>0.033800</td>\n",
       "      <td>0.0863</td>\n",
       "      <td>0.628</td>\n",
       "      <td>91.570</td>\n",
       "      <td>4</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>774 rows × 34 columns</p>\n",
       "</div>"
      ]
     },
     "execution_count": 39,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 39
  },
  {
   "cell_type": "code",
   "source": [
    "# Display the heatmap (missing values) of the songs dataset \n",
    "# (demonstrate using sb.heatmap(songs.isna(), cbar=False, cmap='cividis') vs. \n",
    "sb.heatmap(songs.isna(), cbar=False, cmap='cividis');"
   ],
   "metadata": {
    "collapsed": false,
    "ExecuteTime": {
     "end_time": "2026-01-30T14:54:09.386350900Z",
     "start_time": "2026-01-30T14:54:09.003329700Z"
    }
   },
   "outputs": [
    {
     "data": {
      "text/plain": [
       "<Figure size 640x480 with 1 Axes>"
      ],
      "image/png": "iVBORw0KGgoAAAANSUhEUgAAAh4AAAIWCAYAAAAYkIQnAAAAOXRFWHRTb2Z0d2FyZQBNYXRwbG90bGliIHZlcnNpb24zLjguNCwgaHR0cHM6Ly9tYXRwbG90bGliLm9yZy8fJSN1AAAACXBIWXMAAAxOAAAMTgF/d4wjAACyOklEQVR4nOzdd1gT9x8H8HcIe4nKEq0TceFupXWA2roF3KtW697ViqLiRkBxg6KiKIrWXcWJSpVqtViVqlWrKNYFKMOBQBgS+P3Bk/sRsi53YcR8Xs/T57HJXe6OXO4+9x2fjyAmJqYIhBBCCCHlQK+id4AQQgghuoMCD0IIIYSUGwo8CCGEEFJuKPAghBBCSLmhwIMQQggh5YYCD0IIIYSUGwo8CCGEEFJuKPAghBBCSLnRL8+NFRUVYffu3Thz5gyys7Ph5OSEWbNmoV69euW5G4QQQgipIOXa4nHo0CFERUVh9erViIyMhLOzM7y9vZGTk1Oeu0EIIYSQClKugceJEycwZMgQ1K9fH0ZGRhg7diw+ffqEP/74ozx3gxBCCCEVpNwCj6ysLLx58wZNmjRhXhMKhWjYsCGePHlSXrtBCCGEkApUbmM8RCIRAMDc3FzqdXNzc+a9krqM26Dkw1IBU1uOO1IB65bRNgv/TFW42vmYD+jRxYrTJpWtq9dexXFUsr9RRWxT2fcCcP9uyuo75bOe0vOBzt2yW5eugZVzm3zW/Yy2GbPzZ6WrllvgYWpqCqC45aOkrKwsWFtby64gSgVySlycTGz/f5A5PP5YFbFuBWzz/O88Lt481tWmv1FZbVPlDe5tKlCdw3a5rldR26Rz9/PaJp91dWWbfNbV5m2Wul/fuHED7dq1U7hquQUe5ubmsLe3x6NHj9CsWTMAgFgsRkJCArp16ya7gqkt9z8IIYQQQspHqfu1sqADKOfptJ6enjh8+DDatGkDBwcH7N27F/r6+ujUqVN57sZnQ+mT9dtUbIzm/nTMeV2isqtl9lIR1i9Xvowm16uM26RzlxDdVa6Bx9ChQyESieDl5QWRSIRGjRohMDAQJiYm6n2QCY8LS0Wsqyvb5LOurmwTQI/OVuW6XlluU/kYD3ALAujcrZzb5LOurmyTz7q6sk0AgpiYmCLuWy47SgeXElKJqWrx+JyoHM9CCNE5qgaXUsp0QgghhJQbCjwIIYQQUm7KdYwHqTy4dgdQ07pq9DcihBDFqMWDEEIIIeVGYy0e27dvx/Xr15GSkgJjY2O0atUKkyZNgq3t/5/+bty4gfDwcLx69QqGhoZo164dpk6dCktLS03tBiGEEEIqMY21eAgEAsybNw+RkZHYs2cPAMDHx4d5/8OHD1i0aBE6d+6MEydOYNeuXXj9+jWCgoI0tQuEEEIIqeQ0FnhMmDABjRo1goGBAczNzTF8+HA8ffoUmZmZAIC0tDR8+vQJffr0gVAohJWVFTp37oyEhARN7QIhhBBCKrkyG1x68+ZN2NnZwcLCAgDg6OiI9u3b4+TJkxgyZAg+fvyIS5cuUdZSHvjki6ABkKppUz4OPt9nRZxHFfG3pXOekMqhTAKPuLg4REREYPny5cxrAoEAPXr0wKZNm7Bz504UFhbiyy+/xMiRI8tiFwjRKdoUJBFCdJvGA4/Y2Fj4+/vDx8dHqlDMnTt3sGLFCixevBgdOnSASCTCtm3b4OXlhc2bN0MgEEh/kLLqtIRUYhXxZE2BByGkwlRkddro6GgEBQVhyZIlMht9/PgxateuDVdXVwCAhYUFBgwYgPHjx+P9+/eoVq2a9IdRdVqipSgIIIToFDWr02pscOnx48cRHByMgIAAuRt1dnbGq1evcO3aNRQWFkIkEiEyMhI2NjaoWrWqpnaDEEIIIZWYxorEdenSBUKhEAYGBlKvBwYGokWLFgCAixcv4sCBA3jz5g2EQiEaN26MiRMnokGDBrKfR0XiVKIna0LKBw1MJYQ9VUXiNNbVEhMTo3KZb7/9Ft9++62mNkkIIYQQLUO1WnQUPcERCZpOSwgpTxR46CjqpiGaoE3nEeW9IaRyoMBDR9GFlEhQiwchpDxR4EHIZ0CbWh4IIbpNY4HH7t27sXfvXhgaGjKvtW/fHosXLwYA5OfnY8+ePbh48SIyMjJQpUoVjBkzBj169NDULhCisyoqZTohhKhLoy0eTZs2xaZNm+S+t3z5cuTl5WHdunVwcHDAhw8fmAJyhJCKQ10QhJDyVC5dLXFxcbh16xYOHjzIJAurWrUqJQ7jqSKecukmpZoutSBwPR/oPCJEd2k08EhISEC/fv1gbGyMZs2aYfz48ahRowbi4uJQo0YNHDhwABcvXoRQKETbtm0xefJkVKlSRZO7oFN06QZHPi80uJQQ3aWxwMPNzQ09e/aEnZ0d0tPTERoaijlz5iAsLAwZGRl48eIFWrdujX379iEnJwcBAQEICAhAYGCg/A+kInEqUb8+0VYUBBDyGamoInH16tVj/m1jYwNvb2/07dsX9+/fh6mpKQQCASZNmgRjY2OYmJhgzJgxmDFjBnJzc2FsbCz7gVQkTiVtCx60bX9J2aEWD0I+IxVVJK40gUAAgUCAoqIiODk5KVymqEgjpWIIIYQQogU0FnjExMQgIyMDAPDu3TusWbMGVatWhbOzMzp27Ahra2uEhYUhPz8fGRkZ2L17N1xcXGBiYqKpXSCEEEJIJaexrpbffvsNQUFByM3NhYWFBVq0aIF169bB1NQUALB27VoEBwfD09MTZmZmcHFxwaRJkzS1eUIIIYRoAY0FHv7+/krfr127NtauXaupzRFCCCFEC1HKdC2mbbNaaHAfkaBzgRDdRYEHIRqmS7N3KIAghKirzGa1EEIIIYSURi0ehGgYtQIQQohiGg083r17h5CQENy+fRv5+fmoU6cOJkyYgFatWkktd/XqVSxevBjfffcdFi5cqMldIESraVs3DQVZhBB1abSrZePGjUhLS8OuXbtw4sQJuLm5wcfHBx8/fmSWycjIQEhICJydnTW5aUIIIYRoAY0GHklJSXB1dYWVlRWEQiHc3d2Rk5ODxMREZpl169Zh4MCBqFmzpiY3TQghhBAtoNHAY/jw4bh27Rrevn2LgoICREZGwsHBAQ0aNAAAREdH48OHDxgwYIAmN0sIIYQQLaHRMR7Ozs6Ijo7GoEGDoKenB0tLS/j6+sLIyAhpaWnYvn07NmzYAD09FvEOVactU9Q3XznR90II0ToVVZ22sLAQXl5eaNGiBU6cOAEzMzPExsZiwYIF2LhxI7Zv347BgwejVq1a7D6QqtMSQgghlZ+a1Wk1FnhkZmYiOTkZy5Ytg6WlJQCgY8eOcHBwwM2bN3Hz5k3Ex8fjl19+AQDk5OQAKI6Mjhw5AkNDQ03tCiGEEEIqKY0FHlWqVEGdOnUQGRmJqVOnwsTEBH/99ReeP38OJycnHD58WGr5kJAQFBYWYsaMGRR0cKRtUy8J0VbUBUaI5mh0jIefnx+2bduGkSNHIj8/HzY2NpgxYwbatm0rs6yxsTHEYjFsbGw0uQuEEEIIqcQ0GnjUqlULfn5+rJadP3++JjdNCCGEEC1AtVoIIYQQUm4o8CCEEEJIuaEicTqKBsuRilQRA6PpnCekcqDAQ4vRhZRoKzp3CdFdrAOPS5cuITIyEk+fPoVIJMJvv/0GoVAIAMjLy8PKlSuRkJCA5ORkfP/99xg3bpzU+tu3b8f169eRkpICY2NjtGrVCpMmTYKtLV2ACCGEEF3BeoyHubk5PD09MW3aNJn3BAIBmjVrBi8vLzRu3Fju+gKBAPPmzUNkZCT27NkDAPDx8eG424QQQgjRRqxbPCQpUO/cuSPznqGhIQYPHsz8W54JEyYw/zYwMMDw4cMxYcIEZGZmwsLCQp19JoQQQoiWqrAxHjdv3oSdnR0FHTzwGaBHfeykItHgUkJ0V4UEHnFxcYiIiMDy5csVL0TVaVWiCynRVnTuEvIZqajqtGzFxsbC398fPj4+yivYUXVaQgghpPKrqOq0bERHRyMoKAhLlixRuWOEEEII+fywDjzEYjHEYjE+ffoEAMjPz4dQKIS+vj709PSQn58PACgqKkJhYSHy8/MhEAhgYGAAADh+/Dh27dqFgIAAtGjRogwOhRBCCCGVnSAmJqaIzYLnzp1DYGCgzOsbNmxAq1atMGzYMKSkpEi917JlS2zcuBEA0KVLFwiFQiYQkQgMDJQbiHQZt4HtMRBSJipiAKS2obEahJDSYnb+rPR91i0ePXv2RM+ePRW+f/DgQeU7EhPDdlOEaDVtuxlTgEUIKU+UMp0QDaMbOSGEKEaBByEaRi0ehBCiGOuU6YQQQgghfGmkSFxJ8fHxmDZtGpo0aYJNmzYxr+fn52PLli2IiYnBp0+f0LJlS/z8889UJI4QQgjRIawDD0mRuLy8PKxZs0buMvn5+QgMDETLli2Z6bUSW7Zswb179xAaGgoLCwsEBQVh4cKFCA0NhZ4eNbxwQU3klZMufS+6cqza1n1GSGWmkSJxEmFhYWjTpg3Mzc0RFxfHvJ6fn49z585h0aJFsLe3BwBMmzYNAwcOxP379ymvB0d0MSxbXG+q2va9UM0fQkh50lhTw927d3H9+nWMHz9e5r2XL18iLy8PTZo0YV6rUqUKatSogSdPnmhqFwghhBBSyWlkVktOTg5Wr14Nb29vGBsby7wvEokAFHfXlGRubs68R9RHT6plS1f+RnyOU5u6WnTl+ySkstNI4LF161a4uLigZcuWct83NTUFAGRlZcHIyIh5PSsri3lPBlWnVYkupKSi0TlICKmQ6rQ3btxAVlYWLl68CADIy8tDQUEBPD09sWXLFtSuXRtGRkZ49OgROnToAADIyMjAmzdv0LBhQ/kfStVpVaIWD6KtKqKlhM55QspIWVWnVVYkbsuWLRCLxcyyhw8fxv379+Hr64tq1apBKBSiZ8+eCA8Ph6OjIywsLLBlyxbUqVMHzs7O6h4iIYQQQrQU68AjOjpaqkhc7969Afy/SFxJZmZm0NfXh42NDfPa1KlTsWXLFkycOBH5+flo2bIlAgICaCotD/QER7QVnbuE6C7W1WnLG1WnJdpKmwZc8kUBBCGkNFXVaam5gRBCCCHlhgIPQgghhJQbCjwIIYQQUm4o8CCEEEJIudFYddr8/Hzs2bMHFy9eREZGBqpUqYIxY8agR48eAIB3794hJCQEt2/fRn5+PurUqYMJEybIzIgh7FEuhMpJ2/5GFXEe0blLiO7SWHXa5cuXIy8vD+vWrYODgwM+fPiAzMxM5v2NGzfiw4cP2LVrFywsLPDrr7/Cx8cHBw8ehKWlpWaOhhBCCCGVGuuulnbt2uHbb7+Fg4ODzHtxcXG4desWFi5ciJo1a0IgEKBq1aqoXbs2s0xSUhJcXV1hZWUFoVAId3d35OTkIDExUTNHQgghhJBKTyMp0+Pi4lCjRg0cOHAAFy9ehFAoRNu2bTF58mRUqVIFADB8+HCcOXMGXbp0QZUqVRAZGQkHBwc0aNBAE7ugk3SluBf5/FC3ByG6SyOBR0ZGBl68eIHWrVtj3759yMnJQUBAAAICAphsp87OzoiOjsagQYOgp6cHS0tL+Pr6ShWNI+rRlb55UnnpyvlAgRIhmqORwMPU1BQCgQCTJk2CsbExTExMMGbMGMyYMQO5ubkwNDSEl5cXWrRogRMnTsDMzAyxsbFYsGABNm7cCEdHR9kPpeq0lRJdgD8/FVFskAaXEvIZqYjqtE5OTnJfFwgEKCoqQmZmJpKTk7Fs2TJmIGnHjh3h4OCAmzdvyg88qDot0VK60gpACCEAKqY6bceOHWFtbY2wsDBMnDgROTk52L17N1xcXGBiYgITExPUqVMHkZGRmDp1KkxMTPDXX3/h+fPnCoMWUjnRTZWUpE3nQ0W07BBCZLEuEnfu3Dmp6rQSkuq0L1++RHBwMB48eAAzMzO4uLhg0qRJTAtHYmIitm3bhgcPHiA/Px82NjYYOHAg3N3d5W6PisSpRhdSoq2oq4WQz5eqInFUnVaLUeBROWlTKwBfNMaDEFKaqsBDI2M8CCH/VxE3OF0Kdggh2o0CD0I+A/Q0TwjRFlQkjhBCCCHlhlo8CNFxNFaIEFKeNFadNjY2FuHh4UhKSoK5uTk8PDzw/fffS33GixcvsH37dty9excA4ODggFWrVqFatWoaOhzdQhf9ssX1hqxt30tF7K+2/Y0IIZqjkeq0jx49wtKlS7FkyRK0b98eT58+xbx582BsbIyBAwcCKC4SN2PGDIwcORI+Pj4wMTHBs2fPYGJiotkjIoQQQkilpZHqtJcvX0arVq3QsWNH6OnpoWHDhujTpw+OHz/OLLNnzx60atUKQ4YMgZmZGfT09NCgQQMKPAghhBAdopHBpUVFRSgqkk4HUlhYiKSkJIhEIgDArVu3YGVlhdmzZ8PDwwNjxozBiRMnNLF5QgghhGgJjQQeHTp0wJ07d3DlyhWIxWLEx8cjKioKAJCdnQ2guILthQsXMGLECBw/fhyzZs1CaGgoLl26pIldIIQQQogW0MislubNm8PHxwf79u3D2rVrUbNmTXh6eiIiIgIWFhYAADMzM7Rt2xZffvklAKBly5b49ttv8ccff6Br166yH0rVaVWipFGVE30vnx8aDEuIEhVRnRYAunTpgi5dujD/HxISgqZNm8LY2BgA0LBhQwgEAvYfSNVpVaKLISGEkApXEdVpASA+Ph5OTk749OkTLl++jKioKKxcuZJZv3///vDz88Pt27fRsmVL/Pvvv4iJicHcuXPVOj7yf5R/oXLSpRYPqtVCCFEX68AjOjpaqjpt7969ARRXp3V2dkZwcDBevnyJwsJCNGrUCCtXrkTz5s2Z5Tt27IiffvoJa9euxbt372BnZ4cpU6bAzc1Ng4dDSMWjGxwhhChG1Wm1GLV4EImKamWhFg9CSGlUnZbIpUvdAaTsaNN5RIE6IZUDFYkjhBBCSLmhwIMQQggh5YYCD0IIIYSUG1ZjPLZv347r168jJSUFxsbGaNWqFSZNmgRb2+J+z1evXmHnzp148OABsrOzUb16dfTp0wdDhw6Vm7vj6NGjCAkJwciRIzFu3DjNHhEhhBBCKi1WgYdAIMC8efNQv3595OXlYcOGDfDx8UFYWBgAIDMzEy1atMC0adNgbW2NhIQE+Pj4QF9fH4MGDZL6rJcvX+LYsWOoX7++5o+GEEIIIZUaq8BjwoQJzL8NDAwwfPhwTJgwAZmZmbCwsEDTpk3RtGlTZpmGDRvCzc0Nt2/flgo8xGIxVq5cialTp+Lo0aMaPAzdRCPtKydtmunBF52DhBB1cZpOe/PmTdjZ2TF1WEoTi8W4ffs2OnXqJPX6/v374eDggI4dO1LgoQG6dIMjlZOunIMUYBGiOWoHHnFxcYiIiMDy5cvlvl9UVIT169dDLBZjyJAhzOsJCQk4ffo0tm/fzn1viRS6GFZOunIzBugcJISoT63AIzY2Fv7+/vDx8ZFbBEYsFmPt2rWIj4/H+vXrYWpqCgAoKCjAypUrMW3aNFSpUoXdxqg6LSGEEFL5qVmdlnXK9OjoaAQFBWHJkiVyPzA/Px8rVqxAeno6AgMDYWlpybz35s0bDB8+XOq17Oxs6Ovrw97eHrt375b5PEqZTrQVtXgQQnSZRlKmHz9+HLt27UJAQABatGgh835OTg4WLlwIsViMdevWMS0dEjY2Njh8+LDUa8uWLUPjxo0xYsQINrtACCGEkM8Aq8AjODgYQqEQ8+bNk3o9MDAQLVq0wOXLl3H79m0YGhpi4MCBzPt2dnbYvXs3hEIhbGxspNY1MDCAqakpqlevroHD0E269GRNKiddOQepZYcQzaHqtFpMVy76hFQ0CjwIYY+q037G6GJYOelSQEjnICFEXRR4aDFdusGRyklXzkEKsAjRHCoSRwghhJByQy0eWoyewgghhGgbjVSnBYBhw4bh3bt3EAqFzGtLlizBN998AwA4fPgwfvvtNyQnJ8PAwACNGzfGxIkTUa9ePQ0fEiGEEEIqK41Up5WYOXMm+vTpI/cz8vPzMX36dDRq1AgAsGvXLsyZMwf79++HkZERz8MghBBCiDbQSHVaNkaOHCn1/z/88AMOHz6Mly9fomHDhmrsMtEEroMCqXuHEEIIH5wGlyqqThsWFgYPDw+MGTMGBw4cQEFBgdLPMDY2Rq1atbjsAiGEEEK0kMaq086fPx9OTk4wMjLCv//+C39/f3z8+BGTJk2S+YynT59iw4YNmD59OkxMTLjvPSGEEEK0ilotHrGxsVi6dKnc6rStWrWCqakphEIhmjdvjh9//BHR0dEyn/Hw4UN4eXlhzJgxCseDACiudvf2/v//E+lGvgBCCCFEq5S6X9+4cUPp4qxbPFRVpy1NIBCgqEg6G3tcXByWLl2K6dOno2fPnso/wNS2+D9CCCGEVF6l7teqYgSNVKdNTEzEu3fv0LhxY+jr6+PRo0fYs2cPunbtyizzxx9/YNWqVfD29oabmxvbwyFlhAaJEgk+2Ue16TzSleMkpLJjVSSuS5cuEAqFMDAwkHpdUp324cOHWLt2LV6/fg2BQABra2t069YNw4YNg75+cWwzfPhwpKamwtDQUOozZs+ejW7dusluk4rEEVIudOWGrCvHSUhF00iRuJiYGKXvN2nSBDt37lS6zIEDB9hsihBCCCGfMarVQgghhJByQ7VaCNFxutKNoCvHSUhlR4GHFtOVkuSEVDQKWgjRHAo8tBhdDAkhhGgbjVWnvXHjBsLDw/Hq1SsYGhqiXbt2mDp1KiwtLQEARUVF2L17N86cOYPs7Gw4OTlh1qxZVJ2WEEII0SGsBpdKqtNGRkZiz549AAAfHx/m/Q8fPmDRokXo3LkzTpw4gV27duH169cICgpiljl06BCioqKwevVqREZGwtnZGd7e3sjJydHwIRFCCCGksmIVeEyYMAGNGjWCgYEBzM3NMXz4cDx9+hSZmZkAgLS0NHz69Al9+vSBUCiElZUVOnfujISEBOYzTpw4gSFDhqB+/fowMjLC2LFj8enTJ/zxxx9lc2SEEEIIqXQ0Up3W0dER7du3x8mTJ1FQUIB3797h0qVL6NSpEwAgKysLb968QZMmTZjPEAqFaNiwIZ48eaKBwyCEEEKINlA78JBUp509ezbzmkAgQI8ePXD8+HH06NEDAwcOhLGxMUaOHAkAEIlEAABzc3OpzzI3N2feI4QQQsjnTyPVae/cuYMVK1ZgxowZuHDhAk6ePAlbW1t4eXmhqKgIpqamAIpbPkrKyspi3pNB1WkJIYSQyq8iqtM+fvwYtWvXhqurKwDAwsICAwYMwPjx4/H+/XtUq1YN9vb2ePToEZo1awYAEIvFSEhIkFunBQBVp2WB8ngQUj5o6johSqhZnZZVi8fx48cRHByMgIAAuR/o7OyMV69e4dq1aygsLIRIJEJkZCRsbGxQtWpVAICnpycOHz6MZ8+eIS8vD+Hh4dDX12fGgRBCCCHk86eR6rQAcPHiRRw4cABv3ryBUChE48aNMXHiRDRo0ABAcR6P8PBwnD59GiKRCI0aNcLMmTNRv359+duk6rSEEEKI1lFVnZZV4FERKPAghBBCtI+qwINSphOiYbo09obGPhBC1EWBByEaRjdjQghRjAIPQjSMWjwIIUQxTplLCSGEEEK4YNXisWfPHly4cAEZGRkQCoVwcnLCpEmT4OjoyCzz9OlTBAcH4/HjxzAzM0Pfvn0xevRoCAQCAMC7d+8QEhKC27dvIz8/H3Xq1MGECRPQqlWrMjkwQgghhFQ+rFo8unTpgm3btuH06dM4evQovvrqK3h7e0MsFgMoTonu7e0NZ2dnREZGYvXq1Thz5gyOHj3KfMbGjRuRlpaGXbt24cSJE3Bzc4OPjw8+fvxYNkdGCCGEkEqHVYtH7dq1mX8XFRVBT08P79+/R2ZmJqysrHDlyhUUFhZi7NixEAqFqF+/PoYOHYrjx49j8ODBAICkpCT06tULVlZWAAB3d3ds3boViYmJaNq0qeaPjCjFdRwC9emrRn8jQghRjPXg0tjYWPj7+yM7OxsCgQCDBg1igoinT5/C0dERQqGQWb5x48ZITk5GdnY2zMzMMHz4cJw5cwZdunRBlSpVEBkZCQcHBybBGCGfCxpcSgghirEOPL755hucPn0aHz9+xPnz52FjY8O8l52dLVN51sLCAkBxN4yZmRmcnZ0RHR2NQYMGQU9PD5aWlvD19YWRkZH8DYpSgZwSF3ATqt2iSXTDKDv0tyWE6JRS9+sbN24ordei9nRaS0tLDBw4EB4eHqhVqxYcHR1hZmaGtLQ0qeUyMzMBAKampigsLISXlxdatGiBEydOwMzMDLGxsViwYAE2btwoNUiVQUXiyhR1tRBCCNEINYvEccrjUVRUhIKCAiQlJcHR0RENGjTAb7/9BrFYzHS3xMfHw8HBAWZmZsjIyEBycjKWLVsGS0tLAEDHjh3h4OCAmzdvyg88iEoV0aSvS90IhEhQwE2I5rAKPI4ePYquXbuiWrVq+PDhA8LCwqCvrw9nZ2cAgKurK3bs2IHw8HD88MMPSE5OxuHDhzFw4EAAQJUqVVCnTh1ERkZi6tSpMDExwV9//YXnz5/Dycmp7I7uM0cXQ0IIIdqGVZG4BQsWID4+Hjk5OTA1NUXjxo0xatQoNGrUiFnm6dOnCAoKwuPHj2FqagoPDw+pPB6JiYnYtm0bHjx4gPz8fNjY2GDgwIFwd3eXu00qEkcIIYRoH6pOS0g506XuKGp1I4SUpirwoJTphBBCCCk3VCROi+nSkzWpnHTlHKSWHUI0hwIPHUUX0rKjKzdjgM4jQoj6KPAgRMPoZkwIIYpppDptcnIyAgIC8OrVKxQUFMDKygo9evTAyJEjoaf3/2EkDx48wM6dO/Ho0SPo6emhbt26CA4OllqGEFK++LTQUJBFCFEXq8CjS5cuGDBgACwsLPDp0yccP34c3t7eOHLkCIRCIaysrODt7Y2aNWtCKBQiOTkZCxYsgLm5OQYMGACgOOiYN28eZsyYgYCAABgYGCA+Pp6ZbksIIYSQz59GqtOamppKLSMQCCAQCPDq1SvmtdDQUPTu3Rs9evRgXqOqtBVHl8YhkLKjK+cRtewQojkaqU4r8dNPPyE+Pp5JENavXz8AQG5uLh48eICmTZtiypQpSE5Ohp2dHb7//nu4ublp8ngIS3QhJRK60tWiK0ESIZWdRqrTSgQHB0MsFuPhw4eIjY1lApPMzEwUFhbiwoULCAgIQMOGDXHt2jWsWLEC1tbWaNasmewGqTqtSnwu+rpSJK4ibjba9jfStv3lSleOk5Byp2Z1WrVHdUqq065duxYJCQky7wuFQjg7O8Pc3Bzr1q0DAJiYmAAAevTogcaNG0MoFMLV1RWtWrXC1atX5W/I1Bao7vz//yjoIIQQQiqfUvfrcqlOK49YLGbGeJibm8PBwYEGkhKdQE36qlHrAyG6SyPVaW/dugVjY2M4OTlBKBTin3/+wa+//io1kLR///7Yv38/unbtivr16yM2NhZ3797FmDFjyubICKkgdFMlhBDFWAUecXFx2L9/v1R12nXr1qF69eoAAJFIhK1btyI5ORlCoRDW1tYYMGAARowYwXzGoEGDkJeXBx8fH2RlZaFWrVpYsmQJzWwhhBBCdAhVp9ViujIbgQ/q9ihbXM8jbftedOX3QogmUHVaQgghhFQaFHgQQgghpNxQ4EEIIYSQckOBByGEEELKjUaq0wJAfn4+9uzZg4sXLyIjIwNVqlTBmDFjpKbUSixevBhXr17F2rVr0bZtW80djY6hAW9EW9G5S4ju0kh1WgBYvnw58vLysG7dOjg4OODDhw/IzMyU+azz588jNzdXs0eho7RtZgD5/OjKOUiBEiGaw6qrpXbt2rCwsAAgW50WKM7zcevWLSxcuBA1a9aEQCBA1apVpSrWAkBaWhp27dqFOXPmaPgwCCGEEKINNFKdNi4uDjVq1MCBAwdw8eJFCIVCtG3bFpMnT0aVKlUAFAcsq1evxsiRI2FnZ1cmB6Nr6CmsctKVVgCAzkFCiPpYDy6VVKc9ceIEpkyZIlVRNiMjAy9evMCnT5+wb98+bNu2DWlpaQgICGCWOXHiBIqKiuDu7s5ug6JU4O39//8n0p2LOSGEEKI1St2vb9y4oXRxtYvESarTenh4oFatWnB0dISpqSkEAgEmTZoEY2NjmJiYYMyYMZgxYwZyc3Px9u1b7N27FyEhIew3ZGpLFWkJIYSQyq7U/bpcqtM6OTnJXU4gEKCoqAj37t3Dx48fMWnSJKn3ly5dis6dO9OYD/JZoe4HQghRTCPVaTt27Ahra2uEhYVh4sSJyMnJwe7du+Hi4gITExN07txZZtrskCFDMHv2bHz55ZeaPypCKhCN8SCEEMU0Up3WxMQEa9euRXBwMDw9PWFmZgYXFxemhcPY2BjGxsYyn1ulShVYWlpq8HB0iy7d4EjlpCvnIAVYhGgOVafVYrpy0SekolHgQQh7qqrTchrjQSoHuhhWTroUENI5SAhRF9VqIYQQQki5ocCDEEIIIeVGY0XiYmNjER4ejqSkJJibm8PDwwPff/898/7hw4fx22+/ITk5GQYGBmjcuDEmTpyIevXqaf6oCCGEEFIpaaRI3KNHj7B06VIsWbIE7du3x9OnTzFv3jwYGxtj4MCBAIqr106fPh2NGjUCAKZmy/79+2FkZFR2R/gZ06WxBKRy0pVzkMayEKI5rAKPksXeSheJs7KywuXLl9GqVSt07NgRANCwYUP06dMHx48fZwKPkSNHSn3mDz/8gMOHD+Ply5do2LChpo6HsKQrF1JduTFWFK7nUUV8L7pyzhNS2WmkSFxRURGKiqRn5RYWFiIpKQkikQimpqYyn3fz5k0YGxujVq1a/I6AcML1wl8RF28KHggh5PPBOvCQFIn7+PEjzp8/DxsbG+a9Dh064Ndff8WVK1fQoUMHJCQkICoqCgCQnZ0tE3g8ffoUGzZswPTp02FiYqKhQyHlgYIAUpI2nQ989pVaSwjRHI0UiWvevDl8fHywb98+rF27FjVr1oSnpyciIiJgYWEhtf7Dhw+xYMECjBkzBn369FG8IVEqkFPiQmFCReMqA7oAq6ZNN2O+6HwghJS+X9+4cUNpoTiNFIkDigegdunShVkmJCQETZs2lUqVHhcXh6VLl2L69Ono2bOn8o1QdVpCCCGk8iuL6rSqisQVFhYiPj4eTk5O+PTpEy5fvoyoqCisXLmS+Yw//vgDq1atgre3N9zc3LgcGqkEdOlpnqimK+cDtewQojkaKRJXWFiI4OBgvHz5EoWFhWjUqBFWrlyJ5s2bM5+xZcsW5ObmYtWqVVi1ahXz+uzZs9GtWzcNHxYhhBBCKiMqEqfFdOVpk5CKRi0ehLBHReKIXHQhVY0CO9UojwchRF1Uq4UQQggh5YYCD0IIIYSUGwo8CCGEEFJuOI3xWLx4Ma5evYq1a9eibdu2uH79Oo4cOYKnT5+ioKAAX3zxBX744Qe0b9+eWaeoqAi7d+/GmTNnkJ2dDScnJ8yaNYuq0xJCCCE6RO3A4/z588jNzZV6LTMzEx4eHmjTpg1MTU1x+fJlLFu2DJs2bWKq0R46dAhRUVFYvXo1atasiYiICHh7eyMiIoLSpnPEZ7CcNtVqqSi6cqw00JMQUp7UCjzS0tKwa9cuBAcHY9iwYczrpfNwdO3aFfv378c///zDBB4nTpzAkCFDUL9+fQDA2LFjcebMGfzxxx/o3r073+MgRKfRDBxCiLZgHXgUFRVh9erVGDlyJOzs7JQum5KSglevXjHl7rOysvDmzRs0adKEWUYoFKJhw4Z48uQJBR6E8FQRrV+EEMIF68GlJ06cQFFREdzd3ZUul5WVhcWLF8PV1RWtWrUCAIhEIgCAubm51LLm5ubMe4QQQgj5/LFq8UhKSsLevXsREhKidLkPHz7A29sbX3zxBebPn8+8bmpqCqA4KCkpKysL1tbW8j+MqtMSwhq1WhBCKkxZVKe9d+8ePn78iEmTJkm9vnTpUnTu3Blz5sxBamoq5syZgxYtWmD27NnQ0/t/Y4q5uTns7e3x6NEjNGvWDAAgFouRkJCguE4LVadVic/Nhgb3lR0KAlSjAa2EfEbKojpt586d0bZtW6nXhgwZgtmzZ+PLL7/Ey5cvMXfuXLi6umLatGlyP8PT0xOHDx9GmzZt4ODggL1790JfXx+dOnViswuEEEII+QywCjyMjY1hbGws83qVKlVgaWmJrVu3IjU1FadPn8bp06eZ97t164bZs2cDAIYOHQqRSAQvLy+IRCI0atQIgYGBNJWWEEII0SFUnVaLUVcLkaio7h0qEkcIKY2q0xKiA+imSgjRFhR4EKLjqOWMEFKeKPAgRMNoVgshhChGgQchGqZtrQAUKBFCypNGqtOWdPXqVSxevBjfffcdFi5cyLz+6NEjhIaGIiEhAXp6emjRogWmTZsGe3t7fkdACKHggRCiNTRSnVYiIyMDISEhcHZ2lnq9sLAQCxYsQNeuXREYGIiCggKsXr0afn5+2Lx5M7c9J1SdtpKiIEA1Oo8I0V2sa7UA/69OO2fOHLnvr1u3DgMHDkTNmjWlXs/OzsaHDx/Qq1cvGBoawtTUFD169MCTJ0+47zkhhBBCtA7rwENVddro6Gh8+PABAwYMkHnPwsIC/fr1w5kzZ5Cbm4usrCycO3eOspYSQgghOkYj1WnT0tKwfft2eHt7S9VoKcnNzQ1///03+vTpAw8PD7x+/RpTp07lvueEEEII0TqsAg9JdVpFXSxr1qzB4MGDUatWLbnvJyYmYu7cuejfvz+ioqJw5swZfP3115gxYwZycnLkb1SUCry9////RNRvTgghhFQ6pe7XN27cULq4RqrT3rx5E/Hx8fjll18AgAkmbty4gSNHjuDp06cwMjJCv379mHWHDh2KvXv34tmzZ2jatKnsRqk6LSGEEFL5VUR12tGjR0u9FxISgsLCQsyYMQOGhoZo1KgRPn36hFOnTqF3794Qi8U4evQoTExM8MUXX7A9NKJBNKug7NDflhBCFNNIdVp5y4vFYtjY2AAA7O3t4efnh927d2P79u0AgPr16yMgIAAWFhZ89p8QQgghWoSq0xJCCCFEY1RVp1UrjwchhBBCCB8UeBBCCCGk3FDgQQghhJByQ9VptRjVBCGkfNBMJUI0RyPVafft28fk8JDIy8vDN998A39/f+a12NhYRERE4Pnz5zA0NETLli3h6+vL7wh0GF0MCSGEaBuNVKcdOXIkRo4cyfz/hw8fMGTIEHTv3p157fLly9iwYQO8vb3x5ZdfAgCePn3Kdb8JIYQQooXUCjwk1WmDg4MxbNgwhcudPXsWVapUQceOHQEUF5jbunUrRo0ahfbt2zPLNWnShONuE4C6WggpL9S6SIjmsA48VFWnlSgsLMSpU6fQt29fCIVCAMCrV6+QkpKCrKwsjBkzBu/evUPt2rUxbtw4tGrVivdBEEIIIUQ7aKQ6bUl//fUX0tLS0LdvX+a1jIwMAMDFixexfPlyHD16FF26dMGCBQvw+vVrjrtOCCGEEG2jkeq0JZ04cQIdO3ZE9erVmddMTU0BAAMGDEDt2rVhYGCAAQMGwMbGRnEVO6pOSwghhFR+FVGdVhKQJCcn4+bNm1i7dq3Ucl988QWMjY0hEAjYHwhVpyWEEEIqv4qoTitx8uRJfPHFF2jdurXUsoaGhujbty+OHTuGtm3bwt7eHqdPn0Z6ejpcXFzY7AIhhBBCPgMaq06bn5+Pc+fOYdSoUXI/Y9KkSRAIBJg+fTo+ffqEevXqITAwEPb29jx2nxBCCCHahKrTajGaTktI+aDptISwR9VpCSGEEFJpUOBBCCGEkHJDgQchhBBCyg0FHoQQQggpN6xmtezevRt79+6FoaEh81r79u2xePFiAMXF3oKDg/H48WOYmZmhb9++GD16tNy8HaUr2xJCCCFEd7Cu1dK0aVNs2rRJ5nWRSARvb2/07NkTq1evRlJSEubNmwczMzMMHjxYall5lW0JIYQQojt4d7VcuXIFhYWFGDt2LIyMjFC/fn0MHToUkZGRUstJKtuySbtOCCGEkM8T6xaPhIQE9OvXD8bGxmjWrBnGjx+PGjVq4OnTp3B0dGQq0QJA48aNkZycjOzsbJiZmbGubEsIIYSQzxurwMPNzQ09e/aEnZ0d0tPTERoaijlz5iAsLAzZ2dkwNzeXWt7CwgJAcTeMmZkZ68q2pPxQQqSyo0uJ3bieR7r0NyKESGMVeNSrV4/5t42NDby9vdG3b1/cv38fZmZmSEtLk1o+MzMTQHFVWkll25CQEPX2TJQK5JS4OJlQ0ThCCCGk0il1v75x44bSQnGsu1pKEggEEAgEKCoqQoMGDfDbb79BLBYz3S3x8fFwcHCAmZkZ/vjjD1aVbWVQdVpCCCGk8iuL6rQxMTFo06YNqlSpgnfv3mHbtm2oWrUqnJ2dAQA7duxAeHg4fvjhByQnJ+Pw4cMYOHAgAPaVbQkhhBDy+WMVePz2228ICgpCbm4uLCws0KJFC6xbtw6mpqYAgNWrVyMoKAienp4wNTWFh4cHM5WWTWVbQgghhOgGVoGHv7+/0vcbNGiA4OBg1huNiYlhvSwhhBBCPh+cxniQyoHPzBSuswpoNgzRBDqPCNFdVKuFEEIIIeWGWjy0WEXkQqD8C6QkXTkfqIWGEM2hwEOLUVdL5aQrN2OAzgdCiPp4V6dNTk5GQEAAXr16hYKCAlhZWaFHjx4YOXIk9PSKe3K2b9+O69evIyUlBcbGxmjVqhUmTZoEW1u6aPFBLR6kounK+UABFiGaw7s6rZWVFby9vVGzZk0IhUIkJydjwYIFMDc3x4ABAwAUJxybN28e6tevj7y8PGzYsAE+Pj4ICwvT3JEQQgghpNLjPbjU1NQUtWvXZrKWSrKavnr1illmwoQJaNSoEQwMDGBubo7hw4fj6dOnTGp1QgghhOgG3tVpJX766SfEx8cjPz8fNjY26Nevn8LPunnzJuzs7JhicoQQQgjRDbyr05qYmAAAgoODIRaL8fDhQ8TGxsLKykruZ8XFxSEiIgLLly/X2EHoKup3JoQQom14V6f96quvmPeEQiGcnZ1x7949rFu3Dr6+vlKfExsbC39/f/j4+KgsIkPVaVXTlYF9hFQ0CvIJUaK8q9PKIxaLpcZ4AEB0dDSCgoKwZMkS1UEHQNVpWaCLISGEkAqnZnVaVoNLY2JikJGRAQB49+4d1qxZw1SnvXXrFu7fv4/8/HyIxWLcvn0bv/76K1xcXJj1jx8/juDgYAQEBLALOgghhBDyWeJdnVYkEmHr1q1ITk6GUCiEtbU1BgwYgBEjRjDrBwcHQygUYt68eVKfGxgYiBYtWmj2iAghhBBSaQliYmLk95dUsC7jNlT0LhDCCY29UY26CQn5fMXs/Fnp+1QkjhBCCCHlhgIPQgghhJQbCjwIIYQQUm4o8CCEEEJIueFdnRYA8vPzsWfPHly8eBEZGRmoUqUKxowZgx49egAAioqKsHv3bpw5cwbZ2dlwcnLCrFmzpBKTEUIIIeTzx7s6LQAsX74ceXl5WLduHRwcHPDhwwepAnCHDh1CVFQUVq9ejZo1ayIiIgLe3t6IiIhgUq4TQggh5PPHKXNpSXFxcbh16xYOHjyIqlWrAgCqVq3K/BsATpw4gSFDhqB+/foAgLFjx+LMmTP4448/0L17d767QAipIDQtlhCiLt7VaePi4lCjRg0cOHAAFy9ehFAoRNu2bTF58mRUqVIFWVlZePPmDZo0acJ8llAoRMOGDfHkyRMKPAghhBAdwmpwqZubG8LDw3H8+HFs2rQJAoEAc+bMQU5ODjIyMvDixQt8+vQJ+/btw7Zt25CWloaAgAAAgEgkAgCYm5tLfaa5uTnzHiGEEEJ0A6vAo169erC3t4dAIGCq06alpeH+/fswNTWFQCDApEmTYGJigmrVqmHMmDG4efMmcnNzYWpqCgDIysqS+sysrCzmPblEqcDb+///T0TZIAkhhJBKp9T9+saNG0oX512d1snJSeEyRUVFMDc3h729PR49eoRmzZoBKK5em5CQgG7duineCFWnJYQQQio/NavTsgo8YmJi0KZNG1SpUgXv3r3Dtm3bmOq0AoEA1tbWCAsLw8SJE5GTk4Pdu3fDxcWFmbHi6emJw4cPo02bNnBwcMDevXuhr6+PTp068ThSQjVBSEXTlXOQBtESojm8q9MCwNq1axEcHAxPT0+YmZnBxcUFkyZNYtYfOnQoRCIRvLy8IBKJ0KhRIwQGBtJUWp7oYkgIIUTbUHVaQgghhGgMVaclhBBCSKVBgQchhBBCyg3vzKWk4ujKwD5CKhqNpyJEcyjw0FG6ciGl4KxscT2P6HshRHexDjxUVaiNjo7GgQMHkJKSAlNTU7i5uWHixInM8omJidiyZQsePHjA5P+YMmUKGjRooOFDImxwvfBrW8BSEftLN1VCCFFMrRYPRRVqExISsHLlSixatAidO3dGamoq5s2bByMjI0yYMAEA4OvrCwcHBxw4cAD6+vrYsWMH5s+fj0OHDkFPj4aaaAu6qZKS6HwghKhLI10tr1+/hpmZGbp27QoAsLe3x9dff42EhARmmeTkZIwaNYrJ/dG7d28cPXoUHz58QLVq1TSxG6QcaFuLB90YKydtO48IIZqjVuChqELtV199hVq1aiE6Ohpdu3bFmzdvEBsbiyFDhjDrfv/994iOjkarVq2gr6+PU6dOwdnZmYIOLUM3cqIJ2nYeUaBEiOawDjzc3NzQs2dP2NnZIT09HaGhoZgzZw7CwsJgYmKC3r17Izg4GKtWrUJhYSG6d++OXr16Met/9dVXuHr1Kjw8PCAQCGBvb4+VK1cq3qAoFcgpcXEyodotlYG2XYC17QanK7TtPCKEKFHqfn3jxg2l9Vo4Zy7Nz89H37594e/vj7dv3yIkJAR+fn5o3rw53r9/j7Vr18LExARLlixBVlYWRowYAQ8PD3z//fcQCoU4d+4cdu7ciZ07d8La2lrm8ylzqWoVcVPVthsGBR5lS9vOB0JI2VOVuZTzGI+SFWofP36MFi1aoGXLlgCA6tWro2/fvvD19QUAJCUlITMzE0OHDmXqs3h4eCAsLAz//PMPMzaEEKJddGV2FCFEc1gHHsoq1GZnZyM6Ohr3799Hs2bNkJGRgbNnz8LJyQkAULt2bVSpUgVHjhzByJEjmRYPkUgER0fHMjs4QugGVzlRax0huot14KGsQm2XLl3w9u1brF69Gm/fvoWRkRFatGiBhQsXAgBMTEywatUq7NixA4MHD4ZYLEbNmjWxZMkS1K5du8wOjmgedV0QbcXn3KWghRDNoeq0WoyCAELKBwUehLBH1WkJIYQQUmlQ4EEIIYSQckNF4rQYNf8SQgjRNtTiQQghhJByo1aLx4MHD7Bz5048evQIenp6qFu3LoKDg/Hp0yesXLkSCQkJSE5Oxvfff49x48axXp+KxBFCCCG6gXXg8eDBA8ybNw8zZsxAQEAADAwMEB8fzyQSa9asGTw9PbFjxw611yeEEEKIbmAdeISGhqJ3797o0aMH81rTpk0BAIaGhhg8eDDzb3XXJ+RzokvTnGmcESFEXawCj9zcXDx48ABNmzbFlClTkJycDDs7O3z//fdwc3Mr8/UJIYQQ8nlgFXhkZmaisLAQFy5cQEBAABo2bIhr165hxYoVsLa2RrNmzTS/PlWnJYQQQio/NavTsgo8JIXdevTogcaNGwMAXF1d0apVK1y9elVl4MFpfVMKNFTRpSZ9UjnpyjlIXUqEKFHqfq0s6ABYBh7m5uZwcHDgPBCU7/pEProYVk66cjMG6BwkhKiP9eDS/v37Y//+/ejatSvq16+P2NhY3L17F2PGjAEA5OfnAwCKiopQWFiI/Px8CAQCGBgYsFqfqI+KXhFtpW3BGf1eCNEc1oHHoEGDkJeXBx8fH2RlZaFWrVpYsmQJMzNl1KhRSElJAQD8888/2L9/P1q2bImNGzeyWp+Qz4W23aS0LQgghGg3qk6rxajFo3LSpRs51/NI2/5G9HshhD2qTksIIYSQSoOKxOkobXviJJUTnUeEEHVR4KHFqPmXEEKItqHAQ4vR0yYh5YOCfEI0RyPVaUtWl42Pj8e0adPQpEkTbNq0SeYzxGIxpk2bhvj4eOzbtw81a9bkfxQ6ii6GhBBCtI1GqtNK5OfnIzAwEC1btmTyepS2b98+WFhY8N9zQgghhGgdjVSnlQgLC0ObNm1gbm6OuLg4mc94/PgxLly4AF9fX4wfP57HbhNCKgOu3X3UWkeI7tJYddq7d+/i+vXr2L59Ow4ePCjzGfn5+Vi1ahVmzZoFMzMzzR4FURvdMIgm0PlACFGXRqrT1q9fH6tXr4a3tzeMjY3lfsauXbvQpEkTfPXVV3jz5o3qjVJ1WkLKBSWiI4TwUhHVac+fPw8XFxe0bNlS7vr379/H77//jp07d7I+DqpOSwghhGiBiqhOe+PGDWRlZeHixYsAgLy8PBQUFMDT0xNbtmzBrVu38P79e4wYMQJAcSE5AJgyZQoGDRqEUaNGsdkNQgghhGg5jVSnHTx4MMRiMbPs4cOHcf/+ffj6+qJatWoYPHgw+vTpw7yflpaGadOmwd/fH/Xr19fsERFCCCGk0tJYddqSzMzMoK+vDxsbG+b/Sw4olQQp1apVo4GmPFREAjFKWkZK0pXzgcayEKI5VJ2WfNZ05cZYUeiGTAgpTVV1WkqZrsXopkoqmq6cgxRgEaI5FHhoMboYqqYrN8aKQucgIURdeqoXIYQQQgjRDI0Uibt48SLWr18vtWx+fj7q1q3L5O7Yvn07rl+/jpSUFBgbG6NVq1aYNGkSbG3piYkreponFU1XzkFq2SFEczRSJK5bt27o1q0bs2xBQQGGDBmC7t27M68JBALMmzcP9evXR15eHjZs2AAfHx+EhYVp9oh0CF0MKydduRkDdA4SQtTHuqulZJE4Y2NjCIVCNG3aVG5SsStXrkAkEqFXr17MaxMmTECjRo1gYGAAc3NzDB8+HE+fPkVmZqZmjoQQQgghlZ7GisSVdOLECXTp0gWWlpYKP/PmzZuws7ODhYUF970nhBBCiFbRSJG4Zs2aMcs+e/YM//zzD6ZMmaLw8+Li4hAREYHly5fzPwJCCCGEaA2NFIkrGXhERkaiUaNGzHKlxcbGwt/fHz4+PsoLyVB1WpV0aSwBqZx05RyksSyEKFEW1WlVFYljti0S4bfffsP06dPlvh8dHY2goCAsWbJEZfU6qk5LCCGEaAE1q9OyHlzav39/nDt3DgkJCSgsLMS1a9dw9+5ddOrUiVnmwoUL0NfXR9euXWXWP378OIKDgxEQEKA66CCEEELIZ0mjReJOnjyJHj16wMjISGb94OBgCIVCzJs3T+r1wMBAtGjRgschEEIIIURbUJE4LaYr/euEVDQa40EIe1Qk7jPG52LINWihC3DlVFFBKJ0PhBB1UeChxSriZkOtLKQkXTkfKMAiRHMo8NBi1OJBNIFP8EDnAyFEXRR4EPIZ0JWWB0KI9mMVePz4449ISUlh/r+oqAh5eXnw9fVFp06d8PTpUwQHB+Px48cwMzND3759MXr0aCbvR1FREXbv3o0zZ84gOzsbTk5OmDVrFurVq1c2R0UIIYSQSolV4LF7926p///1118REREBFxcXiEQieHt7o2fPnli9ejWSkpIwb948mJmZYfDgwQCAQ4cOISoqCqtXr0bNmjUREREBb29vREREMFlRifpojAepaLpyPlCXEiGaw6mr5eTJk+jduzcMDQ1x6dIlFBYWYuzYsRAKhahfvz6GDh2K48ePM4HHiRMnMGTIENSvXx8AMHbsWJw5cwZ//PEHunfvrrmjIWWOLsCq6crNGOB+PujS34gQIo115lKJv//+G4mJifDw8AAAPH36FI6OjhAKhcwyjRs3RnJyMrKzs5GVlYU3b96gSZMmzPtCoRANGzbEkydPNHAIhBBCCNEWard4nDhxAl999RVq1KgBAMjOzoa5ubnUMpJS9yKRCEVFxfnJSi9jbm4OkUjEaacJIYQQop3UavFIT0/HtWvX4OnpybxmZmaGrKwsqeUyMzMBAKampjA1NQUAmWWysrKY9+QSpQJv7///PxE1zRJCCCGVTqn79Y0bN5QurlaLx+nTp2FrawsXFxfmtQYNGuC3336DWCxmulvi4+Ph4OAAMzMzAIC9vT0ePXqEZs2aAQDEYjESEhLQrVs3xRuj6rSEVHo0VoMQom51WtaBh1gsxpkzZzBgwADo6f2/ocTV1RU7duxAeHg4fvjhByQnJ+Pw4cMYOHAgs4ynpycOHz6MNm3awMHBAXv37oW+vr5UZVuiHehGQwghhA/WgcfVq1eRkZGB3r17S71uamqK1atXIygoCJ6enjA1NYWHhwczowUAhg4dCpFIBC8vL4hEIjRq1AiBgYE0lZanishcykdFzIjRleMkhBBtQdVpdZSu3JCphaZsUZBFCCmNqtMSUs7oZkwIIYpR4KGjdOXmqCvHyQcViSOElCe1E4gRQgghhHBFgQchhBBCyg3v6rTVq1fHvn378OjRI+Tl5cHOzg6DBw9Gr169mOVzcnKwbds2XLt2DTk5ObC3t8fo0aPh6uqq+SMihBBCSKXFuzrt33//DVdXV8ydOxdWVla4c+cOFi1aBAsLC3Ts2BEAEB4ejtu3b2Pz5s2wtbXF5cuX4evri7CwMNStW1fTx0QIIYSQSop3ddqvv/5a6r3WrVujdevWuH37NhN4JCUlwcXFBfb29gCALl26YOPGjfjvv/8o8KggXAcU0mDCzw99p4SQ8qR24FG6Om1p2dnZePjwIRN0AMCgQYOwdetWJCUlwd7eHjExMQCAVq1acdtrAoByVBDtpSt5ZAghsnhXpy3p06dP8PX1Re3ataXqsNSvXx9169bFyJEjoaenByMjIyxYsADVqlXjt/eEEEII0SpqBR6S6rQrVqyQeS83NxdLlixBQUEBAgICmIJxALBs2TIYGhriyJEjqFatGh48eIDFixdDX18f33zzjfyNiVKBnBJPRSZUNK40bUuZTogEtT4Q8hkpdb++ceOG0kJxak2nlVedFgAyMzMxZ84cCIVCrFq1SqYGS3x8PPr27Qtra2vo6emhefPmaNGiBa5fv654Y6a2QHXn//9HQQchhBBS+ZS6X5d5ddp3795h7ty5qF27NhYuXAh9fdmPbNGiBc6ePQtnZ2dYWVnh4cOHuHv3LiZOnKjGkZHSKqLVglpKiC6iFhpCNId3ddpTp07hv//+Q3JyMtzd3ZnXW7RogcDAQACAt7c3tm3bhvHjxyMnJwfVqlXD4MGDZT6LqKciulroAkwIIYQPqk6rxaj1gZDyQQE3IexRddrPGF0MKyddCgjpHCSEqIsCDy2mSzc4UjnpyjlIARYhmkNF4gghhBBSbqjFQ0fRExypSJS5lBDdxbs6badOndClSxcYGhpKTbMNCQlB/fr1mf9/8OABdu7ciUePHkFPTw9169ZFcHCw1DqEfA50pfsB4H4zpyCAEN3FuzqtREBAANq2bSt3/QcPHmDevHmYMWMGAgICYGBggPj4eAgEAu57TgghhBCtw7s6LRuhoaHo3bs3evTowbzWtGlTLpsmGqJLT+Wk7OjKeUQtNIRojsaq0/r7+0MsFsPOzg4eHh7o27cvgOIaLg8ePEDTpk0xZcoUJCcnw87ODt9//z3c3Nw0cxSEEEII0QoaqU67du1aODs7Q09PD3FxcUwQ4unpiczMTBQWFuLChQsICAhAw4YNmUJz1tbWaNasmUYPiBBCCCGVl0aq05Yc2/H1119j4MCBiI6OhqenJ1MwrkePHmjcuDEAwNXVFa1atcLVq1cVBx5UnbZMUdOxarrSjcAH1/OI/raEfEbUrE6rVuChqDptaQKBAEVFxZnYzc3N4eDgoP5AUlMKNMoSXfiJJtB5RAgpfb8u8+q0jx8/RlFREerXrw89PT38/fff+PXXXzF69Ghmmf79+2P//v3o2rUr6tevj9jYWNy9exdjxoxR59CIBlGLh2pUSK/sUMBCiO7iXZ02PT0doaGhSE1NhVAohJ2dHcaPHy81+HTQoEHIy8uDj48PsrKyUKtWLSxZsoRmtlQguqmqpkvHqgvo+ySkctDO6rSiVO7dMBWxbhltU1nwcD7mA3p0seK0yYpYV1e2yWdd2mbFras0aPmMrilltq6ubJPPup/RNlVVp9XOtKE5PJppK2LdCtjm+d8/cN5kRayrK9vksy5ts5KuqyPXFF7r6so2+ayrK9sE1WohalLZXP02FRujOUTQXNfTtm3yWbeMtslnvIXS86GMtslVmZ27hBC1UOBB1KLqhjF7qQjrl6t/U+G6nrZtk8+6FbW/yig7H8pqm1zxOXdpfAghmlNpAw9lfUSq5ggrUxHrltU2Lz9UvF6N+jdw+SG3bVbEurqyTT7r0jYrbt2YnYrX+5yuKWW1rq5sk8+6urJNoBIPLiWEEELI50c7B5cSQgghRCtR4EEIIYSQckOBByGEEELKDQUehBBCCCk3FHgQQgghpNxoReBRUFAg9/WPHz+W854Qwl9OTg7y8/MrejeIjnj69GlF7wIhUiptHo+SVq9eDR8fH6nXcnJyMG/ePGzdurXMt19UVIR3796hevXqrNcZO3Ysdu3aJfP6+PHjERYWpsndqxTu3LmDR48eQSQSSb0+duxYucsXFhbiwIEDiIqKwocPH3D69GncuHEDqamp6Nu3r1rbTkpKgp6eHmrUqMFp39mun5iYCHNzc1hZWSEnJwcHDhyAUCjE8OHDYWhoqHC9nTt34ptvvkHTpk0RFxcHHx8f6OnpYcWKFfjyyy9Z72dcXByEQiFatWrFeh113bt3DzY2NrC3t8f79++xdetWCIVCTJ48GVWqVFG6blZWFgwMDGBkZITCwkJERUVBKBSiZ8+elXJ/+SgsLMSFCxfknvOlr1WaEhISAk9PT9SqVUut9aZMmQInJyd4eHigc+fOSs/V0sRiMYRCobq7Wmmw/c1w/W1XpOzsbMTGxiItLQ3Dhw/Hu3fvAADVqlVTul5CQgJOnTqF1NRU2Nraom/fvmjYsCGrbV68eBFRUVF4//49du7ciX/++QcfP35Ex44d1dp3rWjxeP36Nfbt28f8/6dPn7B48WJWN5rExETMmzcPnp6e6Natm9R/quTm5mLdunXo0aMHRo4cCaC4Sm/JfVHkzZs3cl9PSUlRua6EWCzG/fv3cenSJQBAfn6+zJPy3bt3Wf2njsLCQqn/VNm1axfmzp2Ly5cv4969e8x/9+/fV7jO7t278fvvv+PHH39kXqtZsyZOnjypcnuBgYG4d+8eAODSpUsYNWoURo4ciYsXL6o+OB7r+/n54e3btwCKj/mPP/7AH3/8gS1btihd78KFC6hduzYAYO/evRg/fjymTZuGnTuVZKUCMHfuXNy5cwcA8Ouvv8LHxwcLFizA0aNH2RymlLi4OOazlNm4cSPTwrhjxw6kp6fj3bt3CA4OVrmuj48P83QdERGBnTt3YufOnXID8NISExPx4cMHAMUPFbt27cKePXtUtgzx2V8+Nm7ciK1bt+LDhw8QCoVS/6kyceJEnD59Gjk5OWptMzExET/++CNmz56NmJgYiMViVusdPHgQX3/9NcLDwzF48GCEhITg5cuXrNYdPHgwwsLCFF7PlLly5QqznaSkJPz000/4+eefkZyczGp9Nte/0rj+Zrj+toHi4Ffy93n//j0CAgIQGBiIjIwMletmZWUhLy8PQPF198yZMzh37pzK9RISEvDDDz9gz549iIiIYF4LCgpSut6NGzcwdepUvH37FrVr18a7d+8wbdo0/PXXXyq3eezYMezYsQOtWrVi7mMWFhY4ePCgynVL04oWD19fX0ybNg21atWCm5sbVqxYAYFAgIULF6pcNyAgADY2NvDy8oKxsbFa2922bRvevHmDdevWYcGCBQAAJycn7Ny5kwlESjt79iwAME98RUX/z8/26tUrVK1aldW2X79+jQULFuDNmzcQCATo2rUrrl+/jqtXr0o9Uf38s3SGV4FAILVNgUAAACpvqi9fvsSGDRvw6NEjmR+3qnXPnDmDoKAgNG3alNWxAUB0dDSCgoJga2vL3CRq1KjB6gJ348YNzJw5EwBw5MgRLF68GKampggNDcW3335bZusnJyejXr16AIovqhs2bICJiQkmTpyIWbNmKVwvOzsb5ubmyM/PR0JCAtauXQt9fX2EhoYq3c8nT56gWbNmAIrPq8DAQJibm2P58uUYNGiQ0nXnzp2L77//Hq1atcKvv/6K7du3Q09PD+PGjVO6bkpKCvNEff36dezYsQPGxsb44YcflG4PAF68eIFGjRoBKD5n1qxZA1NTU/z8888KW74k/Pz8MHfuXFhZWWHXrl24desWhEIh3r9/r/Rvy2d/f/75Z+b3UZKhoSHs7Ozw3XffoXnz5nLXvXz5MkJCQtRufQCAb7/9FocPH8a2bdvw7bffwsPDAw0aNFC53sqVK5GSkoIzZ85gy5Yt2LRpE3r27Al3d3elD2HVqlXDyJEj8f333+PGjRs4ffo0xo8fj2bNmsHd3R1ubm4KA6aZM2fi9OnTOHToENq0aQMPDw9888030NNT/cwaFhaGtWvXMv+2sbGBkZERNm/ejICAAKXrsr3+lcb1N8P1tw0UB6HLly8H8P/g18DAAMHBwVi8eLHSdX18fDB58mQ0bdoUEREROHnyJIRCIZKTk5X+ZjZv3oxRo0ahX79+cHd3BwA4OztjzZo1SrcXHh6O+fPno2vXrsxrMTExCA8Ph4uLi9J1IyMjsWrVKtStWxeHDh0CANSuXRuvXr1Sup48WhF4VK1aFX5+fpgzZw6io6Px4cMHrF+/ntXTxYsXL7Bp0yZOzYV//vknwsLCYGlpyfzQbG1tkZ6ernCdvXv3AihulZFEogCgp6eHqlWrYvr06ay2HRwcjA4dOmDs2LHo168fAKB169YyEXh0dDTz75iYGFy6dAkTJkyAvb093rx5g7CwMKmTTJHVq1fD2toaS5cuVTtAKygoQJMmTdRaRyQSwcbGRuq1wsJCVt9TXl4ejI2NIRKJkJiYCFdXV+jp6cHX15fVtrmuX1RUBIFAgOTkZAgEAjg4OAAoDiyUMTU1RVpaGp49ewZHR0fo6+sjPz9fKkCUp6CgAAYGBsjIyEB6ejrTXCxpUlWG6wVYKBSioKCAaXquXr06ioqKkJubq3Kbku8vPT0dIpGIuZmyGYvF9cLPZ3/r1auHqKgouLi4ML+Xv/76C926dcO7d+8we/ZseHt7y20dNTAw4Ny1N3ToUAwdOhR///03Tp8+jSlTpsDR0REeHh7o2rWr0qZ9Ozs7jB07FqNHj0ZsbCwiIiKYoGDIkCH46quvFK4rEAjw5ZdfIjs7G69fv8a///6LxMREbN++Hd7e3mjTpo3MOm5ubnBzc0NSUhJOnz6NdevWQV9fH3369EHv3r1lfsMlvXv3Dra2tigqKsLff/+NX375BYaGhhgyZIjKvxHb619pXH8zXH/bQMUE68+ePcP69esB/P/h0tTUVGUrWmJiIjp37iz1mqurK9atW6dyXz98+IC6detKbZOrSht4lG6OMzY2xogRI3Do0CGsWLGCaRaTnCCK1KtXD2/fvoWtrfpFngoKCmBmZib1Wl5eHoyMjBSuc+DAAQDA/PnzsWrVKrW3KfHw4UOsWLECQqGQ+ZItLCyQlZUltVzJG3V4eDhCQ0Nhbm4OoPjY58+fj8mTJ6tsCXj27Bk2bNgAAwMDtff122+/xeXLl2VOaGXq168vs861a9fg6Oioct0qVargxYsXePbsGZo2bQo9PT3k5OSw/jFwXb9BgwbYt28fUlJSmLEZaWlpMudIaT179sS0adPw6dMnTJo0CQDw6NEjlU/LNjY2uHPnDl68eIGWLVsCKG6a1ddX/bPlegFu0qQJgoKC8O7dO3z99dcAip8+LS0tVW6zZs2aOHfuHJKTk9G6dWsAQEZGBqtAluuFn8/+vn37FsuWLZN60pO0CKxYsQKXLl3Cvn375AYe7u7uOHbsGAYPHqxyO4q0adMGbdq0QUpKCpYsWYLVq1djy5YtcHd3x8iRI2FiYiJ3vcLCQsTGxuLUqVN4/vw5OnXqBAcHB/j7+6Nbt26YNm2azDqSwOH8+fMwMzODu7s7evbsCXNzc5w6dQqBgYHMU6w8NWvWxKRJk+Dh4YFly5Zhz5492Lt3L9zc3DBlyhRYW1vLrKOvr4/c3Fy8ePECNjY2MDc3h1gsxqdPn1T+bdhe/0rj+pvh+tsGKiZYNzc3x/v376XGHaakpKgc31G1alX8999/UtfZZ8+ewcrKSuW+1qpVC3fu3JEaL3P37l2mG1kdlTbwGDlypMyNQPKEOG3aNOZCpaobwMvLCxs3bkS3bt1kvhTJialI48aNERkZiYEDBzKvnTt3jlWXQumgQ90BkMbGxsjNzWWCCKA44lR2QZV3sgoEAlZ9jTVq1EBWVhbrrqCSMjIysHLlSpw6dUpmAK6iZtEJEyZgzpw5uHr1KvLz87FmzRpcvnyZaZpVZtCgQZg8eTIAME2Z//zzDxONl9X6M2bMwMaNG2FgYID58+cDKB470bZtW6XrjR07Fi1btoS+vj5zzhkaGjJBiCKjRo2Ct7c39PX1ERgYyGyPTXDG9QI8e/Zs7NixA5aWlswT26NHj1h1YU2ePBn+/v4wNDSEn58fACA2NpZ5olOG64Wfz/7GxcVh2bJlUq99+eWXTMuXm5ubwifBuLg4PHr0CJGRkTI3XVX97BIvXrzAqVOnEB0djerVq+Onn36Cg4MDDh48iEWLFslsW9LNEhUVBT09PfTp0wfz5s1jrmuenp4YO3asTOAxe/Zs3L9/Hy4uLliwYIFMq4inpye2b9+udF//+usvnDp1Cjdv3kTbtm0xZswYODg4YN++fVi0aBG2bdsms07btm3h6+srNfjw1atXKm+OALfrH8D9N8P1tw1UTLDeuXNnrFq1iukyTktLQ3BwsMrzvnfv3li4cCGGDRuGGjVqIDk5GYcPH4anp6fKfR01ahQWL14MT09PfPr0CXv37sXx48eZYQjqqLRF4tgOZrK3t1f6/qVLl7BmzRpmAI8Em6Dl5cuXmDlzJmrWrInHjx+jefPmSEhIwObNm/HFF18oXTcwMBC9e/dG8+bNcenSJfj7+wMovhGzuShu2LABOTk5mD17NoYMGYLjx49jw4YNMDIywowZM+Sus2TJEuTn52Py5MlM03FoaCgMDAxUdiOcP38ev/32G0aNGiUTPKhqVZL8wOWZN2+ewvdevnyJEydOICkpCVWrVkW/fv1Y3aSA4kBOKBQy3/+rV69QUFDANNeX9fpccJkdJTlvJa1sbEeux8TEYOXKlcwFuHnz5rh8+TJOnjzJqllVXWKxGI8fP4ajo6NUq5lk4KeqgOfp06dSF35bW1ucO3cOd+7cYW4EmjZy5EjMnDlT6kZ869YtbNiwAb/88gtEIhGGDx+OEydOyKy7Z88ehZ87evRopdu9cOECTp8+jfj4eHTs2BGenp5o0aIF835ubi769++PqKgoqfW+++47ZpxF+/bt5Y6z8Pf3lxn7tmvXLri7uyvtFsnOzpYb5EVERODs2bPIz89Hr1694O7uLnXN/fTpEzw8PGT2FSgOdA8dOgR9fX1mdsiff/6J169fSz3MycPl+ifB9TfDVWpqKnbs2AF9fX1MnToVFhYWuHTpEp4+fYoJEyYoXff27dsICAhggvV69erh3LlzuHz5MlauXKlwvfz8fKxfvx4XLlwAUHw/69ChAxYtWqS0q66wsBBHjx7F6dOnkZaWBhsbG/Tp0weDBw9mNW7n9u3bOHr0KJKSklCtWjUMGDBA7RktQCUOPDRl6NChGDJkCHr27CkTRbIZT5CRkYHz588zf+hevXqx6rYZOHAgfvnlFxgbG2PKlCkYOnQoM4BR1WwGoPhHu3jxYjx48ABisRgGBgaoV68e1qxZI/UUUNKHDx/g7++PuLg4prWoTZs28PHxUdmSUXIciGRdtq1K6iooKMCiRYvg6+vLa6paeno6UlNT1RrUytfr169x8eJFpKenY9asWUhKSkJBQQHq1KmjcJ3c3FyEhITg/PnzEAqFiIqKwtWrV/H8+XOFg5QlxGIxHj58iNTUVHTt2pUZ+Mvm78b1Anz//n2cO3cO7969Q0BAAB4/foy8vDyFAy0levXqhbNnz6rd/ysWi3HlyhV06NCB1XH9/fffrD5X3piFkqKiorBhwwZ07NgRdnZ2SElJwbVr1zBr1iz06tULV65cQWxsrNLgmYvhw4ejb9++6N27t8Lf5cmTJ+Hh4SH1WlJSEmrWrKnRfVFl5syZ8PDwgJubm8Lg8fr168yTvqZwuf5J1uMypbuipmXLwzZYB4pbuSX3Jjs7uzLdp02bNmHatGkamV6sFYFHSEgIOnXqJPVUcPfuXVy7dg1Tp05Vum7fvn1x+vTpst5FhdsViUQYOnQoTpw4AT09PbX358mTJ0hMTES1atXQvHlzVlFpeno6E83K63uVR1kLk6pWJaA4SHn06BFSU1NhZ2eHRo0aKb0B9e/fH0ePHuU06DcjIwN+fn6Ii4uDkZERoqKiEBMTg3v37uGnn36Su46iGQylSQZsyfP3339j4cKFcHZ2xoMHD3D27Fn8888/2L9/v9LxPBs3bkRSUhJGjRqFBQsW4PTp00hNTcW8efMQHh6ucL3SI/ujoqJw5coVlSP7+bh06RLWr1+Pzp07IyYmBmfOnEF8fDxCQ0OV/m2A4hw1q1atYn3OldS7d29mRpgqbAZLsw2Y7969i+joaKSnp8Pa2hrdunVT2QUrkZubi9jYWOacd3FxUTguoyRJ/oTSJL9ZRbjmBlLUImloaAh7e3u4ubmpbNXk4vjx42jevDkcHR3x+PFjLFq0CEKhEMuXL4eTkxOrz3j8+DFzY2Vz/fvpp5+YWSK7d+9mZon06tVL6WDNcePGYfny5ahVqxZWr16NN2/ewMDAAObm5ipnply5cgV169ZF7dq1kZSUhMDAQAiFQsydO1fl35Vr/pC0tDQYGRlJded8/PgR+fn5Kn9/IpEI165dY8639u3bsxrL4uHhwSrdARuVdoxHSZcuXZI5aZycnLBixQqVgUe7du1w7949lU9rikgSpqSmpsLGxga9evXCd999p3I9vgMg9+/fjxEjRqBhw4ZSyV0OHDiA4cOHK11XKBRCT09PrZs6m+BCkbdv32LhwoV48uQJzM3NkZWVhYYNG8LPz0/hj8DV1RXR0dGckktt2rQJ1apVw6FDh5jzolWrVkrzRZT8/rOysnD27Fm4uLgwU3j/+usv9OrVS+l2t2/fjoULF6Jjx47MFLZGjRrhyZMnStfjMjsKUH9k//Dhw1mdX/v371f43r59+7Bq1So4Ozvj8uXLAIoHKT979kzl5w4YMAC+vr4YPXo07O3tpfZF1QW4fv36ePnyJauBapK8DprQsmVL1oFGSa9evcKcOXOQl5cHOzs7pKamwsDAAGvXrlV5DGPGjMGZM2dkXh83bpzSCzvX3EC5ubm4evUqGjRoAHt7e6SkpCAhIQHffPMN/v33X4SHh8Pf31/hjBiuSaOOHDnCDB7ftWsXOnfuDBMTE2zduhUbNmxQuq6Ek5MT6yAF4D5LhM/MFD7ThrlOI1++fDlmzJghFXi8fv0amzZtwubNmxWuFx8fj/nz50MoFDLn7ZYtW7Bq1SqV3dxfffUVbty4gXbt2ildjg2tCDzkzSQxMjJiNWrYysoKCxcuhKurq0wTs6rcAgcPHsSBAwfQp08fuLq64s2bN9i0aROTKU4ZvgMgf/nlF4wYMULmdWWBR3Z2NlatWoVr164BKH7qa9++PebNm6e0eVLi2rVrOHXqFFJSUmBnZ4e+ffuy6r8LCQlBjRo1sHr1alhaWuLjx48ICgpCSEgIli5dKnedjx8/Yv369Th9+jRq1KghdZNS9TT/999/Y//+/TA2NmbWq1q1Kt6/f69wnZLf9dKlS7F06VJ88803zGuxsbEqE/ckJiYyfw/Jdo2MjFQmNeIyOwpQf2R/yW6btLQ0nDhxAt27d2fG+0RHR6scRJaamgpnZ2epYzQwMGCVrEpy8Z07d67a3XWdO3fGkiVLMHjwYJmgRVWXCR/Jycl4/PixTPbR3r17K10vJCQErq6umDx5MoRCIcRiMUJDQ5mLuDLyplErS9THNzeQmZkZfv75Z6ljioqKwoMHD+Dr64sjR45g586dcgOPY8eO4dChQ3B3d2cSRVlYWGD79u0qrw0fP35E1apVmURgy5Ytg4GBAQYMGCB3eWVjxUpS1vXFdZYIn5kpfKYNc51G/uLFC5mArGHDhioTwwUFBaFfv34YNWoUk/Np7969TEI8ZapUqYJly5ahffv2MtdsVffS0rQi8KhRowbu3r3LjPoFiptI2fRpPXv2DA0aNEBSUhKSkpKY19k8GUZGRmLlypVSYwg6deqE5cuXqww8+vfvj3bt2kkNYHRwcMDs2bOVrldYWIiioiKp/yRevnyptN8vNDQUmZmZ2L59O2rWrImkpCRs2bIF27dvV7nd8+fPIygoCL1794aLiwuSkpKwatUqTJ8+XWWrxN27dxEREcHcXC0tLfHzzz9j1KhRCtcxNjZmNchWHkmLTkmSJF1sxMXFyQRELi4uzABgRaytrWX62V++fKm0eRzgPjtK3ZH9ffr0Yf7t5eUFPz8/JpcHUDxLQ9X4Int7ezx58kSqle3x48esZmMpa0lRRdKKU3rgK5ug5cWLF/j777/x4cMHqd+LqovhyZMnERQUBEtLS6nxXwKBQGXgER8fD19fX6ZVUSgUYty4cRg6dKjCdSRPvwUFBTJPwsnJyQpbSvjmBrpy5YrM77979+7YunUr5syZA09PT4WDZSMjIxEYGMgpaZSRkREyMzPx7Nkz1K5dG8bGxigoKFBYe6tkcPvp0ydcvXoV9evXZ1olnz59ik6dOindJtdZInxmpvCZNsx1GrmhoSFyc3Oluvby8vJUdkU9f/4cwcHBzP1PIBAwaSpUefbsGRo1aoS3b98y6Swkn6EurQg8Bg4ciBUrVmD48OGoVasWEhMTceDAAZUjhgGwbtKTJzs7W6b5ycnJiVVSGQAyA8FUzYQBikeuS75IeV06/fv3V7juX3/9ha1btzItO46Ojli0aBHT8qLM4cOHsWLFCqnpY+3bt8fmzZtVBh5FRUUyJ7yqHwCfAXstW7ZEeHi41HTUQ4cOsa5hUrVqVdy4cUNqQNzNmzdVzmXv3bs3li9fjokTJ6KwsBD37t1DaGioytoykydPxsyZMxETE4Pc3Fx4eXkxs6OUcXFxQXBwMHPTEIvFCAsLk2qpUeTRo0do3Lix1GuNGjXCo0ePlK43ePBgLF68GCNHjoRYLEZ0dDT27t2rcqYGwK+7jmv3yeXLl+Hn54c6dergxYsXqFOnDp4/f86qa3X//v1YunQpXF1d1d6ugYEBRCKRVD+8SCRSmgdHEqQUFRVJdYMKBAK0atVK4XnENzeQqakpnjx5InUtS0hIkLppKbp58Eka1bFjR3h5eSE3N5c5tqdPnyp8YCzZ0rl27VrMnDlT6m9y5swZPHz4UOk2J02aJDVLBGA3pZvPtGw+04a5TiNv3LgxDhw4IBVcHzx4UOY3X1qdOnVkgtzk5GRW9yY+99LStCLw6NmzJ8RiMX799Ve8fv0a9vb2GDt2rMo+eb7c3Nxw7tw5qSfJ8+fPw83NTe7y3t7eWL16NYDiQU6KfqjK5vlLBvCVvsjo6emhWrVqSpNO5eXlyTz1m5uby0wlliclJUWmSbtVq1ZITU1VuW7Lli2xfv16zJo1C2ZmZsjKykJwcLDUYGBlSjczqwpaJk+eDC8vL1y8eBEikQgjR45EQUEBQkJCWG3vhx9+wOLFi9GhQwemG+LPP/+El5eX0vUGDRoEkUiEZcuWQSQSwdvbG+7u7kqDQaD4CXH37t24cOECGjRogGrVqmHevHkqZ0dNmDABixcvhoeHB8RiMfr06cOM7FfF3t5e7rmrqpWwR48eKCoqwpEjRyAWixEeHo6BAweybp3SVBEptvbu3YvZs2czUz3DwsJw7Ngxpu6LMllZWZyCDqB47Jivry9mzJjB5EPYunWr0rTTkmC7Vq1a+P7779XeJteEhB4eHpg3bx569+7NzN6JiopiMtheu3ZN4Y2ZT9KoGTNm4Pz589DX12eSsEl+r6pcuXJFphxEz549ERoaijlz5ihcr3Xr1jhy5IjUa999953KcXm2trYy05C7du3KaiDzzz//zEwbHjZsGIDim7lkXJYyXPOHTJw4ETNnzsS1a9fwxRdfIDExEWlpaSpzyHTt2hULFy7EwIEDmWvfsWPH4OHhITVbrCy7NwEtmdXCB9cAACgewHPt2jXUr1+fGZT19OlTdOzYUarLQxKp//LLL8wFZffu3Qq3y+bpUdHId2Xmz5+PunXrYuLEidDT00NhYSHCwsKQkJDABESKjB07Fj/99JPUBebOnTvYuHEjdu/erXTd9PR0LFiwAP/99x8sLS2RmZmJevXqMXVy5Hnx4gU2btzIqTYMUNwUGxsby4x4d3V1ZTWjQEIyZVQym6FHjx5qDUB+//49zM3NVWZ6LSgowIQJExAaGsp5Gpq6I/uB4gycixYtkjp3//vvP6xYsUIjg8PkOXbsGA4fPoy+ffvi4MGDOH36NJ49e4Z169apbN0Ri8U4ePCg2tWK+/Tpw8xckMwY+/TpE0aMGCFzAyrNz88Pffv25VTtNysrCwEBAbh+/TrzO3dxcYGPjw/rLj821q5dy9xolQ1UVDUu6vz58zKzd3r06KFy+9evX4e/vz88PT3x66+/YsSIEUzSKGXp2fkaNmwYlixZItUd+e+//2L58uUquwW4Vm3lOo28orx//x4XLlzAmzdvYG9vj+7du6uVNkERRd2bfO6lpWlFi0dJpcc9qLoIl44c09PTcfnyZVatJaXHIdStW1fp4NCSTzElq65yYWtrC7FYjJcvX8r0XSuKRqdOnQovLy9cuHCBebIRCoWssoEOGTIEixYtQu/eveHg4IDk5GRERUVhypQpKte1trZGaGgoHj58iLS0NNja2qJx48ZKv5s1a9Zwrg0DFDd1c31aBYoLKkkGUXLBNsOrvr4+srKyeNU2UHdkP1D8RL5nzx5cvHgRaWlpcHR0xJIlS1hnzhWJRDIDLlVN0+NTRGrPnj2IjY3Fjz/+iI0bNwIo7qoMCwtTGngYGRmhoKAAQqEQlpaWSEtLg4WFBavuUCsrKyxevBiurq4ySd1UjQ8xNzdHQEAA3r59y5zzym5so0ePZsZRDBkyROH5UPqmWrJLhsvU85L5F9gEGqXZ29vD19cXR48ehZ2dHW7fvo3Zs2errDMEFLdkHjhwQO1gEgD69euHBQsWoFevXsyTeVRUFNOioEhCQgK8vb1hZmaG9PR0DB8+HAkJCThz5gxTyE2ektPIJdW8i4qKEB4ernIaOVD8sCQJWtRt6eOSGwgovgYpG1MkD58ZYXzupaVpReCRkZGBTZs24datW8jMzJR6T9XTsbzWhW+//ZZVLg0+4xC4zrmXSEhIwKJFi5CamsqMPlZVabZ27dqIiIjAn3/+yVwMv/76a5iamqrcXs+ePWFiYoIzZ87gxo0bsLW1xZw5cxR2K5Wmp6cnNZBRFXVrw7AprQ6wH12dkJCAU6dOMS1Lffv2lRpQKU9iYiI2bdqER48eydyUSxbrK61Xr144dOgQqyZmVdPvJNjk8ahRowarbZb077//YtWqVVIDsdnOTOEzHoBrteLGjRvj5s2b6NixI9q0aQM/Pz8YGxur/C6B4vEGjo6OSE5OlqoNpc6+V69enVUm2pLTMtWZAVCyu4HL9UhfXx8xMTEy3RZsLVy4EFu2bJEaeH3//n0sXLhQbkbXknbv3s0pmASKWzysra1x/vx5XL9+HTY2Npg+fbrcujklca3aymcaOZ+ZP6VzA82aNQtv375VmRsIKG6RlnctUneGCVt87qWlaUXgERISgtevX2POnDkICAiAj48PfvnlF3Tv3p3T57Vs2RKLFi1itV1PT09Opa+5zrmX2LJlC9q1a4cJEyZgxIgROHDgAEJCQlRmCDQxMeE8W0RSiZINvk3A6taGuXfvnspl2N4wJN0Q7dq1Q+3atZGcnIxp06ZhxYoVSvvoJV1HXl5earXS3LlzBw8fPsTJkydhZ2cn1RJUuomSy1OtIlymR69Zswbt2rVD9+7d1W6J4jMegGu14jlz5jCzISZPnozQ0FCIRCKFieRKUnewHJ8xXJIxBmKxGEZGRqyztGoCn/wLPXr0wMKFC7Fx40bo6+vj2bNnWLx4scpZcgD3YFKCzdiM0rhWbeUzjZzPzB+uuYF27dqFAwcOwNHRUWZGljJFRUWIiYmRG7AoGzujCNt7aWlaEXj8/fff2LJlC2xtbaGnp4eOHTuibt26CAwMVDmwT57Lly+zytSWmJiIH3/8ES1atIC7uztcXV1VXgj5zrmXePr0Kfz9/WFiYoKioiKYm5tjypQpmD59ulRwsG/fPuapVlmrgLwoWNI3CMhWAy5JXvInvk3AgwcPRkBAAOvaMJocUR0eHo758+dL9XfGxMQgPDxcaeDx4sULbNq0Se3jbdu2LatiUwC/VraSuE6PTk1NxbRp0zh1DfEpIsW1WnHJ7g1zc3OVA4T5KJlorE2bNpz+RkKhEGvWrEGXLl1YLa+sW6YkZeMe+ORfGDVqFF6+fIlVq1Zh3Lhx8Pb2xpgxY1g9oHANJiXS09MRHR3NZIb99ttvVU5d51q1lc80cj4tfVxzA505cwZBQUFql4vYsGEDYmJi0KJFC05d3KWxvZeWphWBR25uLjPQ0tDQEAUFBahVqxarZrDSP9zc3FzWT0QrV65kKkJu2bIFmzZtQs+ePeHu7q7whOQ7574kyRORiYkJsrOzYWFhgbS0NKll7t+/z/xbUauAoh/DuHHjmAyKkmrAkkCpZPeOvCZ2vk3AJStHqpts6tdff0XPnj05nfBA8Y+95A0OKM6kqqp4Wr169fD27Vu1B/2yGUwsD58WN67To5s1a4YXL16wTnRX0tdffy13PACbQYhcqxUfPHgQLVq0kBmEeO/ePbn933xaLTQ1hkudLK2aaDbnm3/B29sbs2fPxoQJEzBs2DCZGjKKcA0mgeLkeXPmzEGNGjVQs2ZN3L9/H3v37sXatWvRpEkThetxrdrKZxo5n5Y+rrmBCgoKlP4dFPn999+xbds2TjV/+NxLS9OKwMPW1pb5chwcHPDHH3/IJP1RpPQP19TUFA0bNmQ9yM7Ozg5jx47F6NGjERsbi4iICBw6dAht2rTBkCFDZC6qfOfcS3zxxReIj49H06ZN4eTkhN27d8PMzExmOmTJbajbKlCyTgif5E+KjnXhwoUKk3Lx2d7Zs2cRFhaGzp07w8PDQ+0fYNWqVfHff/9JXQCfPXumMo+Hl5cXNm7ciG7dusk8QbFJu/3hwweZ5k1lqcS5tLhJcJ0ePXfuXKxcuRJfffWVzDGyGZzYunVrqUR/bDVt2hTbtm3DiRMn0KpVKxQWFmLdunUq8y8cP35cZrzAF198geXLl8sNPDTRagHwG8OlTpZWLiUFSlP3uiDvuOrWrYs3b94gPz+feV9VUMQ1mASAbdu2YfTo0VLZP48cOYJt27YpnUExevRorF+/nkleOGzYMHTo0EFlwkc+08j5tPRxzQ307bffygR1bJiamnIuJsf3XlqSVkynjYyMRPXq1dGpUydcuXKFGZ08fvx4lSeUJhQWFuLPP//EqVOncPv2bbRv3x4ODg44e/YsunXrhmnTpkktr4kplHfu3IGBgQGaNWuG//77Typ3hLy+2oKCAvTr1w/Hjh3jtE1F9Wzu37+vcvZHnz595Nae0GRRodLu3buH06dP4/Lly/jiiy/g7u6Obt26sZpSe/DgQRw/fhzDhg1jcjAcPnwYnp6eSs+nS5cuYc2aNTJ5UVS10ty7dw/+/v5SrVVsW3ckLW5RUVEQi8UqW9wkuE6PPnr0KLZu3QozMzOZvmNV0xhLVvj88OEDtmzZUuYVPhWde+oUneNC0ee7u7vj1KlTStdVNKVR3vnApzu0NLbVnNkMRBUIBKxme7x8+RInTpxAUlISqlatin79+qkMJgHA09MTx44dkwq0CwoKMGDAAFbXlIyMDCQnJ5d51VYJruXiCwsLERERgaNHj0IkEsHIyAju7u6YMmWK0qB4xYoVuHr1KpydnWW6qpUNPD9+/DjS09Mxfvx4tYNuRUUMVRU3lEcrAo/S0tLSkJOTw6opCwAePHggU+iNzVTKkhd9PT099OnTB3379mWeBFNSUjB27Fi5F77Bgwdj//79rGdtaMLw4cMRHh7Oqe+OS/AgSTizcOFCBAQEyIxnOXDgADPKWx5NJJvKysrCuXPncPLkSbx9+xZdu3bF4MGDlZ4bhYWFOHr0KE6fPs38aPr06YPBgwcrnQI8dOhQDBkyBD179pT5GytriRg3bhzatGmDPn36yKzHNtunWCxmWtyePn2qsMVN4ty5c9i8ebPc6dHK0oH3798fc+bMQYcOHVjtV0l8Knyq22Ui8eOPP2LBggVSN7P4+Hj4+/tLdXXKw6XVQhJsBAcHY+bMmTLn/LVr11RuVx0lA5yuXbuq1R0qwaWac0UbMWIE1q1bJxVgv379Gj///LPSawpf6rZKahLb3ECA8ro2yrq+09LS4OXlhfT0dJkWXlWt0Jp8wKz0XS3ynuTVia4uXLiAtWvXomPHjmjYsCHevHkDLy8vzJ49W2XT8ffff482bdpg5syZaN++vcxNyc7ODu3bt5e7rjpTKDVl6NCh2LJlC6ZPn652q4e8efn5+flKo2LJKGiBQCA1qE8gEKBatWpKU9qXTjYFsJ+CVtKbN2/w6tUrvHv3DrVr10Z2djYmTpyIsWPHKizSpKenhyFDhrAq4lRSdna2VL0Vtl6/fo0pU6awSvwlT2FhIWJjY3Hq1Ck8f/4cnTp1goODA/z9/eW2uAHcp0cXFhYqPKdV4VPhU90uE4nevXvDz88PEydOZMop7NixQypjqyJcZp5pcgwXGyVbp7h2T3Kp5qwpXIvwubm5YdGiRRg/fjzTKhkeHq5yUO7bt28RFhaGhw8fysxkUdZiV7JVUhLMsW2VBICcnBy8ePFC5jjVyQAqaRWUZHJWdr3gOgjdz88PVlZW8PT0VPsBVd3ihspU+sBDX18fFhYWnA9w7969MtMkb9y4geDgYJWBx549e1QOwimdZldCnSmUEpInGlUU/RD279+Pd+/eISoqClZWVlLbVPSjkwywy8/PZwZkSaSkpChNXCVJRjNmzBip8SJs8Ek2lZubi4sXL+L06dN4/vw5unbtKjUeICEhAbNmzVIaWOTm5iI2NpYZMe/i4qKym6Zdu3YKu6SUadCgAVJSUtTuC5XX4jZv3jymxc3T0xNjx46VG3gA6k2PlujcuTOuXr2qshiXPHwqfGZlZclk/LSwsJDJ21PawIEDkZmZiVWrViEnJwcmJibo378/Bg8erHAdPjPPNDWGi21hu5IDmbnWwuFSzVkT+BThGzNmDPLy8uDr64u8vDwYGhqiV69eGDNmjNL1Vq1ahdzcXPTr10+tG+vGjRvRqVMnua2Sqly9ehWrVq2SCTrYBC0vX77Ehg0bOGVwFovFePjwIVJTU9G1a1dmfWUPnY8fP8bx48fVOkauxQ2VqfSBB8DvSf7du3cyzdFffvklqx/d4sWLOQ8gU2cKpUTJJDf//fcfTpw4IZNTX1lZcy4j4CX7+PDhQ6noXNJqwWban7pBB8BvCtqgQYNQvXp1uLu7o2fPnjI3LEdHR6YctjyvXr3CnDlzkJeXBzs7O6SmpsLAwABr165V+iOysrLCwoUL4erqKjPwUtnfvmvXrliyZAmGDBki0x+r7ImIT4sbwG06YmZmJvz8/NC8eXOZY1SVtIxPhU8bGxvEx8fLdJmoypYqqQo7btw4ZGRksBpLoolWCz5BB5/CdpLuyZLdxqpyXfCt5swVnyJ8hoaG+OmnnzBjxgxkZGSoHPgt8fDhQxw+fJhV0sSS+LRKSgbCuru7qx20rF69mlMG59evX2PBggV48+YNBAIBunbtiuvXr+Pq1atKf6cODg7Iy8tTa1tcixsqoxWBB5cneYm2bdvKrUTKJijgkwSs5DSs0mnele2rRFhYGAICAqRuhG3btsXKlSuZ4k6lcRkBL9nPmjVrqp2spyR1S5PzmYLm6+ursglT2cj3kJAQuLq6YvLkyRAKhRCLxQgNDcWWLVuU3lCePXuGBg0aICkpSSqzp6rAadOmTQCKp2eXpOqJiE+LG9fpiEZGRqzqOcjDp8Inny6ToqIiPHr0iAmwGjVqpPQ70VSrxa1bt3Dr1i28f/9e6pxXFaBxLWx38OBBHDhwAH369IGrqytSUlKwadMmpiaJInyrOXPFpwgf1yzB1apV4zRTiWurJFA8NkNZC5sy6mZwlggODkaHDh0wduxYphhd69atsWXLFqXrDRo0CP7+/hg1apTMg4WisSx8ixvKoxWBh6Kbl6ITrGQrhbW1NZYvXw4XFxem5eCvv/5Sml9eE0nAPn78iODgYE5p3oHiJrjSJ0KNGjXw8uVLpetJ8v6/ffsWM2fOZJ33v2TQoW49HC5PcHymoB0+fFhu4KFs+m5J8fHx8PX1ZaJ3yVOzqroHXJOYca2PwKfFjet0RD4JzPhU+OTSZQIU9+kvXLgQT548gbm5ObKystCwYUP4+fmpbC3hE3RERkYy2YUlWUFv3brFujaHJOuy5Hfm7u6OESNGKG05i4yMxMqVK6UG4Hbs2BHLly9XGnjwrebM1ddffy3zcMEW1yzB48aNw4YNGzBhwgSZ1kVl1zGurZIA0Lx5cyQkJLDKT1KauhmcJR4+fIgVK1ZAKBQy90ELCwtkZWUpXU/Sqn7r1i218ydpKugAtCTw2LRpk8LRtPLGaZROpNW4cWNkZGQgIyOD+f/nz58r3J4mmmI3b96M5ORkzmne69Spg3379mH06NHMQKf9+/crbREonfd/5syZrPP+8wmUuDzB8Uk2pShRGpu06kBxKmSRSCTVbScSiVg/dbCdlsgXnxa358+fy0x37N+/P3NuK8Ol71iCSw0cgFuXCVDcelWjRg2sXr0alpaW+PjxI4KCghASEoKlS5eqXJ9rq8Xx48eZsWPu7u7w8/PD77//jtu3b6vcJtfCdtnZ2TJTUZ2cnFSuZ21tjbCwMF7VnLngU4SPa5ZgSaoFedcsZdcxrq2SQHEOmkWLFknNeJRQNZZF3QzOEsbGxsjNzZXqLvvw4YPKbk0++ZPy8/MRERGBW7duybRsq+p5KE0rAg823RQl8U2vrYmmWL5p3mfOnIn58+fj1KlTsLW1RWpqKgoLC5XuD9e8/0BxoMS1Hg7XJzh1k01Jpu8WFhbi9u3bMi1RbPt127VrB19fX8yYMYMZMb9161al6dIB7tMS1S35rokWNzMzM6Smpko1Haelpan8G3HtOwa418ApTZ2cH3fv3kVERASTxdbS0hI///wzk0BKGT6tFunp6cwxSb6fTp06ITg4WGUeDK6F7dzc3HDu3Dmp7qfz58+zGkDMt5ozF3yK8HHNEswmt4g8fKq2RkVFQSAQyDwcsxlEyzWDs4uLC4KDg5maOWKxGGFhYfjmm2+Ubo/rAGWguBX1xo0b6NevH3bu3Ilx48bh+PHjnLr4K3XgIWlmLigokGlyTkxMLPPEMGyCjqFDh8qN9vikeQeKA4ZffvmFqTRrY2ODb775RmmacK55/wF+gRKXJzhFT+2GhoYKb6x8pu+WNHnyZAQEBGDcuHHM38nFxQWTJ09Wuh7XaYnqlnzXRIsb1+mIXPuOAe41cAD1SsWXVFRUJNOEznaAIJ9WC1NTU4hEIpiamqJatWpISkqCpaWlTHI5edQpbFdyFsGnT58QFBSEU6dOwd7eHikpKXj69KnKQKmwsBAXLlyQO16CTZVjrvg8AHLNElzW41bkkTyocsG1BWLChAlYvHgxPDw8IBaL0adPH9SrV09lFV6Ae/6kP//8E4GBgahTpw727NmDQYMGoUWLFpymZVfqwEPSdC4Wi6Wa0SU3mrlz58pdT1kNhpKU9XWzpWi6H5807xKmpqZKB3zOmDGDaSIEuOf9B/gFSlye4IYPH67wOzIwMMB3332HqVOnSj2h85m+W5K5uTkCAgLw9u1bpKWlwdbWVmURKYD7tER1q3QqanFLTEyEUChkNQCO63RErn3Hkv3jUgMHkG16T09Px5kzZ5iWO0VatGiB9evXY9asWTAzM0NWVhaCg4PRokULldvk02rRrFkzXLlyBT179sQ333wDHx8fGBgYsNquOoXtShdjLDlQt27duqxq6mzcuBGXL19G69aty7x7RVOePXuG27dv4/r161Kvy2sJuHv3LhOMSFpF5VE2VmPZsmXw9PSUaoH9+++/cfr0aSxZsoTLIbDCtQXC3NwcGzZswOPHj5nus+bNm6sMuvnkT8rMzGTGCurp6UEsFsPJyQkPHjxQe/8rdeAhiZg3bNjAKo2vhLrTWPlQdPP08PDAf//9h5o1a2LIkCFSad415b///pP6f655/wF+gRKX0uReXl6IiorC999/zwz63b9/P7777jtUr14d4eHhCA0Nlfu9lw46cnJyIBQK1Z5qXb16dZl+VWW4TkvkWqWzatWqTN6QS5cuMQNnfXx8VM4U4TodkWvfsWR/udTAAeTPyPr6668RFhaGESNGKFxv+vTpWLBgATw8PGBpaYnMzEzUq1dPJt+APHxaLUq2FIwfPx6WlpYQiUQKc8couyGWVPrmqIlqxZcvX0ZISAinYoPq+vnnn1k99KnqEgkNDcX48ePlZgkubcGCBUz3pKLS7qq6Lu7cuSMzMNrZ2RkrVqyQuzyb8wtg16LEJ4Ozk5OT0lxLpfHJn1S9enWm9d3Ozg73799HlSpVOFUnr9SBh4Q6QQeguBoo22mtmiBppgaKn/oOHjyoVpp3LgYNGgSRSCRV18Xd3Z3VmBKugZJYLMb58+eZjJ5sS5MfOXIE69atY2789erVQ8OGDTFnzhzs3r0btWvXVtiitXPnTnzzzTdo2rQp4uLi4OPjAz09PaxYsQJffvmlym2/f/8eu3fvlpvdUNngS67TErlW6bxx4waT1O3IkSNYvHgxTE1NERoaqjLw4DodkWvfMVAc+C5cuFBuDRwuGjRooHLA8KNHj7B161Y8fvyYGdDauHFjVt0tXFstJDNCJInbDAwMVI74V3RDLIltlkx1GRgYcJomykXJmWxZWVk4e/YsXFxcmBY+VTMKJdTJElyyZg7XsRqFhYVyu+wKCgrkLs/lZiuPOi0Qmgh2+ORP6tKlC+7cuYNu3bqhb9++mDNnDoRCocpWSXm0IvDgg++0Vk1Rt4gOF3p6evjxxx/x448/qpX3H+AeKAmFQvzyyy9qF+tLT0+HhYWF1GsWFhZMIbXatWvj48ePcte9cOECM/V17969GD9+PExMTLBz505WgUdAQABycnLw3XffqdX1xXVaYskqnXl5eayrdObm5sLY2BgikQiJiYlwdXWFnp4efH19WR0jl+mIfPqOhwwZAj09PRw/fpx5MmIzJRaQTb2cm5uLU6dOqRxIu27dOgiFQvTo0QO9e/dWq9y3uq0WEvr6+oiJiVHrgYjP4EUJrrMK3N3dcezYMc65JtRRssts6dKlWLp0qVTQGhsbi3Pnzqn8HK5Zgrn64osvcO3aNakBuLGxsQpbiTTREgWo1wKhiWCHT/6kkt20Hh4eaNCgAbKzs1nNRCztsw88+E5r1TaFhYV48OABc+Fv1qwZq6e/tLQ0GBkZMU3qNjY2+PjxI9LT01XmQ2jWrBkePnyoVnl6JycnhISEYMqUKTA2NkZOTg5CQ0OZZsPExESFTfSS7o38/HwkJCRg7dq10NfXR2hoKKttP3z4EEeOHFG7v5vrtMSmTZsiNDQUkZGRaN26NeuS71ZWVnjx4gWePXuGpk2bQk9PDzk5OayeVLhOR+Tadwxwr4EDFOeRKX1cJiYmmD9/vtL1jhw5gitXriAqKgqHDh2Cs7Mz+vTpAzc3N6Vdb1xaLUr66quvmJkw5YXrrIK4uDg8evQIkZGRMr9lTYxzU7bd0lOaXVxcWOXa4ZolmOtA2pEjR2L58uW4c+cOvvjiCyQmJuLs2bMqixvypU4LhCaCHT75k0pr1qwZ5/347AMPvtNaVSmvrhs2kpOT4ePjg8TERFSpUgUZGRmoVasW/P39VT4JLl++HDNmzJDqy3/9+jU2bdqEzZs3K123SZMmWLx4MXr16gV7e3upH5Ci6WReXl5YsGAB+vbty+RfcHBwYJoTP378iKlTp8pd19TUFGlpaXj27BkcHR2hr6+P/Px81t+FnZ0dPn36xGmgHZdpiXfv3gUAqfVyc3Px8OFD2NnZKRzYOmjQIGamjeQC+M8//7AaUMh1OqKEun3HEiKRCNeuXWMC3/bt2yudiSVRus/f1NQUX3zxhcrvSF9fn0lS9ubNG5w9exZhYWHYvHkzTpw4oXQ9dVstSqpSpQqWLVuG9u3bo0aNGlLnvKocFcpmAShbl+usAi7lGzShatWqcrNGsxnzwzVLMNeBtN988w38/Pxw7Ngx3L59G/b29qy7bvnkt+DTAsEFn/xJOTk5OHz4sNwuanUD2M8+8OA7rVWVkv2L5a30jXb9+vVwdnbG1q1bYWJigpycHGzZsgXr1q1TOZjrxYsXMjeahg0bqsyUChTnEjAwMMBvv/0m9bqyeew1a9ZEeHg4/v33X6ZVpWnTpswTurLkXD179sS0adPw6dMnZrzFo0ePWA+emzFjBtatW4dhw4bJ3PSVTdHm+jRVcsCdZI5+yX+3bt0aPj4+MvvSv39/tGvXDkKhkBn97uDgwIy/UIbrdEQ+F5f4+HjMnz8fQqGQqYEjSUOvqnVHE9MgLSwsUK1aNVhaWrKqxcSn1eLZs2do1KgR3r59i7dv3zKvs2mNKj1u5e3bt3j9+rXKbgWuswpGjx6N7OxsxMbGMunV3717p3I/+frhhx+wePFidOjQgRlA/ueff7IaA8Z1Ki6fgbRffvklq0CjND75Lbi2QHANdiSl7UvnT2JT2j4wMBBPnz5Fhw4deM+O+uwDDz6zNbgO0NMkZVkyS5bMBopvvgEBAUwTs4mJCaZNm6awtktJhoaGyM3NlTqh8vLyWDWxc53HLhQKlV5sFeVIGTt2LFq2bAl9fX3mJmpoaCg16FOZoqIiPHjwQCofBpukPVyfpnx8fPD7779j3LhxzAU4PDwc7du3h6OjI7Zs2YKQkBC5zbqlW6q++OILVttUZzpiSXwuLkFBQejXrx9GjRrFZNvdu3cvNm7ciK1bt8osf/78eVafq6qK9N27d3HmzBn88ccfqFGjBnr16sWqK5VPqwWfHBXy1j169KjKDKRcZxUkJCTA29sbZmZmSE9Px/Dhw5GQkIAzZ84wg8jLQvfu3eHg4IBz587h+fPnsLa2xrp168p03IY6A2nfvHnDBPQlE5yVpiyDKMAvvwXXFgiuwQ6fFvq4uDjs2bOHVeoBVT77wIPPtFauA/Q0gU2WzNLN6NbW1vj48aNUP25mZqbKMRpAcS6OAwcOSF1wDx48iMaNG2voiNSnrCR66abj0vupKGgBii/83377Lbp3767W98r1aUoyNVgyRbVevXrw9vbGpEmT8Msvv2DBggUqk5epS53piCXxubg8f/4cwcHBzA1cIBBgxIgRCr+HnTt3Sv3/+/fvUVhYCAsLC2RmZkJPTw/VqlVTGniMHDkS79+/h5ubG9auXatWvzOfVgtN69+/P4YOHapwRh7AfVbB5s2bMWrUKPTr149Z1tnZmdWAYb6cnZ3h7Oxc5tuRUGcg7bhx45hsoyNHjmSCZQDMv9nMNOKb30LdDM6A+sGOJpJxmpuby0wI4OqzDzz4TGvlOkBPE7hkyRw8eDCWLFmCUaNGMU/W+/btw+DBg6UienkR/MSJEzFz5kxcu3aNGVyVlpbGqu9O2TQvPpkR+dwAlAUt6enpmDx5stqfz3Va4sePH+VuS1I7yNraWqZbgy91piOWxOfiUqdOHSQnJ0v9tpKTkxW20hw+fJj596+//oqEhARMnz6dSQS2bds21K9fX+k2hw0bhm+//ZZT0y+bVgtJno/SlCUp5DJgMykpCZ8+fVK6TOlZBY6OjsjKylL5dPzs2TOmq1Wyz6ampho/50rjmsxLXSW/i6KiIjx8+JDVQNqS+YD41DDhk99i/Pjx6NOnD7p166YyH1BJ6gY7XJNxljRixAjs2LEDkydPZp0dWJHPPvAoTZ1prXwH6PHBJUumJENk6Zv9v//+qzKCr1OnDsLDw3HhwgW8efMGTZo0Qffu3VnVBSn9A0tPT8c///zDqoZEWVEWVDg7O+P58+eoV6+eWp/JdVpiy5YtERAQgEmTJsHOzg4pKSnYsWMHM64hISGBVauUOrhOR+RzcenatSsWLlyIgQMHMoHvsWPH4OHhIXUTknfTOXToEPbu3QsjIyMAxQHQtGnTMHr0aAwYMEDhNtkkx+Nj8ODBcgtUlm5xS09Px+XLl1nlqCgdqOfm5uLOnTsq09lLFBUV4d27d6yLFJqbm+P9+/dSyfJSUlI00mSujLzcJZLfpSZTGZT+LtgOpC15XU9LS5P7W7l//77K7KJ88lt0794dJ06cQGhoKDp16oQ+ffqwGu+kbrDDNRlnSXv37sW7d+9w8uRJmXpKn2WRuIrCdYCeJnDJksknageKAxtVpeHlkTfN6/fff8c///zDa3/KSrNmzeDj44M+ffqorCbJ9WmqJC8vL6xYsQI//vgj81ktW7bEokWLABTPsPD29uZ9XCWpMx2xZJ0UyU2Ny8VFMo5DkhZeomSdF0WBb15eHrKyspjAAyg+39lkES1LivrE5XWJfPvttzh9+rTKzyx9c7C2tsa0adOUlkcAigOUzZs348KFCxAKhYiKisLVq1fx/PlzjBw5UuF6nTt3xqpVq5hkdGlpaQgODlaZhI6v0rlL0tPTsWPHDnTq1Emj21HWPcXW/Pnz5QaYPj4+KgddKmqJYjNoWTL9/N69ezh79ix8fHxQvXp19O7dW2luJK7BDtegA1A97kkdFHgowXWAniZwyZLJJu+/n58fc8Mr7dq1azh16hRSUlJgZ2eHvn37skrbK4+rqys2bNigNG16RZEkMGJTTZLr01RJVatWxfr165GWlsbM4CnZ8qZuywsb6kxHZHNBYdMtxSdJVocOHeDj44MxY8YwrSV79uxBhw4dOH+mJqjTHVcymFSGaz6Gbdu2ISUlBevWrWNmPTg5OWHnzp1KA4/Ro0dj/fr1TMXeYcOGoUOHDmon/ePL2toaP/30E6ZMmcL5uqLKrVu3YGtrK9Xd9/LlS6SlpSn97coLMPPz81l9//v375dK6y9piTpw4ADrv3Hz5s3RvHlzTJ06FatWrUJYWJjSdRs2bMgkZuObzIstLlVoFaHAQwmuA/Q0gWuWTFViY2Plvn7+/HkEBQWhd+/ecHFxQVJSElatWoXp06dzOuEePHjAe2xMWeVIUWcWjiaepiRsbGzKJYMtoN6si5Lfr2S6XWkeHh4qZ5fwMWPGDISEhGDp0qX49OkTDAwM0K1bNybBlza4fPkyq5wlALd8J3/++SfCwsJgaWnJtIba2toiPT1d6XqGhoaYP38+pk6dyiSFK+vK3ooUFRVJDeTVtM2bN8tUFTc0NMSmTZtkZgEC/2/RzM/PZ1qEJFJSUljlsvnll1/k1hNSJ/BITk7G2bNncf78eRQUFKgcn1U6Yy+fZF5scakorggFHkpwHaCnCZIsmdevX0diYiLrLJmqKLqZHz58GCtWrJB6Kmjfvj02b96sMvAoPdAuJycHz549UysTpDx8cqTwDVrkzYoZO3as3MG948ePR1hYGK/tVRZ8/m5FRUWIiYmRO/1cVa0SExMTzJkzB15eXvjw4QOsrKwqZHYJWyW7p4DibhBVhREluOY7KSgokAlO8vLypLqnlLG0tGRV7E9TSv9+c3NzcenSpTK9Saalpcm0/Nrb2ysMziTXu4cPH0qNPZIMulQ27qawsJCp/1W6DtjLly+hr6/69hodHY2oqCj8888/aN26NaZNm4aOHTuqXLdkxt6DBw+iefPmrDL28sGlorgiFHgoUd71AkozMDBg+kMlFVj5UnTipKSkyAz6a9WqFVJTU1V+ZukmTBMTEzRq1EjpOJiyzpHCN7GbvFkxisrYK3oS0CaamG63YcMGxMTEoEWLFpxaCIuKivDo0SOkpqbCzs4OjRo1qrTBR+nuKVNTUzRs2JDVrCd1851ING7cGJGRkVIPQ+fOnWM9yLS8lS64aGpqCicnJ4wbN67MtlmlShWmFUkiLS1NYWuSpEWzZs2aKsfYlFYyzb+8ddlkxg4LC0PPnj3h7e3NqqtcgmvGXj74VBSX2f8y2cPPBNd6AZrAtwKrumxtbXH37l2pMST//PMPq9kWXLoj+ORIKY/EbiVveJIgprCwEFFRUVJPNq9evVK7mbEy0sR0u99//x3btm1Tq1CbxNu3b7Fw4UI8efIE5ubmyMrKQsOGDeHn56fxGT9A8XE+fvwYDRs2VPp0WXLmgyT1PQC5AUZqaipSU1NVDjxXN9+JxOTJkzFz5kzExMQgNzcXXl5eSEhIUFnSoKJwTSzIx1dffYX169djwYIFTCmGjRs3wsXFRel6jRs3ZlracnNzsX//fgiFQgwfPlxhC4JkivL8+fOlunck+WfY5Ps5ePAg7+Ba3Yy9XPGpKF4aBR5KcK0XoAl8K7Cqa8iQIVi0aBF69+4NBwcHJCcnIyoqClOmTJG7PNunfEVPynxypJR3YjfJk9unT58QERHBvK6np4eqVatKZUDVVpqYbmdqasp57EBISAhq1KiB1atXMzeMoKAgZtyHpgmFQsyePVtly1jJXA8l/y4lrwEl0+ADqqeKqpvvRKJ27drYvXs3Lly4gAYNGqBatWqYN29ehUz3V8f79++ZViw2dVr4GD9+PBYtWoT+/fszieicnZ1VFhv08/PD3LlzYWVlhZ07d+LWrVsQCoV4//49Zs2aJXcdyUNaRESEWt/B3bt3meD09u3bCpdTleuEa8ZervhUFC+NAg8l+KRF5otvBVZFFPXh9+zZEyYmJjhz5gxu3LgBW1tbzJkzR2EuDmX9fSUpugjzyZFS3ondJE9upZ9sPkd8ptsNHToU4eHhGD9+vNrB+d27dxEREcE0iVtaWuLnn39mZmKUhZo1a+Lt27esW1RKtqbFxMTg0qVLmDBhAtPsHBYWhq5du6r8HD75TqpUqVIu5e01ITs7G6tWrcK1a9cAFAdr7du3x7x589RKlqUOCwsLBAUFIT4+nkmJrqpOEFAc+Elml125cgUbNmyAiYkJJk6cqDDwkLC1tUVycjIeP34s0wIrr1bVggULmIBX0dgnVTMn+WTs5YpPRfHSKPCopPhWYFUkMDBQ4Xtubm6sk36V7L+9c+cOTp8+LZMxVVGBOIBfjpSKSuzGJuhQlqr9c9exY0d4eXnh+PHjMhcgVTlmioqKZPLW8M2OqMqAAQPg6+uL0aNHy1RVlpfdt2SgKy8N/vz58zF58mSV+TG45jsJCQlBp06d0KJFC+a1u3fv4tq1aworOVek0NBQZGZmYvv27ahZsyaSkpKwZcsWbN++nVWhQz6cnJxgbW0tlTRNGUmrVXJyMgQCAfP9q6qfAwAnT55EUFCQTA0wRUUyS7aycZ2CzidjL1d8KoqXRoGHEppOi6wOLhVYFQUVhoaGsLe3h5ubm9RAWWWFkUqSdxEu2Y+/cOFCrF27lnlyrFevHhwdHTF37lz06dNH7mfyyZFSHonduAZ4ylK1f+78/PxgZWUFT09PtbvAWrZsifXr12PWrFlMyvTg4GCpm6ymrV27FgAwd+5cmYrBqs5BeU3KAoGASYOvDNebzaVLl2TGljk5OWHFihWVMvD466+/sHXrVuY36ujoiEWLFmm8LlFJXJOsNWjQAPv27UNKSgrTla1sUGpJ+/fvx9KlS+Hq6spqH9kUjxMIBFKJyUor64y98vCpKF4aBR5K8EmLzBeXCqy5ubm4evUqGjRoAHt7e6SkpCAhIQHffPMN/v33X4SHh8Pf359JMiMpjCRR8marTpGk9PR0mWl6FhYWSvML8MmRUh6J3bjOiqmsszDKw+PHj3H8+HFO426mTZuGBQsWwMPDA5aWlsjMzES9evWU1gHii0+m39atW8PPzw+TJ09mWvlCQ0M1WoOkNHlTZ42MjJCbm1tm2+QjLy9PpkvF3Ny8TLPRck2yNmPGDGzcuBEGBgbMeJC4uDhWCQOzsrJYBx0ApAZvK1JZryOqKoqzRYGHEnzSImuCqgqspZmZmeHnn3+Wat6LiorCgwcP4OvriyNHjmDnzp1M4ME3xbpEo0aNEBQUhOnTp8PExAQikQhbtmxRmnyHT44UvondymNWjC5ycHBAXl6e2t9JUVERhEIhQkND8fDhQ6SlpcHW1haNGzcu0+4WdaYvljZ79mz4+/tj7NixzE2iTZs2rFLfFxUV4dixYzJZggcOHKj0hlOjRg3cvXtXqpLp3bt3KywZmCqNGzfGrl27MHHiROjp6aGwsBC7d+9mNeaCK65J1ho0aIBNmzZJvdazZ09WyRO//vpr3Llzh1WNFaBixw6qa+3atcw4FE0WA6XAQ01s0yJrwq1bt3Dr1i28f/9eqjVC0Zd85coVmb7T7t27Y+vWrZgzZw48PT2xZ88e5j11L7yK0q17eXnBx8cH7u7uzEjyWrVqwd/fX+Fn8cmRwjexW3nPitEVgwYNgr+/P0aNGiXTBSavu06iqKgIw4YNw5kzZ8plkFxJFy9eRFRUFN6/f4+dO3fin3/+wcePH1Wm9LayssKaNWuQnp7O5I1gO0j1yJEjOHLkCIYOHcqMfTh06BDEYrHSWkkDBw7EihUrMHz4cNSqVQuJiYk4cOAAJkyYoNYxl5cpU6Zgzpw5uHDhAlMcUSgUMl1cZYFrkjVl3c7Kzl2g+FxYvHgxXF1dZcaUlHXahbJWclyTJgfzU+ChJnXSIvMRGRmJLVu2oF27drhx4wbatWuHW7duKb0gmpqa4smTJ1JPFAkJCVIDkPg04SlKt+7g4IBdu3bh33//ZS7CTZo0UXqi8smRwjexW3nPitEVa9asAVAcMKszZkJPTw92dnbIycmRma5Xlo4dO4bDhw+jb9++OHjwIIDiLsLt27ezriVibW2tdp6R06dPw9/fX6pFsGXLlvD19VUaePTs2RNisRi//vorXr9+DXt7e4wdO7Zcun65qFOnDiIiIhAbG4vU1FTY2tri66+/ZpXZkiuuSdYk3c6lp0YDqqdHP336FI6OjkhOTpYKYCprd4k6Ss5y41pjSB4KPJTgkxaZr+PHj2PFihVwcXGBu7s7/Pz88Pvvvyud9+3h4YF58+ahd+/ezBNGVFQUBg0aBKC4CByfZk5lAy719PTg7Oys8P3Ssz345Ejhm9itLGfFlFV9GW3Ap+vuxx9/xJo1azBp0iSZGSZl1d0SGRmJVatWoW7dusy5Wbt2bbx69apMtifx7t07ODo6Sr3WoEEDVsmf+vTpo3DAdmWgbODk8+fP8fz5cwBl1xLANcla6XM3PT0dERERrPJiaFPXCR9ZWVkwMDCAkZERk0xRX1+fUw0nCjyU4JMWma/09HQm257kZtapUycEBwcrzLUwYsQIVK9eHdHR0fjzzz9hbW2NyZMnMydGly5dlNYeUIVPBF96tgefHyvfxG5lOSuGb6p2bcZnzISfnx8AMDkfSiqrStAfPnxA3br/a+/e46Kq0z+Af4ZxwHgpKHdEV10TSdcSMzQXzJe3VBTWLFoNL4nEuGvrctGXi8KCXKRoU/CSiC4qlZoWChWgAVqiLpqKVEvmypLAAIMEZAjJwO8Pf5xlZnDmzDlnLgzP+y8aPczBmJnnnO/3+TyjABj26tTNzQ1fffWVUut6cXGx1lv63ZqamtT2JrE9Vt+MvXGyO2QtPz9fp5C13ua7bN68GZs2bWIdpd7Q0ID6+nqTjbDnKzIyElKpFOPHj8eRI0eQnZ0NsViM6upqnQtJKjw0EHIMsK6sra3R2toKa2tr2NnZobq6GjY2Nlp3hL/44ot6nSLKlZBvNnyvMLh2xdCmVO2Ki4vVNk2yWbbojp82pOHDh6ttCiwtLVVKFNWH1atX4+9//zsKCgqYlODLly8jNjZW43FlZWVISEiAXC5nlgTYdp4Ziilc/dva2iIgIID39xk0aBBkMpnWv9fc3Iz4+Hh8/fXXsLKyQm5uLoqKilBWVmaQu+OGUllZydwxLygoQHJyMqytrREaGkqFh9C+/fZb5Obmor6+Ho6OjliwYIHGJQWhTJgwAV9++SXmz5+P559/HpGRkZBIJFpzDR48eIDKykq1D0Z9tvlxYcyMFK5dMbQpVbP8/HykpKRg4cKFmDp1Kqqrq5GUlIT169drLeInTZpk8NfaypUrERUVBX9/fzx8+BCZmZnIyspi2jD15fnnn0dqaio+//xzVFZWwsnJCSkpKXjqqac0Hrdz5074+PjA19eXfv80KCgoQF5eHhobG1lvGO6ZGAs8WlbPy8tj0kw12bVrF+zs7HD8+HHmA3jSpEms8jr6ks7OTojFYjQ0NKC1tRVjxowB0HumjTZUeGhw5swZvPPOO/D29sbYsWNRW1uL8PBwhIWF6f2uQs/OlbVr18LGxgatra0aK/kLFy4gKSlJregQ6opIyP0LfDJS+BYtXLtiaFOqZh999BHi4uKU/t9Onz4du3fv1lp4GOO1Nm3aNGzbtg0nT56Es7Mzrl+/jrCwMKbdXJ8UCgUUCgU6OjrQ0dEBhUKh9RiZTIZ169bpPdG1L+O6YVg1urx7wjaboWfXrl3Dhx9+iIEDBzLvS0OHDtXrwDZjcHNzQ15eHmpqapiW7ubmZk5FMBUeGmRmZjIbPLuVlJQgNTVV74VHz4mIEokEr732mtZj9u3bh1WrVmHx4sV6uSLSFLeuKz4ZKXyD3bh2xRgrqr2vqKurU7uzNmnSJNTX12s91livNU9PT6VcDEPoWWS5u7uzLrLGjBmDuro6g+wx66u4bhjmmiYLPGozVS0Gu2dtmZOQkBAkJibC0tKS2ZN16dIlTg0LVHho0NjYqHb1M2XKFINVsrpmDPz000+cB0jpGreuKzZ3S9hmpPANduPaFWOIqPa+zMnJCaWlpUp7Jm7evMmq3dQYr7WysjI4OjrCxcUFTU1N2Lt3L8RiMaRSKWxtbfX2vFyLrFmzZiE6OhoBAQFqeRGmtpRqLEJsGG5ubtbp//8zzzyDjIwMpVTp48ePsw4U6ys8PT1x4sQJpcfmzJmjtPn28uXLmDZtmtbvRYWHBs8++yxKSkqU/iGvXLnCKkaXLy63DCdOnIjbt2+rteqxoWvcuq7YdHvwyUjRJdiNa1eMIaLa+7KAgABs3boVCxcuZDZN5ubmYt26dVqPNcZrbefOncyGzv3796OhoQESiQSpqamIiorS2/NyLbK6kzW3b9+u9Dj9/v0P1w3DDx8+xP79+/Hpp5/i119/haWlJRYtWoQ33ngDEolE47FSqRTh4eEoKChAa2srAgMD0dHRgT179gjxI5m0AQOUS4i4uDh89tln2o/T1wn1VT03BDk4OCA2NhZTp05l5jH861//MkhgD5dbhuPHj8fWrVuxaNEitStyTZNiAd3j1nvi0u0hdEaKLkUL1533fKPazd38+fPxxBNP4LPPPkNJSQmcnJwQERHBauKxptdaz9ekkPkPdXV1zNDFy5cvIz09HQMHDsSKFSsEe47ecC2y+CwH9BdcNwwfOnQIV69exZYtW5g02YyMDBw6dEhrMqyDgwMOHDiAS5cuobq6GnZ2dpgxY4ZBJ8eaCrb7AKnwUKHah+7h4YHm5mZm6qSHhwcTgqNPXG4Z5ubmQiQSqVWcjxvP3JOuces9cen24JORYqxgN75R7ebuzJkz+O1vf4u3336beeyHH37A2bNnMXfuXI3HVlRU9Ppaq6ioYP6O0PkPYrEYHR0dqKqqwqBBg2Bvb4+uri69D10zRpHVX3DdMHzu3Dm8/fbbzNTt0aNHY/To0YiIiGAVSS+RSHQaFGeu2L5GqfBQYQp96AC3W4ZHjx7l/Hx84ta5dHvwyUjhG+zGtSuGb1S7uTt8+LDaoC17e3vExMRoLTyM8bp76qmnkJKSgsbGRma/hUwmU5u0LDQ+RVZlZSWuXbuGpqYmpatLKlL+h8uG4Z9//lktRMzZ2Rm//PKL1mO7urpQVFTU6x1f1W4Z8ggVHibK0BkDfOLWuXZ7cM1t4BvsxrUrhm9Uu7lrampS+3exs7Mz2bbCsLAwpKenw8bGBitXrgQAlJeXY/bs2Xp9Xq5F1vnz5xEfH4+RI0eisrISI0eOxH//+18qhFXU1tbiiy++YObDzJ49W+tFyejRo3H69Gm89NJLzGM5OTnMXWdNduzYgaKiIjz99NO0BMuSqKioqP8Ol+iFpqvhnvQdcgUA169fx8mTJ5l1w5deekltY6mQY4vz8/Nx9uxZNDQ0wMHBAXPnzmXVylhRUYH09HSduj16thS6urqitrYWFy5cYJ3bIHTY1I0bN/Dpp59q3KD6uKh6kUhklORNU7Ny5UokJCRgxIgRzGN3797F5s2b8cEHHxjxzHqnGhrVkyl2iaxduxZLly7FggULsHjxYuTk5OCTTz5BU1MTFb7/78qVK9iyZQuefPJJ5n3l9u3biIuLg5eX12OP+/bbbxEREYERI0Zg2LBhkMlkuHv3LpKTk7VOTPbz88N7773HLNP0ZwsXLmTVSEB3PFQYomOFLTa3DIUcW8w1bp1Ltwef3AZ9hE2x6YoxlWU4U/XCCy9g+/btCA0NZca2p6SkYObMmcY+tV5FREQwsePdui86TLFLRCaTMUPLus958eLFWL58ORUe/2/fvn3461//qrSnLS8vD/v27dNYeEyYMAGHDx9m7pS4u7tj9uzZcHZ21vqc1tbWrP5ef6BtSbUbFR4qesuIAB690PU9ebTnSGVNeg6EEnJsMde4dS7dHnxyG/QRNsWnlZc8smLFCtTW1iIkJIT5AJ81axazjGFqVLtEGhoakJ6eDh8fHyOdkWZWVlbo6OiAWCyGjY0N5HI5Bg8ezGofQn8hk8nUlmLnzp2L1NRUrcc6OTlh+fLlOj/nq6++ioyMDKxdu9agwwaN4ZtvvmHi6BMTE3Hr1i20t7czy32PuyusigoPDVpaWpCamoqrV6+qTVfVxxVRYGCg2i9ud7Gj74FQfOLWuXR78Mlt4Bs2xbUrxpjzZfoCS0tLbNmyBevXr0dtbS1cXFz0GsQlNAcHB/zlL3/BunXrWA22MzQPDw9cuXIF3t7emDx5MuLj4zFw4ECMHTvW2KdmMjw8PFBeXq40Ifb777+Hh4eHxuP27NkDHx8fpVlYpaWlKC4uxp/+9CeNx3p7eyM8PBxZWVkYMmSI0p99+OGHuv8QJqqwsBDvvvsuZs6cidLSUgCPPp8yMjJ0XmqmwkOD3bt3o6amBhEREUhMTERkZCQ++OAD5nan0Lj8ki5btoxVla3te/OJW2fb7SFURgrfsCmuXTF8o9r7C1tb2z5VcPTU1dWFe/fuGfs0ehUREcHMdJFKpdi/fz9++eUXbNiwwchnZjqefvppbN26FfPmzWPeV86cOQM/Pz+lvQeq8QKFhYVq7wvu7u6Ii4vTWnjEx8djyJAh8Pf3N+vNpe+//z6SkpLwu9/9DufPnwfwaFNuz24stqjw0ODatWvYu3cvnJycYGFhAW9vb4waNQpvvfUWlixZIvjzqbZzsREYGMh8LZfLcfr0aaUX3dmzZ+Hv76/1+/CJW2fb7cEnI0XIYDeuXTF8o9qJaVHdBNfW1obCwkKtmwkNqfvKsqfuJdnu7hu5XK60/Nqf5efnw8rKivlgBB4tUeXn5zP/3VuuUXt7O6ysrJQes7KyYpXpcuvWLWRlZZl10QEA9fX1zAb+7otdiUTCasChKio8NGhra2NaRC0tLdHR0YHhw4dzqvC4YDOrxdfXl/k6PDwc8fHxSm+cL7zwAg4ePKj1ufjErbONIOezOVPoYDehumJ0iWonpiUzM1Ppv62treHu7o6goCAjnZE61TXznpthe76+THEzrDGoZhlVVVVBLBZrvZvp6uqK0tJSpc38paWlrDaNDhs2DO3t7WZfeLi4uOCHH35QWtq7desWp6GFVHho4OTkhOrqari5uWHYsGH46quvYGNjY5BfMC6zWsrLy9XWMseNG4fy8nKtz8cnbt0Q3R5CPoeQXTG0KbXv4hO4Zyg9Rw4UFRWhsLAQwcHBzJ2+AwcOYNasWUY8Q9Py1ltvYeHChZg4cSIKCwuRkJAA4FGcgKZ8lqVLlyIuLg7Lli1jOrKOHj3KKrX05ZdfRkJCAlauXKn23mlOd6JeeeUVREVFITAwEAqFAmfPnkVmZuZjGzI0ocJDAz8/P9y5cwdubm4ICAhgBkqtXbtW78/NZVaLi4sL8vLylO6C5Ofns6ra+cSts2UqGSlcu2KMFdVO+q+eLfIZGRlIS0tjxq2PHj0amzdvhlQq1XvoWV9RUlLC7Hk5ceIEoqKiYG1tjbS0NI3/RvPnz4dCocDHH38MmUwGFxcXrFmzhtXybXJyMgDg6tWrzPuDPhsBjOXFF19EV1cXTpw4AYVCgYyMDCxdupTT7x4VHhr84Q9/YL6eMWMGjh07hgcPHmiddCgELrNaQkJCsHXrVuTk5DATZu/cuYO4uDitx/K5+mPb7cEnI0XIooVrVwzfqHZC+GhpaVF7TCQSMcuNBMySR2trK6qqqjBjxgxYWFhg27ZtWo/19fWFr68vOjs7mcc6OzthYWGh8Thz6lzRZv78+byTowEqPHTi6OhosOfiMqvFy8sLR44cwRdffAG5XI4nn3wS0dHRev9gZNvtwScjRchgN65dMUK84AjhytPTE/Hx8ZBKpcxSS1pamkmmrBqLra0tKisrUVFRgfHjx8PCwgIPHjzQetHS3NyMXbt2cYpO4NIU0Je1traqxS44ODjo9D2o8DBRq1atQnR0NPz8/FjNauno6EBwcDDS0tKUOl00ESpunUu3h64ZKXyD3YTqihE6qp0QtsLCwpCQkIA1a9YwH6STJ0/Gpk2bjHxmpuPll1+GVCoFAERFRQEAbt68qXXmyp49ezhHJ2iKCBdqmdoUfPfdd0hKSlJqIOC6pESFhwnq6OjAxYsXERkZiZycHFbjnQcMGID79+/rlJwnZNy6Km3dHnwyUrgEuwnRFaOPqHZC2BoyZAiSk5PR0NAAuVwOR0dHna80zd2SJUvg5eUFsVjM3IkYNmwYwsLCNB7HJzpBtTuqqakJCoUCDg4OZlV4JCcnw8vLC/PmzePdYEGFhwkaMGAAzp07h9DQUKXlAG0WLFiA48ePs77jIWTcuipt3R58XuhcihYhumL0EdVOiK4cHByo4NBAdVhbz6GFj8MnOkF1f5xCoUB6errZDY2rr6/Hn//8Z0Fi4anwMFFTpkxBSUmJxsFGqm7cuIF///vfyM7OhrOzs9KmKH12inDp9uDzQjd0sFs3vlHthBDTJGR0glgsxuuvv84kQZuLCRMmoLKyUuuyFRtUeJgoW1tbxMTEYPr06XB1dVX6YH/cJMpnn31Wp02YQsWtc+n24PNC51K0CNEVwzeqnRBimoSOTrh//z7u378v5Cka3caNG7F9+3Y899xzanklut7xpcLDRFVUVGDcuHG4d++e0uwITR+euga5CBW3zqXbg88LnUvRwrU4EDKqnRBimvhEJ/R8jwAeXRhdvHhRp7vVfcH58+dRWlqK27dvK73XikQinQsPUVFRkX5nvRODamtrw6VLl1BfXw9nZ2dMnToVTzzxhNbjwsPDsWbNGqW49e+++w4HDx7EP/7xD63H8+32kMvlrF/op06dgr29PXx8fPDll18qFS3Lli1j/ZyAeleMas8+mzHPIpFI5+mMhBDzoPoe0R29/8orr8Da2tpIZyW8JUuWICIiAr///e95fy8qPMzI3bt3ERERgfb2djg7O6O+vh4SiQTvvPOO1g90X19fZGdnK3W3KBQK+Pn5qaWZqurZ7eHq6ora2lpcuHDBYN0euhQtALeuGEIIUdXV1YWmpibY2tpqDRrr6/z9/XHq1ClBNpea979UP7Nnzx7MmDEDH3/8MdLS0nDy5EnMnDkTe/fu1Xpsd9x6T2zj1ru7PaKjoxEcHIyoqCjExcWptZnpi6Ojo05psj27YqysrBAbGwt3d3esX79ej2dJCDE3XV1d+OMf/6iUdmquZs6ciQsXLgjyvWiPhxn5/vvvsW3bNuauhVgsRlBQEF599VWtx/KJW+9r3R66dMWYynwZQojpsbCwgLOzMx48eIDBgwcb+3T06ueff0Z8fDwmTpyotrlUW8ikKio8zIhEIkFrayssLS2Zx1pbWyGRSLQeyyduva91e+jSFWOqPwMhxDSsXr0aycnJCAkJgYuLi9KFijktv1hZWQk2CZkKDzPi5eWFbdu24c0334Srqytqamrw3nvvKQVe9YZL3Hpf7vbQpSuGb1Q7IcS8xcfHAwCKi4vV/syc9owJGTJJhYcZkUqlSExMRFBQEFN1T506lZld8Dhc4taFiCA3Fq6tvLQplRCiijradEddLWaosbER9fX1cHJyUluLe5x//vOfsLS0ZH3Hw5yw7YpJTExEVVUVli9frhbVrs/EVEKI6eqem8P28b5k1apVOHz4MAD1hOqejh8/rtP3pTseZkQul8PKygp2dnZMwdHS0oJff/1V62wHY8WtmwK2bw7GimonhJiu1atX9xo5EBQUhOzsbCOckXBWrFjBfP24xGwu7bVUeJiR2NhYvPnmm7CxsWEek8lk2LVrF3bv3q3xWF3j1vtjtwef+TKEEPPU214vc2mvnTNnDvP1rl27ei2w/Pz8KDK9P6usrIS7u7vSY2PHjsWPP/6o9Vhd49b7Y7eHkIOkCCF9W2JiIoBHm/O7v+5WU1OjU7ZQXyDkZnoqPMyIpaUl2tralCLS29vbWbd06RK33h+7PYQeJEUI6bu685K6urqUEp9FIhEmTZqERYsWGevUBNXdwdjR0aE2l6aqqopVyKQqKjzMiIeHB44ePaq0Fnfs2DF4eHhoPZZP3Hp/6fbgM0iKEGJeuttLhw8fjtdee83IZ6M/3R2MCoVCqZtRJBLBzs4OGzdu1Pl7UleLGamsrMSGDRtgb2+PESNGoKqqCnK5HCkpKRg1apTGYzdv3owRI0ZAKpVCLBZDoVAgLS0NP/74I5KSkjQeS90ehJD+6v79+5BIJLCyskJnZydyc3MxYMAAg8ypMqQdO3awGprJhvnEqhGMHDkSGRkZmDdvHoYOHYq5c+fi0KFDWosO4FHcenBwsFrcenl5udZjr127hpiYGHh7ezPdHlu2bEFhYSHfH4kQQkxaZGQk/vOf/wAAjhw5goMHD+LAgQNqyxJ9nVBFB0BLLWZn6NChrGazqOITt07dHoSQ/qqyshLjxo0D8GhpOTk5GdbW1ggNDX1sC2p/R3c8zExBQQE2btyIoKAgAMDNmzdZTRTsjluvqKhAW1sb7ty5g8TERK1x68D/uj0AMN0eX3/9NXV7EELMXmdnJ8RiMRoaGtDa2ooxY8bA1dUVLS0txj41k0WFhxn55JNPkJ6ejmeeeQZ1dXUAgMGDB+PYsWNaj5VKpRg4cCCCgoLg6+uL4OBgSCQSrXHrwP+6PYBH6Xbx8fHYtGkTli5dyu8HIoQQE+fm5oa8vDxkZ2fD09MTANDc3EwXXhrQUosZOXXqFJKSkjBq1CgmwvY3v/kN7t69q/XYQYMGITExkVPcOnV7EEL6q5CQECQmJsLS0pIZGHfp0iVm+YWoo8LDjDQ1NTEbSXWNseUTt66qr88nIIQQtjw9PXHixAmlx+bMmaOU+kmU0VKLGRk+fDhu3Lih9FhpaSmrOw+xsbGQyWRKj8lkMsTExAh4hoQQYp6amppQU1ODmpoa1NfXo76+3tinZLLojocZWbVqFaKjo+Hn54eHDx8iMzMTWVlZ+Nvf/qb1WD5x64QQ0l+VlZUhISEBcrmceayrqwsikcisAhSFRIWHmejo6MDFixcRGRmJnJwcODs74/r16wgLC8Nzzz2n9Xi+ceuEENIf7dy5Ez4+PvD19aUNpSxR4WEmBgwYgHPnziE0NBTTpk3T+Xg+ceuEENJfyWQyrFu3ji7SdECFhxmZMmUKSkpK4OXlpfOxb7zxBjZs2IDi4mK1uHVCCCG9GzNmDOrq6uDq6mrsU+kzaFaLGUlNTUVeXh6mT58OV1dXpc4WNgl6P/30E86cOYPa2lq4uLgw0euEEEJ6l5WVhc8//xwBAQGwt7dX+rPJkycb6axMGxUeZuRxWfoikQjvvvuugc+GEELM36xZs3p9nDaXPh4VHoRRUFCAvLw8NDY24uDBg7h58yZaWlrg7e1t7FMjhBBiJmiPBwHwKG79o48+wqJFi5iI9cGDB2P//v1UeBBCSA/vv/8+AgMDAeCxU2hFIhFef/11Q55Wn0GFBwHAL26dEEL6k2+++Yb5uqysrNe/o2t6dH9ChQcBwC9unRBC+pOkpCTm6x07dhjxTPomajwmAPjFrRNCCCFs0R0PAoBf3DohhBDCFt3xIEpx6xUVFTrHrRNCCCFsUTstAQD4+/vj9OnTxj4NQgghZo7ueBAA/4tbJ4QQQvSJ9ngQAICtrS1iYmI4x60TQgghbFDhQQAAFRUVGDduHO7du4d79+4xj1NrLSGEECHRHg9CCCGEGAzt8SCEEEKIwVDhQQghhBCDocKDEEIIIQZDhQchhBBCDIYKD0IIIYQYzP8BGJJtnGgr6kUAAAAASUVORK5CYII="
     },
     "metadata": {},
     "output_type": "display_data",
     "jetTransient": {
      "display_id": null
     }
    }
   ],
   "execution_count": 38
  },
  {
   "cell_type": "markdown",
   "source": [
    "How many missing values are there? (`<pd.df>.isna().sum()` for all columns, `<pd.df>.['<column>'].isna().sum()` for a specific column, `<pd.df>.isna()[['<column1>', 'column2', ...]].sum()` for selected multiple columns; `isnull()` is the same as `isna()`, and `isna()` is used more often).\n",
    "\n",
    "Try also `<pd.df>.isna()`, `<pd.df>.isna()[['<column1>', 'column2', ...]]`, `type(<pd.df>.isna())`, `type(<pd.df>.isna().sum())`, `type(<pd.df>.isna()[['<column1>', 'column2', ...]].sum())`, `<pd.df>.isna().sum().value_counts()`."
   ],
   "metadata": {
    "collapsed": false
   }
  },
  {
   "cell_type": "code",
   "source": [
    "songs.isna().sum()\n",
    "type(songs.isna().sum())\n",
    "songs.isna().sum().index\n",
    "songs.isna().sum().values\n",
    "songs.isna().sum()[['track', 'recording_location']]\n",
    "# songs.isna()[['track', 'recording_location']]\n",
    "# songs.isna()[['track', 'recording_location']].sum()\n",
    "songs.isna().sum().value_counts()"
   ],
   "metadata": {
    "collapsed": false,
    "ExecuteTime": {
     "end_time": "2026-01-30T15:05:49.188320400Z",
     "start_time": "2026-01-30T15:05:49.137493Z"
    }
   },
   "outputs": [
    {
     "data": {
      "text/plain": [
       "0      19\n",
       "190     2\n",
       "354     2\n",
       "389     1\n",
       "372     1\n",
       "195     1\n",
       "243     1\n",
       "293     1\n",
       "448     1\n",
       "459     1\n",
       "479     1\n",
       "562     1\n",
       "216     1\n",
       "238     1\n",
       "Name: count, dtype: int64"
      ]
     },
     "execution_count": 54,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 54
  },
  {
   "cell_type": "markdown",
   "source": [
    "How many missing values are there in the columns where there *are* missing values? `<i> = <pd.df>.isna().sum() > 0`, `<pd.df>.isna().sum()[<i>]`. \n",
    "Try also `<i>`, `type(<i>)`, `<i>[<i>]`, `<pd.df>.loc[:, <i>]`."
   ],
   "metadata": {
    "collapsed": false
   }
  },
  {
   "cell_type": "code",
   "source": [
    "i = songs.isna().sum() > 0\n",
    "i\n",
    "songs.isna().sum()[i]\n",
    "type(i)\n",
    "i[i]\n",
    "songs.loc[:, i]"
   ],
   "metadata": {
    "collapsed": false,
    "ExecuteTime": {
     "end_time": "2026-01-30T15:15:31.506729500Z",
     "start_time": "2026-01-30T15:15:31.456394800Z"
    }
   },
   "outputs": [
    {
     "data": {
      "text/plain": [
       "    recording_period recording_location album_duration album_genre  \\\n",
       "0                NaN                NaN        1:49:44    Pop/Rock   \n",
       "1                NaN                NaN        1:49:44    Pop/Rock   \n",
       "2                NaN                NaN        1:49:44    Pop/Rock   \n",
       "3                NaN                NaN        1:49:44    Pop/Rock   \n",
       "4                NaN                NaN        1:49:44    Pop/Rock   \n",
       "..               ...                ...            ...         ...   \n",
       "769              NaN                NaN       40:57:00    Pop/Rock   \n",
       "770              NaN                NaN       40:57:00    Pop/Rock   \n",
       "771              NaN                NaN       40:57:00    Pop/Rock   \n",
       "772              NaN                NaN            NaN         NaN   \n",
       "773              NaN                NaN            NaN         NaN   \n",
       "\n",
       "                                          album_styles  \\\n",
       "0    Contemporary Pop/Rock, Singer/Songwriter, Albu...   \n",
       "1    Contemporary Pop/Rock, Singer/Songwriter, Albu...   \n",
       "2    Contemporary Pop/Rock, Singer/Songwriter, Albu...   \n",
       "3    Contemporary Pop/Rock, Singer/Songwriter, Albu...   \n",
       "4    Contemporary Pop/Rock, Singer/Songwriter, Albu...   \n",
       "..                                                 ...   \n",
       "769  Singer/Songwriter, Soft Rock, Contemporary Pop...   \n",
       "770  Singer/Songwriter, Soft Rock, Contemporary Pop...   \n",
       "771  Singer/Songwriter, Soft Rock, Contemporary Pop...   \n",
       "772                                                NaN   \n",
       "773                                                NaN   \n",
       "\n",
       "                                           album_moods  \\\n",
       "0    Literate, Pastoral, Gentle, Laid-Back/Mellow, ...   \n",
       "1    Literate, Pastoral, Gentle, Laid-Back/Mellow, ...   \n",
       "2    Literate, Pastoral, Gentle, Laid-Back/Mellow, ...   \n",
       "3    Literate, Pastoral, Gentle, Laid-Back/Mellow, ...   \n",
       "4    Literate, Pastoral, Gentle, Laid-Back/Mellow, ...   \n",
       "..                                                 ...   \n",
       "769  Amiable/Good-Natured, Earnest, Gentle, Intimat...   \n",
       "770  Amiable/Good-Natured, Earnest, Gentle, Intimat...   \n",
       "771  Amiable/Good-Natured, Earnest, Gentle, Intimat...   \n",
       "772                                                NaN   \n",
       "773                                                NaN   \n",
       "\n",
       "                                 album_themes    genres  \\\n",
       "0                     Reflection, Reminiscing       NaN   \n",
       "1                     Reflection, Reminiscing  Pop/Rock   \n",
       "2                     Reflection, Reminiscing  Pop/Rock   \n",
       "3                     Reflection, Reminiscing       NaN   \n",
       "4                     Reflection, Reminiscing  Pop/Rock   \n",
       "..                                        ...       ...   \n",
       "769  Daydreaming, Dinner Ambiance, Homecoming  Pop/Rock   \n",
       "770  Daydreaming, Dinner Ambiance, Homecoming  Pop/Rock   \n",
       "771  Daydreaming, Dinner Ambiance, Homecoming  Pop/Rock   \n",
       "772                                       NaN       NaN   \n",
       "773                                       NaN       NaN   \n",
       "\n",
       "                                                styles  \\\n",
       "0                                                  NaN   \n",
       "1    Contemporary Pop/Rock, Folk-Rock, Psychedelic/...   \n",
       "2    Album Rock, Contemporary Pop/Rock, Singer/Song...   \n",
       "3                                                  NaN   \n",
       "4    Folk-Rock, Album Rock, Psychedelic/Garage, Sin...   \n",
       "..                                                 ...   \n",
       "769  Album Rock, Folk-Rock, Psychedelic/Garage, Sin...   \n",
       "770  Album Rock, Folk-Rock, Psychedelic/Garage, Sin...   \n",
       "771  Album Rock, Folk-Rock, Psychedelic/Garage, Sin...   \n",
       "772                                                NaN   \n",
       "773                                                NaN   \n",
       "\n",
       "                                                 moods  \\\n",
       "0                                                  NaN   \n",
       "1    Innocent, Laid-Back/Mellow, Light, Organic, Re...   \n",
       "2    Literate, Wistful, Poignant, Sensual, Soft/Qui...   \n",
       "3                                                  NaN   \n",
       "4    Anguished/Distraught, Uncompromising, Gritty, ...   \n",
       "..                                                 ...   \n",
       "769                                            Organic   \n",
       "770                                            Organic   \n",
       "771                                            Organic   \n",
       "772                                                NaN   \n",
       "773                                                NaN   \n",
       "\n",
       "                                                themes  \\\n",
       "0                                                  NaN   \n",
       "1    Comfort, Day Driving, Hanging Out, Introspecti...   \n",
       "2                    Heartache, Late Night, Reflection   \n",
       "3                                                  NaN   \n",
       "4    Politics/Society, Reminiscing, Revolution, Los...   \n",
       "..                                                 ...   \n",
       "769                                                NaN   \n",
       "770                                                NaN   \n",
       "771                                                NaN   \n",
       "772                                                NaN   \n",
       "773                                                NaN   \n",
       "\n",
       "                                 composers producers vocals  user_rating  \n",
       "0                              Graham Nash       NaN    NaN          9.0  \n",
       "1                           Stephen Stills       NaN    NaN          9.0  \n",
       "2    Allan Clarke, Tony Hicks, Graham Nash       NaN    NaN          9.0  \n",
       "3                           Stephen Stills       NaN    NaN          9.0  \n",
       "4                               Neil Young       NaN    NaN          9.0  \n",
       "..                                     ...       ...    ...          ...  \n",
       "769                            Graham Nash       NaN    NaN          8.0  \n",
       "770                           David Crosby       NaN    NaN          8.0  \n",
       "771                           David Crosby       NaN    NaN          8.0  \n",
       "772                                    NaN       NaN    NaN          NaN  \n",
       "773                                    NaN       NaN    NaN          NaN  \n",
       "\n",
       "[774 rows x 15 columns]"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>recording_period</th>\n",
       "      <th>recording_location</th>\n",
       "      <th>album_duration</th>\n",
       "      <th>album_genre</th>\n",
       "      <th>album_styles</th>\n",
       "      <th>album_moods</th>\n",
       "      <th>album_themes</th>\n",
       "      <th>genres</th>\n",
       "      <th>styles</th>\n",
       "      <th>moods</th>\n",
       "      <th>themes</th>\n",
       "      <th>composers</th>\n",
       "      <th>producers</th>\n",
       "      <th>vocals</th>\n",
       "      <th>user_rating</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>1:49:44</td>\n",
       "      <td>Pop/Rock</td>\n",
       "      <td>Contemporary Pop/Rock, Singer/Songwriter, Albu...</td>\n",
       "      <td>Literate, Pastoral, Gentle, Laid-Back/Mellow, ...</td>\n",
       "      <td>Reflection, Reminiscing</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Graham Nash</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>9.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>1:49:44</td>\n",
       "      <td>Pop/Rock</td>\n",
       "      <td>Contemporary Pop/Rock, Singer/Songwriter, Albu...</td>\n",
       "      <td>Literate, Pastoral, Gentle, Laid-Back/Mellow, ...</td>\n",
       "      <td>Reflection, Reminiscing</td>\n",
       "      <td>Pop/Rock</td>\n",
       "      <td>Contemporary Pop/Rock, Folk-Rock, Psychedelic/...</td>\n",
       "      <td>Innocent, Laid-Back/Mellow, Light, Organic, Re...</td>\n",
       "      <td>Comfort, Day Driving, Hanging Out, Introspecti...</td>\n",
       "      <td>Stephen Stills</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>9.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>1:49:44</td>\n",
       "      <td>Pop/Rock</td>\n",
       "      <td>Contemporary Pop/Rock, Singer/Songwriter, Albu...</td>\n",
       "      <td>Literate, Pastoral, Gentle, Laid-Back/Mellow, ...</td>\n",
       "      <td>Reflection, Reminiscing</td>\n",
       "      <td>Pop/Rock</td>\n",
       "      <td>Album Rock, Contemporary Pop/Rock, Singer/Song...</td>\n",
       "      <td>Literate, Wistful, Poignant, Sensual, Soft/Qui...</td>\n",
       "      <td>Heartache, Late Night, Reflection</td>\n",
       "      <td>Allan Clarke, Tony Hicks, Graham Nash</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>9.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>1:49:44</td>\n",
       "      <td>Pop/Rock</td>\n",
       "      <td>Contemporary Pop/Rock, Singer/Songwriter, Albu...</td>\n",
       "      <td>Literate, Pastoral, Gentle, Laid-Back/Mellow, ...</td>\n",
       "      <td>Reflection, Reminiscing</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Stephen Stills</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>9.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>1:49:44</td>\n",
       "      <td>Pop/Rock</td>\n",
       "      <td>Contemporary Pop/Rock, Singer/Songwriter, Albu...</td>\n",
       "      <td>Literate, Pastoral, Gentle, Laid-Back/Mellow, ...</td>\n",
       "      <td>Reflection, Reminiscing</td>\n",
       "      <td>Pop/Rock</td>\n",
       "      <td>Folk-Rock, Album Rock, Psychedelic/Garage, Sin...</td>\n",
       "      <td>Anguished/Distraught, Uncompromising, Gritty, ...</td>\n",
       "      <td>Politics/Society, Reminiscing, Revolution, Los...</td>\n",
       "      <td>Neil Young</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>9.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>769</th>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>40:57:00</td>\n",
       "      <td>Pop/Rock</td>\n",
       "      <td>Singer/Songwriter, Soft Rock, Contemporary Pop...</td>\n",
       "      <td>Amiable/Good-Natured, Earnest, Gentle, Intimat...</td>\n",
       "      <td>Daydreaming, Dinner Ambiance, Homecoming</td>\n",
       "      <td>Pop/Rock</td>\n",
       "      <td>Album Rock, Folk-Rock, Psychedelic/Garage, Sin...</td>\n",
       "      <td>Organic</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Graham Nash</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>8.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>770</th>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>40:57:00</td>\n",
       "      <td>Pop/Rock</td>\n",
       "      <td>Singer/Songwriter, Soft Rock, Contemporary Pop...</td>\n",
       "      <td>Amiable/Good-Natured, Earnest, Gentle, Intimat...</td>\n",
       "      <td>Daydreaming, Dinner Ambiance, Homecoming</td>\n",
       "      <td>Pop/Rock</td>\n",
       "      <td>Album Rock, Folk-Rock, Psychedelic/Garage, Sin...</td>\n",
       "      <td>Organic</td>\n",
       "      <td>NaN</td>\n",
       "      <td>David Crosby</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>8.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>771</th>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>40:57:00</td>\n",
       "      <td>Pop/Rock</td>\n",
       "      <td>Singer/Songwriter, Soft Rock, Contemporary Pop...</td>\n",
       "      <td>Amiable/Good-Natured, Earnest, Gentle, Intimat...</td>\n",
       "      <td>Daydreaming, Dinner Ambiance, Homecoming</td>\n",
       "      <td>Pop/Rock</td>\n",
       "      <td>Album Rock, Folk-Rock, Psychedelic/Garage, Sin...</td>\n",
       "      <td>Organic</td>\n",
       "      <td>NaN</td>\n",
       "      <td>David Crosby</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>8.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>772</th>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>773</th>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>774 rows × 15 columns</p>\n",
       "</div>"
      ]
     },
     "execution_count": 61,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 61
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "Leave out rows with `np.NaN` values: `<pd.df>.dropna()`, `<pd.df>.<column>.dropna()`, `<pd.df>['<column>'].dropna()`."
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2026-01-30T15:19:31.781340300Z",
     "start_time": "2026-01-30T15:19:31.670505600Z"
    }
   },
   "cell_type": "code",
   "source": [
    "songs.dropna()\n",
    "songs.album_duration.dropna()"
   ],
   "outputs": [
    {
     "data": {
      "text/plain": [
       "0       1:49:44\n",
       "1       1:49:44\n",
       "2       1:49:44\n",
       "3       1:49:44\n",
       "4       1:49:44\n",
       "         ...   \n",
       "764    40:57:00\n",
       "767    40:57:00\n",
       "769    40:57:00\n",
       "770    40:57:00\n",
       "771    40:57:00\n",
       "Name: album_duration, Length: 584, dtype: object"
      ]
     },
     "execution_count": 63,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 63
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "Leave out columns with `np.NaN` values: `<pd.df>.dropna(axis=1)` (or `<pd.df>.dropna(axis='columns')`)."
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2026-01-30T15:30:44.867049500Z",
     "start_time": "2026-01-30T15:30:44.767411Z"
    }
   },
   "cell_type": "code",
   "source": [
    "songs.dropna(axis='columns', how='any', inplace=True)\n",
    "songs\n",
    "songs.isna().sum().sum()"
   ],
   "outputs": [
    {
     "data": {
      "text/plain": [
       "0"
      ]
     },
     "execution_count": 70,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 70
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2026-01-30T15:31:22.826907100Z",
     "start_time": "2026-01-30T15:31:22.756281100Z"
    }
   },
   "cell_type": "code",
   "source": [
    "# Save the modified dataset\n",
    "songs.to_csv('../data/csny_v3.csv', index=False)"
   ],
   "outputs": [],
   "execution_count": 71
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": [
    "##### Value counts\n",
    "Show value counts for a dataframe: `<pd.df>.value_counts()`, `<pd.df>.value_counts(normalize=True)`.\n",
    "- `<pd.df>['<column>'].value_counts()` (shows only the rows without NAs (default: dropna=True), check shape)\n",
    "- `<pd.df>['<column>'].value_counts(normalize=True)` (show proportions, rather than frequencies)\n"
   ]
  },
  {
   "cell_type": "code",
   "source": [
    "songs = pd.read_csv('../data/csny_v2.csv')\n",
    "songs['recording_location'].value_counts()\n",
    "songs['recording_location'].value_counts().sum()"
   ],
   "metadata": {
    "collapsed": false,
    "ExecuteTime": {
     "end_time": "2026-01-30T15:33:54.844639600Z",
     "start_time": "2026-01-30T15:33:54.755997700Z"
    }
   },
   "outputs": [
    {
     "data": {
      "text/plain": [
       "402"
      ]
     },
     "execution_count": 73,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 73
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": [
    "##### Duplicates\n",
    "The `<pd.df>.duplicated()` method returns a `pd.Series` object with boolean values denoting duplicated rows. The removal of duplicated rows is done by `<pd.df>.drop_duplicates()` (see below).\n",
    "\n",
    "Find/Show *complete* duplicates (if any): `<pd.df>.duplicated()` (keeps the first occurrence by default, i.e. marks duplicates as `True` except for the first occurrence), `<pd.df>.duplicated(keep='last)` (keeps the last occurrence by default, i.e. marks duplicates as `True` except for the last occurrence), `<pd.df>.duplicated(keep=False)` (marks all occurrences as `True`).\n",
    "\n",
    "Find duplicates based on a specific column): `<pd.df>.<column>.duplicated()`, `<pd.df>.duplicated(subset=['<column>'])`.\n",
    "\n",
    "Find duplicates based on multiple specific columns: `<pd.df>.duplicated(subset=['<column 1>', '<column 2>',...])`. \n",
    "\n",
    "Drop *complete* duplicates (if any): `<pd.df>.drop_duplicates(inplace=True)`.\n",
    "\n",
    "Remove rows with duplicates in a certain column (if any), keeping the first row with that value in that column (default): `<pd.df>.drop_duplicates('<column>', inplace=True)`, or keeping the last row with that value in that column: `<pd.df>.drop_duplicates('<column>', keep='last', inplace=True)`."
   ]
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2026-01-30T15:35:49.104174Z",
     "start_time": "2026-01-30T15:35:49.064908100Z"
    }
   },
   "cell_type": "code",
   "source": "songs = pd.read_csv('../data/csny_v3.csv')",
   "outputs": [],
   "execution_count": 74
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2026-01-30T15:38:15.247813900Z",
     "start_time": "2026-01-30T15:38:15.162107400Z"
    }
   },
   "cell_type": "code",
   "source": [
    "# Show duplicated songs (complete duplicates)\n",
    "songs.duplicated().sum()"
   ],
   "outputs": [
    {
     "data": {
      "text/plain": [
       "0"
      ]
     },
     "execution_count": 76,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 76
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2026-01-30T15:38:58.963230700Z",
     "start_time": "2026-01-30T15:38:58.875997200Z"
    }
   },
   "cell_type": "code",
   "source": [
    "# Show duplicates based on the song title (the 'track' column) only\n",
    "songs.track.duplicated().sum()"
   ],
   "outputs": [
    {
     "data": {
      "text/plain": [
       "0"
      ]
     },
     "execution_count": 78,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 78
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2026-01-30T15:40:21.244187300Z",
     "start_time": "2026-01-30T15:40:21.190048800Z"
    }
   },
   "cell_type": "code",
   "source": [
    "# Show the effect of removing duplicates based on the song title (the 'track' column), i.e. without inplace=True\n",
    "songs.drop_duplicates('track')"
   ],
   "outputs": [
    {
     "data": {
      "text/plain": [
       "                        track              album album_type  \\\n",
       "0              Chicago (CSNY)       4 Way Street       live   \n",
       "1    Find the Cost of Freedom       4 Way Street       live   \n",
       "2       King Midas in Reverse       4 Way Street       live   \n",
       "3                      Medley       4 Way Street       live   \n",
       "4                 Ohio (CSNY)       4 Way Street       live   \n",
       "..                        ...                ...        ...   \n",
       "769             Love Work Out  Wind on the Water     studio   \n",
       "770          Low Down Payment  Wind on the Water     studio   \n",
       "771                 Mama Lion  Wind on the Water     studio   \n",
       "772         Naked In The Rain  Wind on the Water     studio   \n",
       "773    Take The Money And Run  Wind on the Water     studio   \n",
       "\n",
       "                           artist release_date  duration  popularity  \\\n",
       "0    Crosby, Stills, Nash & Young     7/4/1971    190826          33   \n",
       "1    Crosby, Stills, Nash & Young     7/4/1971    141200          24   \n",
       "2    Crosby, Stills, Nash & Young     7/4/1971    223266          22   \n",
       "3    Crosby, Stills, Nash & Young     7/4/1971    580666          27   \n",
       "4    Crosby, Stills, Nash & Young     7/4/1971    214133          26   \n",
       "..                            ...          ...       ...         ...   \n",
       "769                  David Crosby         1975    290800          13   \n",
       "770                  David Crosby         1975    295293           8   \n",
       "771                  David Crosby         1975    196160          12   \n",
       "772                  David Crosby         1975    149706          17   \n",
       "773                  David Crosby         1975    203426          14   \n",
       "\n",
       "     danceability  energy  key  loudness  mode  speechiness  acousticness  \\\n",
       "0           0.555   0.410    9   -10.210     0       0.0330        0.9120   \n",
       "1           0.384   0.153    8   -18.311     1       0.0348        0.7140   \n",
       "2           0.419   0.550    1   -13.016     1       0.2800        0.6890   \n",
       "3           0.458   0.407    8   -12.981     1       0.0503        0.4940   \n",
       "4           0.273   0.782    2    -7.928     0       0.0372        0.0274   \n",
       "..            ...     ...  ...       ...   ...          ...           ...   \n",
       "769         0.533   0.712    9    -9.474     0       0.0307        0.1080   \n",
       "770         0.372   0.486    7   -11.605     1       0.0382        0.5670   \n",
       "771         0.480   0.620    4   -10.592     0       0.0432        0.4230   \n",
       "772         0.629   0.222    7   -16.339     1       0.0268        0.7800   \n",
       "773         0.508   0.610    2   -10.054     1       0.0265        0.6600   \n",
       "\n",
       "     instrumentalness  liveness  valence    tempo  time_signature  \n",
       "0            0.000017    0.8660    0.405  147.037               4  \n",
       "1            0.000010    0.2700    0.575   75.233               4  \n",
       "2            0.000000    0.7020    0.464  155.204               4  \n",
       "3            0.000253    0.9410    0.411  140.527               4  \n",
       "4            0.000001    0.9320    0.677  161.686               4  \n",
       "..                ...       ...      ...      ...             ...  \n",
       "769          0.002350    0.2540    0.611   82.658               4  \n",
       "770          0.049800    0.7380    0.513  150.695               4  \n",
       "771          0.008030    0.1100    0.556  125.519               3  \n",
       "772          0.000384    0.0907    0.358   84.995               4  \n",
       "773          0.033800    0.0863    0.628   91.570               4  \n",
       "\n",
       "[774 rows x 19 columns]"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>track</th>\n",
       "      <th>album</th>\n",
       "      <th>album_type</th>\n",
       "      <th>artist</th>\n",
       "      <th>release_date</th>\n",
       "      <th>duration</th>\n",
       "      <th>popularity</th>\n",
       "      <th>danceability</th>\n",
       "      <th>energy</th>\n",
       "      <th>key</th>\n",
       "      <th>loudness</th>\n",
       "      <th>mode</th>\n",
       "      <th>speechiness</th>\n",
       "      <th>acousticness</th>\n",
       "      <th>instrumentalness</th>\n",
       "      <th>liveness</th>\n",
       "      <th>valence</th>\n",
       "      <th>tempo</th>\n",
       "      <th>time_signature</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>Chicago (CSNY)</td>\n",
       "      <td>4 Way Street</td>\n",
       "      <td>live</td>\n",
       "      <td>Crosby, Stills, Nash &amp; Young</td>\n",
       "      <td>7/4/1971</td>\n",
       "      <td>190826</td>\n",
       "      <td>33</td>\n",
       "      <td>0.555</td>\n",
       "      <td>0.410</td>\n",
       "      <td>9</td>\n",
       "      <td>-10.210</td>\n",
       "      <td>0</td>\n",
       "      <td>0.0330</td>\n",
       "      <td>0.9120</td>\n",
       "      <td>0.000017</td>\n",
       "      <td>0.8660</td>\n",
       "      <td>0.405</td>\n",
       "      <td>147.037</td>\n",
       "      <td>4</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>Find the Cost of Freedom</td>\n",
       "      <td>4 Way Street</td>\n",
       "      <td>live</td>\n",
       "      <td>Crosby, Stills, Nash &amp; Young</td>\n",
       "      <td>7/4/1971</td>\n",
       "      <td>141200</td>\n",
       "      <td>24</td>\n",
       "      <td>0.384</td>\n",
       "      <td>0.153</td>\n",
       "      <td>8</td>\n",
       "      <td>-18.311</td>\n",
       "      <td>1</td>\n",
       "      <td>0.0348</td>\n",
       "      <td>0.7140</td>\n",
       "      <td>0.000010</td>\n",
       "      <td>0.2700</td>\n",
       "      <td>0.575</td>\n",
       "      <td>75.233</td>\n",
       "      <td>4</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>King Midas in Reverse</td>\n",
       "      <td>4 Way Street</td>\n",
       "      <td>live</td>\n",
       "      <td>Crosby, Stills, Nash &amp; Young</td>\n",
       "      <td>7/4/1971</td>\n",
       "      <td>223266</td>\n",
       "      <td>22</td>\n",
       "      <td>0.419</td>\n",
       "      <td>0.550</td>\n",
       "      <td>1</td>\n",
       "      <td>-13.016</td>\n",
       "      <td>1</td>\n",
       "      <td>0.2800</td>\n",
       "      <td>0.6890</td>\n",
       "      <td>0.000000</td>\n",
       "      <td>0.7020</td>\n",
       "      <td>0.464</td>\n",
       "      <td>155.204</td>\n",
       "      <td>4</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>Medley</td>\n",
       "      <td>4 Way Street</td>\n",
       "      <td>live</td>\n",
       "      <td>Crosby, Stills, Nash &amp; Young</td>\n",
       "      <td>7/4/1971</td>\n",
       "      <td>580666</td>\n",
       "      <td>27</td>\n",
       "      <td>0.458</td>\n",
       "      <td>0.407</td>\n",
       "      <td>8</td>\n",
       "      <td>-12.981</td>\n",
       "      <td>1</td>\n",
       "      <td>0.0503</td>\n",
       "      <td>0.4940</td>\n",
       "      <td>0.000253</td>\n",
       "      <td>0.9410</td>\n",
       "      <td>0.411</td>\n",
       "      <td>140.527</td>\n",
       "      <td>4</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>Ohio (CSNY)</td>\n",
       "      <td>4 Way Street</td>\n",
       "      <td>live</td>\n",
       "      <td>Crosby, Stills, Nash &amp; Young</td>\n",
       "      <td>7/4/1971</td>\n",
       "      <td>214133</td>\n",
       "      <td>26</td>\n",
       "      <td>0.273</td>\n",
       "      <td>0.782</td>\n",
       "      <td>2</td>\n",
       "      <td>-7.928</td>\n",
       "      <td>0</td>\n",
       "      <td>0.0372</td>\n",
       "      <td>0.0274</td>\n",
       "      <td>0.000001</td>\n",
       "      <td>0.9320</td>\n",
       "      <td>0.677</td>\n",
       "      <td>161.686</td>\n",
       "      <td>4</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>769</th>\n",
       "      <td>Love Work Out</td>\n",
       "      <td>Wind on the Water</td>\n",
       "      <td>studio</td>\n",
       "      <td>David Crosby</td>\n",
       "      <td>1975</td>\n",
       "      <td>290800</td>\n",
       "      <td>13</td>\n",
       "      <td>0.533</td>\n",
       "      <td>0.712</td>\n",
       "      <td>9</td>\n",
       "      <td>-9.474</td>\n",
       "      <td>0</td>\n",
       "      <td>0.0307</td>\n",
       "      <td>0.1080</td>\n",
       "      <td>0.002350</td>\n",
       "      <td>0.2540</td>\n",
       "      <td>0.611</td>\n",
       "      <td>82.658</td>\n",
       "      <td>4</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>770</th>\n",
       "      <td>Low Down Payment</td>\n",
       "      <td>Wind on the Water</td>\n",
       "      <td>studio</td>\n",
       "      <td>David Crosby</td>\n",
       "      <td>1975</td>\n",
       "      <td>295293</td>\n",
       "      <td>8</td>\n",
       "      <td>0.372</td>\n",
       "      <td>0.486</td>\n",
       "      <td>7</td>\n",
       "      <td>-11.605</td>\n",
       "      <td>1</td>\n",
       "      <td>0.0382</td>\n",
       "      <td>0.5670</td>\n",
       "      <td>0.049800</td>\n",
       "      <td>0.7380</td>\n",
       "      <td>0.513</td>\n",
       "      <td>150.695</td>\n",
       "      <td>4</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>771</th>\n",
       "      <td>Mama Lion</td>\n",
       "      <td>Wind on the Water</td>\n",
       "      <td>studio</td>\n",
       "      <td>David Crosby</td>\n",
       "      <td>1975</td>\n",
       "      <td>196160</td>\n",
       "      <td>12</td>\n",
       "      <td>0.480</td>\n",
       "      <td>0.620</td>\n",
       "      <td>4</td>\n",
       "      <td>-10.592</td>\n",
       "      <td>0</td>\n",
       "      <td>0.0432</td>\n",
       "      <td>0.4230</td>\n",
       "      <td>0.008030</td>\n",
       "      <td>0.1100</td>\n",
       "      <td>0.556</td>\n",
       "      <td>125.519</td>\n",
       "      <td>3</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>772</th>\n",
       "      <td>Naked In The Rain</td>\n",
       "      <td>Wind on the Water</td>\n",
       "      <td>studio</td>\n",
       "      <td>David Crosby</td>\n",
       "      <td>1975</td>\n",
       "      <td>149706</td>\n",
       "      <td>17</td>\n",
       "      <td>0.629</td>\n",
       "      <td>0.222</td>\n",
       "      <td>7</td>\n",
       "      <td>-16.339</td>\n",
       "      <td>1</td>\n",
       "      <td>0.0268</td>\n",
       "      <td>0.7800</td>\n",
       "      <td>0.000384</td>\n",
       "      <td>0.0907</td>\n",
       "      <td>0.358</td>\n",
       "      <td>84.995</td>\n",
       "      <td>4</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>773</th>\n",
       "      <td>Take The Money And Run</td>\n",
       "      <td>Wind on the Water</td>\n",
       "      <td>studio</td>\n",
       "      <td>David Crosby</td>\n",
       "      <td>1975</td>\n",
       "      <td>203426</td>\n",
       "      <td>14</td>\n",
       "      <td>0.508</td>\n",
       "      <td>0.610</td>\n",
       "      <td>2</td>\n",
       "      <td>-10.054</td>\n",
       "      <td>1</td>\n",
       "      <td>0.0265</td>\n",
       "      <td>0.6600</td>\n",
       "      <td>0.033800</td>\n",
       "      <td>0.0863</td>\n",
       "      <td>0.628</td>\n",
       "      <td>91.570</td>\n",
       "      <td>4</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>774 rows × 19 columns</p>\n",
       "</div>"
      ]
     },
     "execution_count": 79,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 79
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": [
    "##### Removing the rows with a specific value (specific values) in a certain column\n",
    "Use: `<pd.df> = <pd.df>.loc[<pd.df>.<column> == <value>, inplace=True)`, `<pd.df> = <pd.df>.loc[<pd.df>['<column>'] == <value>, inplace=True)`, `<pd.df> = <pd.df>.loc[<pd.df>.<column> != <value>, inplace=True)`, `<pd.df> = <pd.df>.loc[<pd.df>['<column>'] != <value>, inplace=True)`, `<pd.df>.loc[<pd.df>.<column>.isin([<value 1>, <value 2>, ...])]`, and the like."
   ]
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2026-01-30T16:06:58.357757600Z",
     "start_time": "2026-01-30T16:06:58.316842100Z"
    }
   },
   "cell_type": "code",
   "source": [
    "# Remove the songs appearing on live, compilation, and box set albums, using\n",
    "# <pd.df>.loc[<pd.df>.<column>.isin([<value 1>, <value 2>, ...])]\n",
    "songs.album_type.unique()\n",
    "songs.album_type.value_counts()\n",
    "songs.loc[songs.album_type != 'live', :]\n",
    "songs = songs.loc[~songs.album_type.isin(['live', 'box set', 'archives', 'soundtrack']), :]"
   ],
   "outputs": [],
   "execution_count": 95
  },
  {
   "metadata": {},
   "cell_type": "code",
   "outputs": [],
   "execution_count": null,
   "source": "# Check for duplicates now; if there ARE duplicates left, examine them and their features manually\n"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2026-01-30T16:07:38.973062800Z",
     "start_time": "2026-01-30T16:07:38.848050800Z"
    }
   },
   "cell_type": "code",
   "source": [
    "# Reset index to 0:n: <pd.df>.reset_index(drop=True, inplace=True); drop=True: do not insert index into columns\n",
    "songs.reset_index(drop=True, inplace=True)\n",
    "songs\n",
    "songs.album_type.unique()"
   ],
   "outputs": [
    {
     "data": {
      "text/plain": [
       "array(['studio'], dtype=object)"
      ]
     },
     "execution_count": 97,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 97
  },
  {
   "metadata": {},
   "cell_type": "code",
   "outputs": [],
   "execution_count": 184,
   "source": [
    "# Remove the remaining duplicate: <pd.df>.drop_duplicates('track', keep='first'|'last', inplace=True);\n",
    "# alternatively, <pd.df>.drop(index=<i>, inplace=True), <pd.df>.drop(index=[<i1>, <i2>, ...], inplace=True)\n"
   ]
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-09-18T10:40:17.631888Z",
     "start_time": "2024-09-18T10:40:17.612915Z"
    }
   },
   "cell_type": "code",
   "source": "# Optionally, reset index again\n",
   "outputs": [],
   "execution_count": 5
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2026-01-30T16:08:19.424545300Z",
     "start_time": "2026-01-30T16:08:19.392926900Z"
    }
   },
   "cell_type": "code",
   "source": [
    "# Save the modified dataset\n",
    "songs.to_csv('../data/csny_v4.csv', index=False)"
   ],
   "outputs": [],
   "execution_count": 98
  },
  {
   "cell_type": "markdown",
   "source": [
    "### Examining individual data items, rows and columns\n",
    "- `<pd.df>.sample()`\n",
    "- Simple indexing and fancy indexing: `<pd.df>.iloc[]`, `<pd.df>.loc[]`\n",
    "- `<pd.df>.index`, `<pd.df>.index[<from>:<to>]`, `<pd.df>.reset_index(drop=True, inplace=True)`\n",
    "- Indexing using list of values: `<pd.df>.loc[<pd.df>.<column>.isin(<list of values>)]` (select those observations where the value of <column> is in the `<list of values>`)\n",
    "- Indexing in data stats: `<pd.df>.describe().loc['50%', '<column_name>']` (select the median of `<column_name>` from the `<pd.df>` stats computed by `describe()`)"
   ],
   "metadata": {
    "collapsed": false
   }
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "Read a dataset with missing values."
  },
  {
   "metadata": {},
   "cell_type": "code",
   "outputs": [],
   "execution_count": null,
   "source": ""
  },
  {
   "cell_type": "markdown",
   "source": [
    "Take a sample of the dataset to get a feeling of what's in there."
   ],
   "metadata": {
    "collapsed": false
   }
  },
  {
   "cell_type": "code",
   "source": [],
   "metadata": {
    "collapsed": false
   },
   "outputs": [],
   "execution_count": null
  },
  {
   "cell_type": "markdown",
   "source": [
    "What are the songs that have *some* missing values? \n",
    "Use masking to create the index of such elements; e.g. `<i>`, e.g., `<i> = songs.isna().sum() > 0` and show the type of the result (it's a `pd.Series` object).\n",
    "Display `<i>.index` and `<i>.values`. "
   ],
   "metadata": {
    "collapsed": false
   }
  },
  {
   "cell_type": "code",
   "source": [],
   "metadata": {
    "collapsed": false
   },
   "outputs": [],
   "execution_count": null
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": [
    "From the `pd.Series` object `<i>` created in the previous step, select the elements that have the values > 0 (i.e., the names of the columns that have some `NaN` values) - `<i>[<i>]`, `<i>[<i>.values > 0]` (works because `<i>.values` are `True` and `False`, and `True.__int__() = 1`).\n",
    "\n",
    "Also, from the `<pd.df>` select a subset with only those columns that have *some* `NaN` values - `<pd.df>.loc[:, <i>]`."
   ]
  },
  {
   "cell_type": "code",
   "source": [],
   "metadata": {
    "collapsed": false
   },
   "outputs": [],
   "execution_count": null
  },
  {
   "cell_type": "markdown",
   "source": [
    "How many `NaN`s are there in each column that has `NaN`s? `<pd.df>.isna().sum()[i]`."
   ],
   "metadata": {
    "collapsed": false
   }
  },
  {
   "cell_type": "code",
   "source": [],
   "metadata": {
    "collapsed": false
   },
   "outputs": [],
   "execution_count": null
  },
  {
   "cell_type": "markdown",
   "source": "From a `<pd.df>` select all *rows* that have *some* missing values: `<pd.df>[<pd.df>.isna().any(axis=1)]`, `<pd.df>.loc[<pd.df>.isna().any(axis=1)]`, `<pd.df>.loc[<pd.df>.isna().any(axis=1), :]`.",
   "metadata": {
    "collapsed": false
   }
  },
  {
   "cell_type": "code",
   "source": [],
   "metadata": {
    "collapsed": false
   },
   "outputs": [],
   "execution_count": null
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "Select rows based on column conditions: `<pd.df>.loc[<pd.df>.<column 1> == <...>]`, `<pd.df>.loc[(<pd.df>.<column 1> == <...>) & (<pd.df>.<column 2> == <...>)]`, etc. Notice the use of `&`, not `and`."
  },
  {
   "metadata": {},
   "cell_type": "code",
   "source": "",
   "outputs": [],
   "execution_count": null
  },
  {
   "cell_type": "markdown",
   "source": "What are the rows that have missing values in a specific column of a `<pd.df>`? For example, what are the songs with missing `track_composers` values?",
   "metadata": {
    "collapsed": false
   }
  },
  {
   "cell_type": "markdown",
   "source": [
    "Using `isna()`, `loc[]`, `iloc[]`, `len()` and `index`."
   ],
   "metadata": {
    "collapsed": false
   }
  },
  {
   "cell_type": "markdown",
   "source": [
    "Calling `loc[]` effectively means *creating a subset* (typically based on a relational or logical expression over one or more columns of the dataset). In other words, `loc[]` creates a *slice* of the dataframe, so the type of the result is `<pd.df>`.\n",
    "\n",
    "Note that `loc[]` works as `loc[<selected rows>, <selected columns>]`. The indices `<selected rows>` and `<selected columns>` can be created either directly in `loc[]` or beforehand.\n",
    "\n",
    "If defining the <selected rows> index to be used with `loc[]` subsequently, it is a good practice to define it as a boolean *mask* over a single column, like `<pd.df>['<column>'].isna()`, or as a logical expression in which each chunk is a relational expression over a single column, e.g. `<pd.df>['<column1>'].isna() & <pd.df>['<column2>'] < 23`. The result will be a subset of the original dataframe (i.e., another `<pd.df>`)."
   ],
   "metadata": {
    "collapsed": false
   }
  },
  {
   "cell_type": "markdown",
   "source": [
    "Defining the relevant index with a statement like `<pd.df>.loc[<pd.df>['<column>'].isna()].index` is a good starting point when using `iloc[]` subsequently.\n",
    "\n",
    "If using `iloc[]`, don't forget the `.index` chunk in the statement used to create the index (such as `<pd.df>.loc[<pd.df>['<column>'].isna()].index`). Without it, the result is another `<pd.df>`."
   ],
   "metadata": {
    "collapsed": false
   }
  },
  {
   "cell_type": "code",
   "source": [
    "# Define i_iloc, the index to be used with iloc[], starting from <i> = <pd.df>['<column>'].isna();\n",
    "# iloc[] can be used conveniently here if the relevant index is already defined with <pd.df>.loc[<i>].index, i.e. <pd.df>.loc[<pd.df>['<column>'].isna()].index;\n",
    "# remember that the second index in iloc[] must be a number too (the relevant column index)\n",
    "\n",
    "# Define i_loc, the index (boolean mask) to be used with loc[], e.g. i_loc = <pd.df>['<column>'].isna()\n",
    "\n",
    "# display(songs.loc[i_loc.index, ['track', 'track_composers']])\n",
    "# display(songs.iloc[i_iloc, [0, 20]])"
   ],
   "metadata": {
    "collapsed": false
   },
   "outputs": [],
   "execution_count": null
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "Replace `NaN` values in `track_composers` with `'unknown'` (`<pd.df>.loc[<i_loc>, '<column>'] = <new value>`, `<pd.df>.iloc[<i_iloc>, <column index>] = <new value>`)."
  },
  {
   "metadata": {},
   "cell_type": "code",
   "outputs": [],
   "execution_count": 135,
   "source": "# Make the replacement and display it\n"
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "Double-check the missing values now:"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-09-17T22:27:07.397686Z",
     "start_time": "2024-09-17T22:27:07.392170Z"
    }
   },
   "cell_type": "code",
   "source": [
    "# Use <pd.df>.<column>.isna().sum(), or <pd.df>.isna().sum()['<column>'], or \n",
    "# sb.heatmap(<pd.df>.isna(), cmap='...')\n"
   ],
   "outputs": [],
   "execution_count": 4
  },
  {
   "cell_type": "markdown",
   "source": "How many songs from the beginning of the csny era are there?",
   "metadata": {
    "collapsed": false
   }
  },
  {
   "cell_type": "code",
   "source": [
    "# Define the beginning of the csny era as a list comprehension\n",
    "\n",
    "# Display the songs from the early years using a combination of <pd.df>.loc[] and isin()\n"
   ],
   "metadata": {
    "collapsed": false
   },
   "outputs": [],
   "execution_count": null
  },
  {
   "cell_type": "markdown",
   "source": [
    "### Grouping and sorting data\n",
    "- `<pd.df>['<column>'].unique()`, `<pd.df>['<column>'].nunique()`\n",
    "- `<pd.df>.<column>.groupby()`, `<pd.df>.groupby('<column>')`, `<pd.df>.groupby('<column>').get_group(<value>)`\n",
    "- `<pd.df>['<column>'].value_counts()`, `<pd.df>['<column>'].value_counts().sort_index()`, `<pd.df>['<column>'].value_counts().sort_index(inplace=True)`\n",
    "- `<pd.df>.sort_values(by='<column name>', ascending=False/True)`\n",
    "- `<pd.df>.groupby('<column>').<another column>.<f()>.sort_values(ascending=False)` (aggregate using function `f()`, e.g. `mean()`)\n",
    "- `<pd.df>.groupby('<column>').<another column>.agg(['<f1 name>', '<f2 name>', ...])` (aggregate using multiple functions, e.g. `mean()`, `count()`,...)\n",
    "\n",
    "If `sort_values()` is used after `agg([<'f1 name>', '<f2 name>', ...])` (`agg(['<f1 name>', '<f2 name>', ...]).sort_values(by='<f name>', ascending=False)`), it must be passed one positional argument (`by='<f name>'`) before the optional `ascending=False`.\n"
   ],
   "metadata": {
    "collapsed": false
   }
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "Read a dataset without missing values."
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-09-18T11:14:28.302544Z",
     "start_time": "2024-09-18T11:14:28.300029Z"
    }
   },
   "cell_type": "code",
   "source": "",
   "outputs": [],
   "execution_count": null
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "How many unique values for `release_year` are there in the dataset (`<pd.df>['<column>'].unique()`, `<pd.df>.<column>.unique()`; `<pd.df>['<column>'].nunique()`, `<pd.df>.<column>.nunique()`)?"
  },
  {
   "cell_type": "code",
   "source": [],
   "metadata": {
    "collapsed": false
   },
   "outputs": [],
   "execution_count": null
  },
  {
   "cell_type": "markdown",
   "source": [
    "Group the songs in the dataset by the year of release (`<pd.df>.groupby('<column>')`). The result can be `songs_by_year`. Display it, show its type, and explore its individual groups and their types (`<pd.df>.groupby('<column>').get_group(<value>)`). "
   ],
   "metadata": {
    "collapsed": false
   }
  },
  {
   "cell_type": "code",
   "source": [],
   "metadata": {
    "collapsed": false
   },
   "outputs": [],
   "execution_count": null
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": [
    "How many songs are there in the dataset for each `release_year` (`<pd.df>['<column>'].value_counts()`, `<pd.df>['<column>'].value_counts()[<year>]`, `<pd.df>['<column>'].value_counts().sort_index()`)?\n",
    "\n",
    "Note that `value_counts()` returns a `pd.Series` object, with the index equal to `<pd.df>['<column>'].unique()` values."
   ]
  },
  {
   "cell_type": "code",
   "source": [],
   "metadata": {
    "collapsed": false
   },
   "outputs": [],
   "execution_count": null
  },
  {
   "cell_type": "markdown",
   "source": [
    "Sort the songs from the dataset by the year of release (`<pd.df>.sort_values(by='<column name>', ascending=False/True)`).\n",
    "(It is also possible to use `inplace=True` in `sort_values()`, but it will change the order of songs in the dataset from that point on.)"
   ],
   "metadata": {
    "collapsed": false
   }
  },
  {
   "cell_type": "code",
   "source": [],
   "metadata": {
    "collapsed": false
   },
   "outputs": [],
   "execution_count": null
  },
  {
   "cell_type": "markdown",
   "source": [
    "Group the songs in the dataset by the year of release and display `mean` and/or `max` duration of the songs in each year, as well as the number (`count`) of songs in each year (`<pd.df>.groupby('<column>').<another column>.<f()>.sort_values(ascending=False)` (aggregate using function `f()`, e.g. `mean()`), `<pd.df>.groupby('<column>').<another column>.agg(['f1 name>', '<f2 name>', ...])` (aggregate using multiple functions, e.g. `mean()`, `count()`, `max()`,...)).\n",
    "If `sort_values()` is used after `agg([<'f1 name>', '<f2 name>', ...])` (`agg(['<f1 name>', '<f2 name>', ...]).sort_values(by='<f name>', ascending=False)`), it must be passed one positional argument (`by='<f name>'`) before the optional `ascending=False`."
   ],
   "metadata": {
    "collapsed": false
   }
  },
  {
   "cell_type": "code",
   "source": [
    "# Make the groupings and aggregations\n",
    "\n",
    "# <pd.df>.groupby('<column>').<another column>.<f()>.sort_values(ascending=False)\n",
    "\n",
    "# <pd.df>.groupby('<column>').<another column>.agg(['<f1 name>', '<f2 name>', ...]).sort_values(by='<f name>', ascending=False)\n"
   ],
   "metadata": {
    "collapsed": false
   },
   "outputs": [],
   "execution_count": null
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": [
    "## Data visualization\n",
    "Plot some scatterplots, line plots, bar graphs, histograms, scatterplots, box plots, violins, heatmaps,...\n",
    "[Example](https://www.analyticsvidhya.com/blog/2021/08/how-to-perform-exploratory-data-analysis-a-guide-for-beginners/)\n",
    "\n",
    "[Matplotlib examples](https://matplotlib.org/stable/gallery/index.html)\n",
    "\n",
    "[Seaborn examples](https://seaborn.pydata.org/examples/index.html) (see also [The Python Graph Gallery](https://www.python-graph-gallery.com/); it has a very neat user interface!)\n",
    "\n",
    "<u>**Note that it is also possible to**</u> <u>**[plot lines, bargraphs,... with Pandas only](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.plot.line.html)**</u> (although in such cases Pandas interacts with Matplotlib under the hood)."
   ]
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": [
    "<b>IMPORTANT: Matplotlib terminology, Figure vs. Axes</b><br>\n",
    "A `Figure` object in Matplotlib is the outermost container for a Matplotlib graphic, which can contain multiple `Axes` objects. One source of confusion is the name: an `Axes` actually translates into what we think of as an individual plot or graph (rather than the plural of \"axis\", as we might expect)."
   ]
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "##### Missing values"
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": [
    "Read the dataset.\n",
    "\n",
    "`pd.read_csv()` returns a `pd.DataFrame` object.\n",
    "\n",
    "As for specifying the path of the dataset properly, see [this](https://stackoverflow.com/questions/35384358/how-to-open-my-files-in-data-folder-with-pandas-using-relative-path) (more specifically, **both** [this](https://stackoverflow.com/a/35384414/1899061) and [this](https://stackoverflow.com/a/43600253/1899061))."
   ]
  },
  {
   "metadata": {},
   "cell_type": "code",
   "outputs": [],
   "execution_count": 3,
   "source": [
    "# Get the songs as a pd.DataFrame object from 'data/csny_v4.csv', \n",
    "# or from '../data/csny_v4.csv', or '../../data/csny_v4.csv', or ...,\n",
    "# depending on where the csv file is located\n"
   ]
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "Check for missing values (use, e.g., `sb.heatmap(<pd.df>.isna(), cbar=False, cmap='viridis')`)."
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-09-19T15:10:52.229786Z",
     "start_time": "2024-09-19T15:10:52.227178Z"
    }
   },
   "cell_type": "code",
   "source": "",
   "outputs": [],
   "execution_count": null
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "Briefly analyze the rows with `NaN`s. To select all such rows, use `any()` (`<pd.df>.loc[<pd.df>.isna().any(axis=1), ['<column 1>', '<column 2>', ...]`). To select the rows where there are no `NaN`s at all, use `<pd.df>.loc[<pd.df>.notna().all(axis=1), ['<column 1>', '<column 2>', ...]`."
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-09-19T15:11:13.599006Z",
     "start_time": "2024-09-19T15:11:13.595801Z"
    }
   },
   "cell_type": "code",
   "source": "",
   "outputs": [],
   "execution_count": null
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "If it is difficult to spot any regular pattern, get rid of `NaN`s in the simplest way possible (`<pd.df>.dropna(inplace=True)`). Make sure that the modified dataset is `NaN`-free (`<pd.df>.isna().sum()`)."
  },
  {
   "metadata": {},
   "cell_type": "code",
   "outputs": [],
   "execution_count": null,
   "source": ""
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "Save the reduced dataset as `csny_visualization.csv`, the starting one to make visualizations."
  },
  {
   "metadata": {},
   "cell_type": "code",
   "outputs": [],
   "execution_count": null,
   "source": "# Save the modified dataset\n"
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "##### Scatterplot"
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": [
    "Read the modified dataset (if necessary).\n",
    "\n",
    "`pd.read_csv()` returns a `pd.DataFrame` object.\n",
    "\n",
    "As for specifying the path of the dataset properly, see [this](https://stackoverflow.com/questions/35384358/how-to-open-my-files-in-data-folder-with-pandas-using-relative-path) (more specifically, **both** [this](https://stackoverflow.com/a/35384414/1899061) and [this](https://stackoverflow.com/a/43600253/1899061))."
   ]
  },
  {
   "metadata": {},
   "cell_type": "code",
   "outputs": [],
   "execution_count": null,
   "source": ""
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "Scatterplot the relationship between `duration` and `danceability`."
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "If the format of `duration` is `str`, change it to `int`."
  },
  {
   "metadata": {},
   "cell_type": "code",
   "outputs": [],
   "execution_count": null,
   "source": ""
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "Save the modified dataset as `csny_visualization_duration_int.csv`."
  },
  {
   "metadata": {},
   "cell_type": "code",
   "outputs": [],
   "execution_count": null,
   "source": "# Save the modified dataset\n"
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "To set the ranges of values on x-axis and y-axis (`duration`, `danceability`), check the min and max values or run `describe()`. Even better, run `songs.describe().loc[['min', 'max'], ['duration', 'danceability']]`, since `describe()` creates a `<pd.df>` object."
  },
  {
   "metadata": {},
   "cell_type": "code",
   "outputs": [],
   "execution_count": null,
   "source": ""
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "###### 1. Plotting using Matplotlib"
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": [
    "[Matplotlib scatterplot example](https://matplotlib.org/stable/gallery/shapes_and_collections/scatter.html)<br>\n",
    "[Excellent tutorial on matplotlib](https://realpython.com/python-matplotlib-guide/)\n",
    "\n",
    "Simple version:<br>\n",
    "`ax = plt.axes()`<br>\n",
    "`ax.set(xlim=(<from>, <to>), ylim=(<from>, <to>), xlabel='<xlabel>', ylabel='<ylabel>', title='<title>')`<br>\n",
    "`ax.scatter(<pd.df>['<X>'], <pd.df>['<Y>'], marker='<marker type>', c='<fill color>', edgecolors='<edgecolor>', s=<marker size>)`; <br>\n",
    "\n",
    "The `<pd.df>['<X>']` and `<pd.df>['<Y>']` arguments can be also specified as `<pd.df>.<X>` and `<pd.df>.<Y>` if `<X>` and `<Y>` are single words.\n",
    "The color parameter (`c`) is optional; if present, it should be a scalar or a sequence of length consistent with the lengths of `<X>` and `<Y>` (`(<X>, <Y>)` points). The `marker` parameter is optional as well. Both `c` and `marker` have defaults. For other values of `c` and `marker`, see [this](https://matplotlib.org/stable/gallery/color/named_colors.html#css-colors) and [this](https://matplotlib.org/stable/api/_as_gen/matplotlib.markers.MarkerStyle.html#matplotlib.markers.MarkerStyle.markers), respectively. A good value for `s` is 30-40 for 200-300 markers on the plot.\n",
    "\n",
    "Alternatively:<br>\n",
    "`ax.plot(<pd.df>['<X>'], <pd.df>['<Y>'], marker='<marker type>', color='<color>', linestyle='');`<br>\n",
    "\n",
    "The `linestyle=''` parameter is essential for plotting the dots only - omitting it means that the connecting lines are plotted as well.<br><br>\n",
    "\n",
    "Elaborated version, using plt.subplots():\n",
    "\n",
    "Get the Figure and the Axes objects\n",
    "\n",
    "`fig, ax = plt.subplots(nrows=1, ncols=1, layout='constrained', facecolor='color', figsize=(<x_size>, <y_size>))`\n",
    "\n",
    "Plot the data on the Axes\n",
    "\n",
    "`ax.scatter(x=<x>, y=<y>, color='<color>', linewidth=<linewidth>, edgecolors='<edgecolors>', marker='<marker type>', s=<dot/point size>, alpha=<transparency>)`\n",
    "\n",
    "Set the Axes title, background color (face color), labels (incl. font sizes) and limits\n",
    "\n",
    "`ax.set_title('<title>', fontsize=12, loc='left')`<br>\n",
    "`ax.set_facecolor('<color>')`<br>\n",
    "`ax.set_xlabel('<x_label>', fontsize=8)`<br>\n",
    "`ax.set_ylabel('<y_label>', fontsize=8)`<br>\n",
    "`ax.set_xlim(<m>, <n>)`<br>\n",
    "`ax.set_ylim(<p>, <q>)`<br>\n",
    "\n",
    "Set the tick parameters<br>\n",
    "\n",
    "`ax.ticklabel_format(useOffset=False)`<br>\n",
    "`ax.tick_params(axis='x', labelsize=6)`<br>\n",
    "`ax.tick_params(axis='y', labelsize=6)`<br>\n",
    "\n",
    "Display the plot<br>\n",
    "\n",
    "`plt.show()`<br><br>\n",
    "\n",
    "In `fig, ax = plt.subplots(nrows=1, ncols=1, layout='constrained', facecolor='color', figsize=(<x_size>, <y_size>))`, using `layout='constrained'` is recommended to avoid overlapping of figure elements when changing the figure size. For a good figure size, use `figsize=(3.5, 2)` or similar.\n",
    "\n",
    "To prevent numbers displayed in scientific notation (exponential) on axes ticks, make sure to use `ax.ticklabel_format(useOffset=False)`.\n",
    "\n",
    "Experiment with different font sizes for labels, title and ticks.\n",
    "\n",
    "The `color` parameter can be abbreviated as `c` and is optional; if present, it should be a scalar or a sequence of length consistent with the lengths of `<X>` and `<Y>` (`(<X>, <Y>)` points). The `marker` parameter is optional as well. Both `color` and `marker` have defaults. For other values of `color` and `marker`, see [this](https://matplotlib.org/stable/gallery/color/named_colors.html#css-colors) and [this](https://matplotlib.org/stable/api/_as_gen/matplotlib.markers.MarkerStyle.html#matplotlib.markers.MarkerStyle.markers), respectively. A good value for the dot/point size parameter `s` is 30-40 for 200-300 markers on the plot.\n",
    "\n",
    "Examples of some parameters in `ax.scatter()`: `color='steelblue'`, `linewidth=1` (the thickness of the dots/points rim), `alpha=0.8` (alpha: transparency (0-1))."
   ]
  },
  {
   "metadata": {},
   "cell_type": "code",
   "outputs": [],
   "execution_count": null,
   "source": "# Simple version\n"
  },
  {
   "metadata": {},
   "cell_type": "code",
   "outputs": [],
   "execution_count": null,
   "source": "# Elaborated version, using plt.subplots()\n"
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "###### 2. A brief analysis of the plot: What are the shortest/longest songs and their durations?"
  },
  {
   "metadata": {},
   "cell_type": "code",
   "outputs": [],
   "execution_count": null,
   "source": [
    "# display(<pd.df>['column'] <= <value>)                                    # Boolean mask\n",
    "# display(type(<pd.df>['column'] <= <value>))                              # pd.Series\n",
    "# display(<pd.df>[<pd.df>['column'] <= <value>]['column to to display'])   # select one column\n",
    "# display(<pd.df>[<pd.df>['column'] <= <value>]['column 1  to to display', 'column 2 to display',...])   # select multiple columns\n",
    "\n",
    "# Try this also with .loc[], as well as with .iloc[], with an explicitly set index and with .index\n"
   ]
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "##### Line plot"
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": [
    "Read the modified dataset (if necessary).\n",
    "\n",
    "`pd.read_csv()` returns a `pd.DataFrame` object.\n",
    "\n",
    "As for specifying the path of the dataset properly, see [this](https://stackoverflow.com/questions/35384358/how-to-open-my-files-in-data-folder-with-pandas-using-relative-path) (more specifically, **both** [this](https://stackoverflow.com/a/35384414/1899061) and [this](https://stackoverflow.com/a/43600253/1899061))."
   ]
  },
  {
   "metadata": {},
   "cell_type": "code",
   "outputs": [],
   "execution_count": null,
   "source": ""
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "How many songs from each `release_year` are there?"
  },
  {
   "metadata": {},
   "cell_type": "code",
   "outputs": [],
   "execution_count": null,
   "source": "# Use <pd.df>['<column>'].value_counts(), <pd.df>['<column>'].value_counts()[<specific value> in <column>]\n"
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "Sort this result by index: `pd.Series.sort_index()` (there is also `pd.DataFrame.sort_index()`)."
  },
  {
   "metadata": {},
   "cell_type": "code",
   "outputs": [],
   "execution_count": null,
   "source": "# Define val_counts_sorted_by_index\n"
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": [
    "Preparation for plotting (`counts` on y-axis, `release_year` on x-axis): get the `np.ndarray` version of `val_counts_sorted_by_index`, as well as of its index.\n",
    "\n",
    "One way of doing it is to use `np.array()` over `val_counts_sorted_by_index.index` and `val_counts_sorted_by_index.values`. However, the same effect is achieved using only `val_counts_sorted_by_index.index` and `val_counts_sorted_by_index.values` (their type is `np.ndarray`)."
   ]
  },
  {
   "metadata": {},
   "cell_type": "code",
   "outputs": [],
   "execution_count": null,
   "source": ""
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "And now plot it."
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "###### 1. Plotting using Matplotlib"
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": [
    "[Matplotlib line plot example](https://matplotlib.org/stable/gallery/lines_bars_and_markers/simple_plot.html)<br>\n",
    "[Excellent tutorial on matplotlib](https://realpython.com/python-matplotlib-guide/)\n",
    "<br>\n",
    "`ax = plt.axes()`<br>\n",
    "`ax.set(xlim=(<lower limit>, <upper limit>), ylim=(<lower limit>, <upper limit>), xlabel='...', ylabel='...', title='...')`<br>\n",
    "`ax.ticklabel_format(useOffset=False)`<br>\n",
    "`ax.plot(<x>, <y>, color='...', marker='<marker type>', linewidth=<number>, alpha=<number>)`<br>\n",
    "\n",
    "To prevent numbers displayed in scientific notation (exponential) on axes ticks, make sure to use `ax.ticklabel_format(useOffset=False)`.\n",
    "\n",
    "Do not use `x=<x>, y=<y>` in `ax.plot()`, it generates an error. Use just `<x>, <y>`. For the other parameters, the keywords are necessary.\n",
    "\n",
    "Examples of parameters in `ax.plot()`: `color='steelblue'`, `linewidth=3`, `alpha=0.8` (alpha: transparency (0-1))."
   ]
  },
  {
   "metadata": {},
   "cell_type": "code",
   "outputs": [],
   "execution_count": null,
   "source": "# Simple version\n"
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": [
    "<em>Elaborated version 1, without `plt.subplots()`</em><br><br>\n",
    "\n",
    "Set the Figure object parameters<br>\n",
    "\n",
    "`plt.figure(layout='constrained', facecolor='<color>', figsize=(<x_size>, <y_size>))`<br>\n",
    "\n",
    "Get the Axes object<br>\n",
    "\n",
    "`ax = plt.axes()`<br>\n",
    "\n",
    "Set the Axes object parameters<br>\n",
    "\n",
    "`ax.set_facecolor('<color>')`<br>\n",
    "`ax.set_title('<title>', fontsize=12, loc='left')`<br>\n",
    "`ax.set_xlabel('<x_label>', fontsize=8)`<br>\n",
    "`ax.set_ylabel('<y_label>', fontsize=8)`<br>\n",
    "\n",
    "Without `plt.subplots()`, `xlim` and `ylim` have to be set using `ax.set()`<br>\n",
    "\n",
    "`ax.set(xlim=(<m>, <n>), ylim=(<p>, <q>))`<br>\n",
    "\n",
    "Set the tick parameters<br>\n",
    "\n",
    "`ax.ticklabel_format(useOffset=False)`<br>\n",
    "`ax.tick_params(axis='x', labelsize=6)`<br>\n",
    "`ax.tick_params(axis='y', labelsize=6)`<br>\n",
    "\n",
    "Display the plot using `ax.plot()`<br>\n",
    "\n",
    "`ax.plot(<x>, <y>, color='<color>', linewidth=<linewidth>, alpha=<transparency>);`<br><br>\n",
    "\n",
    "In `plt.figure(layout='constrained', facecolor='<color>', figsize=(<x_size>, <y_size>))`, using `layout='constrained'` is recommended to avoid overlapping of figure elements when changing the figure size. For a good figure size, use `figsize=(3.5, 2)` or similar.\n",
    "\n",
    "It is also possible to set the Axes object background color using `plt.axes(facecolor='<color>')` instead of `ax.set_facecolor('<color>')`.\n",
    "\n",
    "To prevent numbers displayed in scientific notation (exponential) on axes ticks, make sure to use `ax.ticklabel_format(useOffset=False)`.\n",
    "\n",
    "Experiment with different font sizes for labels, title and ticks.\n",
    "\n",
    "**Do not use `x=<x>, y=<y>` in `ax.plot()`, it generates an error. Use just `<x>, <y>`. For the other parameters, the keywords are necessary.**\n",
    "\n",
    "Examples of parameters in `ax.plot()`: `color='steelblue'`, `linewidth=3`, `alpha=0.8` (alpha: transparency (0-1))."
   ]
  },
  {
   "metadata": {},
   "cell_type": "code",
   "outputs": [],
   "execution_count": null,
   "source": [
    "# Elaborated version 1, without plt.subplots()\n",
    "\n",
    "# Set the Figure object parameters\n",
    "\n",
    "# Get the Axes object\n",
    "\n",
    "# Set the Axes object parameters\n",
    "\n",
    "# Without plt.subplots(), xlim and ylim have to be set using ax.set()\n",
    "\n",
    "# Set the tick parameters\n",
    "\n",
    "# Display the plot using ax.plot()\n"
   ]
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": [
    "<em>Elaborated version 2, using `plt.subplots()`</em><br><br>\n",
    "\n",
    "Get the Figure and the Axes objects\n",
    "\n",
    "`fig, ax = plt.subplots(nrows=1, ncols=1, layout='constrained', facecolor='color', figsize=(<x_size>, <y_size>))`\n",
    "\n",
    "Plot the data on the Axes\n",
    "\n",
    "`ax.plot(<x>, <y>, color='<color>', linewidth=<linewidth>, alpha=<transparency>)`\n",
    "\n",
    "Set the Axes title, background color (face color), labels (incl. font sizes) and limits\n",
    "\n",
    "`ax.set_title('<title>', fontsize=12, loc='left')`<br>\n",
    "`ax.set_facecolor('<color>')`<br>\n",
    "`ax.set_xlabel('<x_label>', fontsize=8)`<br>\n",
    "`ax.set_ylabel('<y_label>', fontsize=8)`<br>\n",
    "`ax.set_xlim(<m>, <n>)`<br>\n",
    "`ax.set_ylim(<p>, <q>)`<br>\n",
    "\n",
    "Set the tick parameters<br>\n",
    "\n",
    "`ax.ticklabel_format(useOffset=False)`<br>\n",
    "`ax.tick_params(axis='x', labelsize=6)`<br>\n",
    "`ax.tick_params(axis='y', labelsize=6)`<br>\n",
    "\n",
    "Display the plot<br>\n",
    "\n",
    "`plt.show()`<br><br>\n",
    "\n",
    "In `fig, ax = plt.subplots(nrows=1, ncols=1, layout='constrained', facecolor='color', figsize=(<x_size>, <y_size>))`, using `layout='constrained'` is recommended to avoid overlapping of figure elements when changing the figure size. For a good figure size, use `figsize=(3.5, 2)` or similar.\n",
    "\n",
    "To prevent numbers displayed in scientific notation (exponential) on axes ticks, make sure to use `ax.ticklabel_format(useOffset=False)`.\n",
    "\n",
    "Experiment with different font sizes for labels, title and ticks.\n",
    "\n",
    "**Do not use `x=<x>, y=<y>` in `ax.plot()`, it generates an error. Use just `<x>, <y>`. For the other parameters, the keywords are necessary.**\n",
    "\n",
    "Examples of parameters in `ax.plot()`: `color='steelblue'`, `linewidth=3`, `alpha=0.8` (alpha: transparency (0-1))."
   ]
  },
  {
   "metadata": {},
   "cell_type": "code",
   "outputs": [],
   "execution_count": null,
   "source": [
    "# Elaborated version 2, using plt.subplots()\n",
    "\n",
    "# Get the Figure and the Axes objects\n",
    "\n",
    "# Plot the data on the Axes\n",
    "\n",
    "# Set the Axes title, labels (incl. font sizes) and limits\n",
    "\n",
    "# Set the Axes background color (face color) \n",
    "\n",
    "# Set the tick parameters\n",
    "\n",
    "# Display the plot using plt.show()\n"
   ]
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": [
    "###### 2. Smoothen the curves\n",
    "Based on [this](https://stackoverflow.com/a/5284038/1899061).<br><br>\n",
    "`from scipy.interpolate import make_interp_spline, BSpline`<br>\n",
    "\n",
    "`<x> = <definition of x-axis variable>`<br>\n",
    "`<y> = <definition of y-axis variable>`<br>\n",
    "\n",
    "`<x_smooth> = np.linspace(<x>.min(), <x>max(), 300)`&emsp;&emsp;&emsp;&emsp;# 300: the number of points to make between `<x>.min() and <x>.max()`<br>\n",
    "`spl = make_interp_spline(release_year, counts, k=3)`&emsp;&emsp;&emsp;&emsp; # type: BSpline<br>\n",
    "`<y_smooth> = spl(<x>_smooth)`<br>\n",
    "\n",
    "`plt.xlim([<lowest value of x to show on the plot>, <highest value of x to show on the plot>])`<br>\n",
    "`plt.ylim([<lowest value of y to show on the plot>, <highest value of x to show on the plot>])`<br>\n",
    "\n",
    "`plt.plot(<x_smooth>, <y_smooth>)`<br>\n",
    "`plt.plot(<x>, <y>)`&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;# optional: show the segmented line on the same plot as well<br>\n",
    "`plt.show()`\n",
    "\n"
   ]
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-09-20T09:03:17.877201Z",
     "start_time": "2024-09-20T09:03:17.868177Z"
    }
   },
   "cell_type": "code",
   "source": [
    "# # 300 represents the number of points to make between T.min and T.max\n",
    "# T = np.array([6, 7, 8, 9, 10, 11, 12])\n",
    "# power = np.array([1.53E+03, 5.92E+02, 2.04E+02, 7.24E+01, 2.72E+01, 1.10E+01, 4.70E+00])\n",
    "#\n",
    "# # plt.plot(T,power)\n",
    "# # plt.show()\n",
    "#\n",
    "# xnew = np.linspace(T.min(), T.max(), 300)\n",
    "#\n",
    "# spl = make_interp_spline(T, power, k=3)  # type: BSpline\n",
    "# power_smooth = spl(xnew)\n",
    "#\n",
    "# plt.plot(xnew, power_smooth)\n",
    "# plt.show()\n",
    "\n",
    "# from scipy.interpolate import make_interp_spline, BSpline\n",
    "# \n",
    "# year_smooth = np.linspace(release_year.min(), release_year.max(), 300)\n",
    "# spl = make_interp_spline(release_year, counts, k=3)  # type: BSpline\n",
    "# counts_smooth = spl(year_smooth)\n",
    "# \n",
    "# # plt.figure(layout='constrained', figsize=(5, 3), facecolor='lightyellow', alpha=0.5)\n",
    "# fig, ax = plt.subplots(figsize=(10, 7), layout='constrained', facecolor='beige')\n",
    "# \n",
    "# ax.set_facecolor('navajowhite')\n",
    "# \n",
    "# plt.ticklabel_format(useOffset=False)\n",
    "# \n",
    "# plt.xlim([1966, 2026])\n",
    "# plt.ylim([0, 40])\n",
    "# plt.xticks(fontsize=8)\n",
    "# plt.yticks(fontsize=8)\n",
    "# \n",
    "# plt.xlabel('release_year', fontsize=10)\n",
    "# plt.ylabel('count', fontsize=10)\n",
    "# plt.title('Song counts over years', fontsize=12, color='green')\n",
    "# \n",
    "# plt.plot(year_smooth, counts_smooth)\n",
    "# plt.plot(release_year, counts)\n",
    "# plt.show()\n",
    "\n",
    "# # Alternatively\n",
    "# ax = plt.axes()\n",
    "# ax.set(xlim=(years.min()-1, years.max()+1), ylim=(150, 400), xlabel='release year', ylabel='count', title='Song counts over years')\n",
    "# ax.ticklabel_format(useOffset=False)\n",
    "# ax.plot(years, counts, color='steelblue', linewidth=2, marker='o', alpha=0.8)\n",
    "# ax.plot(year_smooth, counts_smooth, color='green', linewidth=2, alpha=0.8);"
   ],
   "outputs": [],
   "execution_count": 2
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": [
    "###### 3. Multiple subplots\n",
    "(shown here after [this](https://jakevdp.github.io/PythonDataScienceHandbook/04.08-multiple-subplots.html))"
   ]
  },
  {
   "metadata": {},
   "cell_type": "code",
   "outputs": [],
   "execution_count": null,
   "source": [
    "# # From https://jakevdp.github.io/PythonDataScienceHandbook/04.08-multiple-subplots.html\n",
    "# fig = plt.figure()\n",
    "# ax1 = fig.add_axes([0.1, 0.55, 0.8, 0.4],\n",
    "#                    xticklabels=[], ylim=(-1.2, 1.2))\n",
    "# ax2 = fig.add_axes([0.1, 0.1, 0.8, 0.4],\n",
    "#                    ylim=(-1.2, 1.2))\n",
    "# # Meanings of the numbers in [0.1, 0.55, 0.8, 0.4]:\n",
    "# #     0.1 - distance from the left edge of fig (grey area)\n",
    "# #     0.55 - distance between the upper and lower subplots (0.5: they touch each other)\n",
    "# #     0.8 - distance from the right edge of fig (grey area)\n",
    "# #     0.4 - area assigned to the upper/lower subplot (ax1/ax2) along the vertical axes\n",
    "# # Experiment with these numbers to get a better feeling for them\n",
    "\n",
    "# x = np.linspace(0, 10)\n",
    "# ax1.plot(np.sin(x))\n",
    "# ax2.plot(np.cos(x));\n",
    "\n",
    "# fig, ax = plt.subplots()\n",
    "# ax\n",
    "\n",
    "\n",
    "# fig = plt.figure(figsize=(6, 6), )\n",
    "# # fig\n",
    "# ax1 = fig.add_axes([0.1, 0.579, 0.8, 0.35],\n",
    "#                    xlim=(1966, 2026), ylim=(150, 400),\n",
    "#                    xlabel='release year', ylabel='counts',\n",
    "#                    title='Number of songs recorded over the years')\n",
    "# ax2 = fig.add_axes([0.1, 0.08, 0.8, 0.35],\n",
    "#                    xlim=(1966, 2026), ylim=(150, 400),\n",
    "#                    xlabel='release year', ylabel='counts',\n",
    "#                    title='Number of songs recorded over the years')\n",
    "# # display(type(ax1))\n",
    "# ax1.ticklabel_format(useOffset=False)\n",
    "# ax2.ticklabel_format(useOffset=False)\n",
    "# \n",
    "# ax1.plot(years, counts, color='steelblue', linewidth=1.5, alpha=0.8)    # alpha: transparency (0-1)\n",
    "# ax2.plot(years, counts, color='purple', linewidth=1.5, alpha=0.8);      # alpha: transparency (0-1)"
   ]
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2024-09-19T17:58:27.710675Z",
     "start_time": "2024-09-19T17:58:27.690802Z"
    }
   },
   "cell_type": "code",
   "source": [
    "# # From https://jakevdp.github.io/PythonDataScienceHandbook/04.08-multiple-subplots.html\n",
    "# fig = plt.figure()\n",
    "# ax1 = fig.add_axes([0.1, 0.55, 0.8, 0.4],\n",
    "#                    xticklabels=[], ylim=(-1.2, 1.2))\n",
    "# ax2 = fig.add_axes([0.1, 0.1, 0.8, 0.4],\n",
    "#                    ylim=(-1.2, 1.2))\n",
    "# # Meanings of the numbers in [0.1, 0.55, 0.8, 0.4]:\n",
    "# #     0.1 - distance from the left edge of fig (grey area)\n",
    "# #     0.55 - distance between the upper and lower subplots (0.5: they touch each other)\n",
    "# #     0.8 - distance from the right edge of fig (grey area)\n",
    "# #     0.4 - area assigned to the upper/lower subplot (ax1/ax2) along the vertical axes\n",
    "# # Experiment with these numbers to get a better feeling for them\n",
    "\n",
    "# x = np.linspace(0, 10)\n",
    "# ax1.plot(np.sin(x))\n",
    "# ax2.plot(np.cos(x));\n",
    "\n",
    "# fig, ax = plt.subplots()\n",
    "# ax\n",
    "\n",
    "\n",
    "# fig = plt.figure(figsize=(10, 7), )\n",
    "# # fig\n",
    "# ax1 = fig.add_axes([0.1, 0.579, 0.8, 0.35],\n",
    "#                    xlim=(1966, 2026), ylim=(0, 40),\n",
    "#                    xlabel='release year', ylabel='counts',\n",
    "#                    title='Number of songs over the years')\n",
    "# ax2 = fig.add_axes([0.1, 0.08, 0.8, 0.35],\n",
    "#                    xlim=(1966, 2026), ylim=(0, 40),\n",
    "#                    xlabel='release year', ylabel='counts',\n",
    "#                    title='Number of songs over the years')\n",
    "# # display(type(ax1))\n",
    "# ax1.ticklabel_format(useOffset=False)\n",
    "# ax2.ticklabel_format(useOffset=False)\n",
    "# \n",
    "# ax1.plot(release_year, counts, color='steelblue', linewidth=1.5, alpha=0.8)    # alpha: transparency (0-1)\n",
    "# ax2.plot(release_year, counts, color='purple', linewidth=1.5, alpha=0.8);      # alpha: transparency (0-1)"
   ],
   "outputs": [],
   "execution_count": 1
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "##### Histogram"
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "Read the dataset (`csny_visualization.csv`)."
  },
  {
   "metadata": {},
   "cell_type": "code",
   "outputs": [],
   "execution_count": null,
   "source": ""
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "Plot the histogram of song durations (lengths, times)."
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "Use Pandas to extract song lengths as a `pd.Series` object (`<pd.Series object> = <pd.df>['<column>']`)."
  },
  {
   "metadata": {},
   "cell_type": "code",
   "outputs": [],
   "execution_count": null,
   "source": "# Get the song lengths as a pd.Series object\n"
  },
  {
   "metadata": {},
   "cell_type": "code",
   "outputs": [],
   "execution_count": null,
   "source": "# Convert the song lengths into a NumPy array (using <song lengths>.to_numpy() or np.array(<song lengths>))\n"
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "###### Plotting using Matplotlib"
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": [
    "[Matplotlib histogram example](https://matplotlib.org/stable/gallery/statistics/hist.html)\n",
    "\n",
    "Plot the histogram of the song lengths using Matplotlib.\n",
    "\n",
    "Minimal version: `plt.hist(<x>, bins=<number of bins>);` or `sb.histplot(<x>, bins=<number of bins>)`.\n",
    "\n",
    "Alternatively:<br>\n",
    "`plt.figure(layout='constrained', facecolor='<color>', figsize=(3.5, 2), )`<br>\n",
    "`ax = plt.axes()`<br>\n",
    "`ax.set(xlabel='...', ylabel='...', title='...')`<br>\n",
    "`ax.hist(<x>, bins=<number of bins>)`<br>\n",
    "\n",
    "As for the plot styles, there are a lot of [available styles](https://www.dunderdata.com/blog/view-all-available-matplotlib-styles) that can be also shown in code using `plt.style.available`. See also [this](https://www.analyticsvidhya.com/blog/2021/08/exploring-matplotlib-stylesheets-for-data-visualization/).\n",
    "\n",
    "Alternatively, plot style can be set using `sb.set_theme(palette='...')` (or just `sb.set()`, but that function might get deprecated and removed from *Seaborn* in the future). See [`sb.set_theme()` documentation](https://seaborn.pydata.org/generated/seaborn.set_theme.html) for the function's parameters and defaults. For `palette='...'` use any of the palettes shown with `plt.style.available`, or any of [these](https://matplotlib.org/stable/users/explain/colors/colormaps.html#qualitative), or...\n",
    "\n",
    "Elaborated version, using plt.subplots():\n",
    "\n",
    "Get the Figure and the Axes objects\n",
    "\n",
    "`fig, ax = plt.subplots(nrows=1, ncols=1, layout='constrained', facecolor='color', figsize=(<x_size>, <y_size>))`\n",
    "\n",
    "Plot the data on the Axes\n",
    "\n",
    "`ax.hist(x=<x>, bins=<number of bins>, color='<color>', linewidth=<linewidth>, edgecolor='<edgecolors>', alpha=<transparency>)`\n",
    "\n",
    "Set the Axes title, background color (face color), labels (incl. font sizes) and limits\n",
    "\n",
    "`ax.set_title('<title>', fontsize=12, loc='left')`<br>\n",
    "`ax.set_facecolor('<color>')`<br>\n",
    "`ax.set_xlabel('<x_label>', fontsize=8)`<br>\n",
    "`ax.set_ylabel('<y_label>', fontsize=8)`<br>\n",
    "`ax.set_xlim(<m>, <n>)`<br>\n",
    "`ax.set_ylim(<p>, <q>)`<br>\n",
    "\n",
    "Set the tick parameters<br>\n",
    "\n",
    "`ax.ticklabel_format(useOffset=False)`<br>\n",
    "`ax.tick_params(axis='x', labelsize=6)`<br>\n",
    "`ax.tick_params(axis='y', labelsize=6)`<br>\n",
    "\n",
    "Display the plot<br>\n",
    "\n",
    "`plt.show()`<br><br>\n",
    "\n",
    "In `fig, ax = plt.subplots(nrows=1, ncols=1, layout='constrained', facecolor='color', figsize=(<x_size>, <y_size>))`, using `layout='constrained'` is recommended to avoid overlapping of figure elements when changing the figure size. For a good figure size, use `figsize=(3.5, 2)` or similar.\n",
    "\n",
    "To prevent numbers displayed in scientific notation (exponential) on axes ticks, make sure to use `ax.ticklabel_format(useOffset=False)`.\n",
    "\n",
    "Experiment with different font sizes for labels, title and ticks.\n",
    "\n",
    "The `color` parameter can be abbreviated as `c` and is optional. The `marker` parameter is optional as well, and so is `edgecolor` (can be abbreviated as `ec`). They all have defaults. For other values of `color` and `marker`, see [this](https://matplotlib.org/stable/gallery/color/named_colors.html#css-colors) and [this](https://matplotlib.org/stable/api/_as_gen/matplotlib.markers.MarkerStyle.html#matplotlib.markers.MarkerStyle.markers), respectively.\n",
    "\n",
    "Examples of some parameters in `ax.hist()`: `color='steelblue'`, `linewidth=1` (the thickness of the dots/points rim), `alpha=0.8` (alpha: transparency (0-1))."
   ]
  },
  {
   "metadata": {},
   "cell_type": "code",
   "outputs": [],
   "execution_count": null,
   "source": [
    "# Set plot style using sb.set_theme(palette='Pastel2')\n",
    "\n",
    "# Plot the histogram - x: song time in [sec]; y: number of songs; 40 bins\n",
    "\n",
    "# Minimal version\n",
    "\n",
    "# A more detailed version\n",
    "\n",
    "# Elaborated version, using plt.subplots()\n"
   ]
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "##### Bar graph"
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": [
    "Read the dataset (`'../data/csny_visualization.csv'`) and make some minor transformations.\n",
    "\n",
    "`pd.read_csv()` returns a `pd.DataFrame` object.\n",
    "\n",
    "As for specifying the path of the dataset properly, see [this](https://stackoverflow.com/questions/35384358/how-to-open-my-files-in-data-folder-with-pandas-using-relative-path) (more specifically, **both** [this](https://stackoverflow.com/a/35384414/1899061) and [this](https://stackoverflow.com/a/43600253/1899061))."
   ]
  },
  {
   "metadata": {},
   "cell_type": "code",
   "outputs": [],
   "execution_count": null,
   "source": [
    "# Get the songs as a pd.DataFrame object from 'data/csny_visualization.csv', or from\n",
    "# '../data/csny_visualization.csv', or '../../data/csny_visualization.csv', or ..., \n",
    "# depending on where the csv file is located\n"
   ]
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "How many powerful, energetic, intense, loud, and possibly anthemic songs did each csny band release during the csny period?"
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "Define a new feature (column in the `songs` dataframe), `powerful`, as a combination of `energy` and `loudness` - songs with `energy` and `loudness` above the corresponding 3rd quartiles are considered powerful."
  },
  {
   "metadata": {},
   "cell_type": "code",
   "outputs": [],
   "execution_count": null,
   "source": "# Run songs.describe() to see the 3rd quartiles\n"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-07-15T16:44:11.030297Z",
     "start_time": "2025-07-15T16:44:11.027045Z"
    }
   },
   "cell_type": "code",
   "source": [
    "# Display the 3rd quartiles for selected candidate features to describe the new feature, 'powerful'\n",
    "# ('danceability', 'energy', 'liveness', 'loudness', 'tempo', 'valence')\n"
   ],
   "outputs": [],
   "execution_count": 1
  },
  {
   "metadata": {},
   "cell_type": "code",
   "outputs": [],
   "execution_count": null,
   "source": "# Define threshold values for the candidate features (3rd quartiles, i.e. '75%')\n"
  },
  {
   "metadata": {},
   "cell_type": "code",
   "outputs": [],
   "execution_count": null,
   "source": [
    "# Define the condition for a song to be powerful (songs with `energy` and `loudness` above the corresponding 3rd quartiles); \n",
    "# experiment with different combinations of candidate features\n"
   ]
  },
  {
   "metadata": {},
   "cell_type": "code",
   "outputs": [],
   "execution_count": null,
   "source": "# Define the new feature, 'powerful'\n"
  },
  {
   "metadata": {},
   "cell_type": "code",
   "outputs": [],
   "execution_count": null,
   "source": "# Display these powerful songs and their performers\n"
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "How many csny songs have been powerful, in terms of the definition of `songs.powerful` shown above?"
  },
  {
   "metadata": {},
   "cell_type": "code",
   "outputs": [],
   "execution_count": null,
   "source": ""
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "<u>Save this version as a new *.csv* file, for use in the subsequent examples.</u> (`<pd.df>.to_csv('<path>')`)"
  },
  {
   "metadata": {},
   "cell_type": "code",
   "outputs": [],
   "execution_count": null,
   "source": ""
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "###### Preparing the data for plotting the bar graph"
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "Group the data - group the songs by artists."
  },
  {
   "metadata": {},
   "cell_type": "code",
   "outputs": [],
   "execution_count": null,
   "source": ""
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "Use `get_group(<artists>)` to get all songs by a selected performer and `value_counts()` over the resulting group's `powerful` column (showing the `True` and `False` subgroups). This is a precursor to creating the data for the y-axis of the bar graph."
  },
  {
   "metadata": {},
   "cell_type": "code",
   "outputs": [],
   "execution_count": null,
   "source": ""
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "Build the data to plot by extracting relevant items from each group."
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "For x-axis, use `unique()` over the `artists` column, and then optionally `list()` over the resulting array to make the list of artists."
  },
  {
   "metadata": {},
   "cell_type": "code",
   "outputs": [],
   "execution_count": null,
   "source": ""
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": [
    "For y-axis, create the lists of the numbers of powerful songs (`powerful`) and of the other ones (`not_powerful`).\n",
    "(Start from two empty lists. Loop over the list of artistss created in the previous step, `get_group()` for each artist/band and append the `value_counts()[True]` of the `powerful` column of the current artist (`a['powerful']`) to `powerful` if any of `a['powerful']` has the value `True`, otherwise append 0. Do the similar thing for `not_powerful`. Display both lists in the end to double-check the result.)"
   ]
  },
  {
   "metadata": {},
   "cell_type": "code",
   "outputs": [],
   "execution_count": null,
   "source": ""
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": [
    "And now plot the bar graph. Based on the second example from [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.plot.bar.html) (using `<pd.df>.plot.bar()`, not Matplotlib or Seaborn).\n",
    "For a complete list of parameters used in `**kwargs`, see [this](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.plot.html).\n",
    "For a list of named colors (Matplotlib named colors), see [here](https://matplotlib.org/stable/gallery/color/named_colors.html#css-colors)."
   ]
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "First create an auxiliary dataframe to use for plotting. Use `pwerful` and `not_powerful` as the columns, <u>and the list of artists created above as the index of the dataframe</u>."
  },
  {
   "metadata": {},
   "cell_type": "code",
   "outputs": [],
   "execution_count": null,
   "source": [
    "# # The role-model example from https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.plot.bar.html\n",
    "# speed = [0.1, 17.5, 40, 48, 52, 69, 88]\n",
    "# lifespan = [2, 8, 70, 1.5, 25, 12, 28]\n",
    "# index = ['snail', 'pig', 'elephant', 'rabbit', 'giraffe', 'coyote', 'horse']\n",
    "# df = pd.DataFrame({'speed': speed, 'lifespan': lifespan}, index=index)\n"
   ]
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": [
    "###### Alternative 1 - plotting the bargraph using Pandas (`<pd.df>.plot.bar()`)\n",
    "\n",
    "[Pandas bargraph example](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.plot.bar.html)\n",
    "\n",
    "Use `ax = <pd.df>.plot.bar()` to plot the bargraph.\n",
    "\n",
    "Relevant parameters:\n",
    "- `figsize=(<width>, <height>)` (e.g., (6, 6))\n",
    "- `rot=<rotation angle [degrees]>` for the x-axis labels\n",
    "- `ylim=(<from>, <to>)`\n",
    "- `color={'powerful': 'limegreen', 'not_powerful': 'navajowhite'}` (for a list of Matplotlib named colors, see [here](https://matplotlib.org/stable/gallery/color/named_colors.html#css-colors))\n",
    "- `edgecolor='<color of bin lines>'`\n",
    "- `title='<title>'`\n",
    "- `xlabel='<xlabel>'`\n",
    "- `ylabel='<ylabel>'`\n",
    "- `fontsize=<fontsize>` (for all text; suitable fontsizes are 10, 12,...)\n",
    "- `stacked=True` (the bins for the same x-axis value stacked on top of one another)\n",
    "\n",
    "Alternatively, set just a few parameters within ``, and use the relevant `Axes` methods for the rest:\n",
    "\n",
    "Set the Axes title, background color (face color), labels (incl. font sizes) and limits\n",
    "\n",
    "`ax.set_title('<title>', fontsize=12, loc='left')`<br>\n",
    "`ax.set_facecolor('<color>')`<br>\n",
    "`ax.set_xlabel('<x_label>', fontsize=8)`<br>\n",
    "`ax.set_ylabel('<y_label>', fontsize=8)`<br>\n",
    "`ax.set_xlim(<m>, <n>)`<br>\n",
    "`ax.set_ylim(<p>, <q>)`<br>\n",
    "\n",
    "Set the tick parameters<br>\n",
    "\n",
    "`ax.ticklabel_format(useOffset=False)`<br>\n",
    "`ax.tick_params(axis='x', labelsize=6)`<br>\n",
    "`ax.tick_params(axis='y', labelsize=6)`<br>\n",
    "\n",
    "Display the plot<br>\n",
    "\n",
    "`plt.show()`<br><br>\n",
    "\n",
    "To show labels (counts) in each bin container, use:\n",
    "\n",
    "`for c in ax.containers:`<br>\n",
    "&emsp;&emsp;`ax.bar_label(c, label_type='center')`\n",
    "\n",
    "If the labels (counts) in each container are not needed, the returned value (`ax`) is usually unnecessary and can be omitted.\n",
    "\n",
    "It is <b>a very good idea</b> to also use `plt.tight_layout()` <b>after</b> `<pd.df>.plot.bar()` to avoid cutoffs at the bottom of the figure."
   ]
  },
  {
   "metadata": {},
   "cell_type": "code",
   "outputs": [],
   "execution_count": null,
   "source": ""
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": [
    "###### Alternative 2 - plotting the bargraph using Seaborn (`sb.countplot()`)\n",
    "\n",
    "Use `ax = sb.countplot()` to plot the bargraph.\n",
    "\n",
    "Relevant parameters:\n",
    "- `data=<pd.df>`\n",
    "- `x='<column 1>'` (e.g., 'artists')\n",
    "- `hue='<column 2>'` (e.g., 'powerful`)\n",
    "- `palette='<palette>'` (e.g., 'Set2'; it is also possible to define custom palletes using Hex codes, e.g. `palette=['#432371','#FAAE7B']`)\n",
    "- `dodge=False` to make the bargraph **seemingly stacked** (the containers are not on top of each other, they just overlap); if no stacking is needed (which is a recommended option here), hust omit `dodge=False`\n",
    "\n",
    "**Making the bargraph really stacked (its containers on top of each other) uses (`dodge=False`), but it cannot be done directly (no kwarg for that, i.e. no specific feature for that in `Seaborn.countplot()`), only with some extra work** (see a possible solution [here](https://stackoverflow.com/a/67116235/1899061)).\n",
    "\n",
    "If necessary, use `plt.xticks(rotation=<rotation angle [degrees]>)` before `sb.countplot()`.\n",
    "\n",
    "Note that `ax = sb.countplot()` returns a `pd.Axes` object, so after the call to `ax = sb.countplot()` all `pd.Axes` methods can be called (like `ax.set_title(title='<title>'`, `ax.set_ylim(...)`, etc.). \n",
    "\n",
    "To show labels (counts) in each bin container, use:\n",
    "\n",
    "`for c in ax.containers:`<br>\n",
    "&emsp;&emsp;`ax.bar_label(c, label_type='center')`\n",
    "\n",
    "If the labels (counts) in each container are not needed, the returned value (`ax`) is usually unnecessary and can be omitted.\n",
    "\n"
   ]
  },
  {
   "metadata": {},
   "cell_type": "code",
   "outputs": [],
   "execution_count": 4,
   "source": [
    "# plt.figure(figsize=(8, 6), facecolor='navajowhite')\n",
    "# plt.xticks(rotation=90)\n",
    "\n",
    "# ax = sb.countplot(data=songs, x='artists', hue='powerful', palette='Paired', dodge=False)\n",
    "# Alternatively, palette=['navajowhite', 'limegreen', ] or something like that"
   ]
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": [
    "##### Box plot\n",
    "[Seaborn boxplot example](https://seaborn.pydata.org/generated/seaborn.boxplot.html) (used here as the role model)\n",
    "\n",
    "For Seaborn color palette names see [this](https://seaborn.pydata.org/generated/seaborn.color_palette.html#seaborn.color_palette) or [this](https://10xsoft.org/courses/data-analysis/mastering-data-visualization-with-python/section-4-data-visualization-using-seaborn/colour-palettes-seaborn/). To list the names of some ('quantitative') Seaborn color palettes, use `sb.palettes.SEABORN_PALETTES.keys()` (see [this](https://10xsoft.org/courses/data-analysis/mastering-data-visualization-with-python/section-4-data-visualization-using-seaborn/colour-palettes-seaborn/) and [this](https://www.codecademy.com/article/seaborn-design-ii) for additional named palettes)."
   ]
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": [
    "Read the dataset (`'data/csny_visualization.csv'`).\n",
    "\n",
    "`pd.read_csv()` returns a `pd.DataFrame` object.\n",
    "\n",
    "As for specifying the path of the dataset properly, see [this](https://stackoverflow.com/questions/35384358/how-to-open-my-files-in-data-folder-with-pandas-using-relative-path) (more specifically, **both** [this](https://stackoverflow.com/a/35384414/1899061) and [this](https://stackoverflow.com/a/43600253/1899061))."
   ]
  },
  {
   "metadata": {},
   "cell_type": "code",
   "outputs": [],
   "execution_count": null,
   "source": [
    "# Get the songs as a pd.DataFrame object from 'data/csny_visualization.csv', or from\n",
    "# '../data/csny_visualization.csv', or '../../data/csny_visualization.csv', or ..., depending on where the csv file is located\n"
   ]
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": [
    "Use `sb.boxplot(y='<column>' | x='<column>', palette='<palette>', hue=1, legend=False)` to plot some boxplots.\n",
    "\n",
    "For a single-column boxplot, relevant parameters are `y=<pd.df>['column']` (for 'vertical' boxplot) or `x=<pd.df>['column']` (for 'horizontal' boxplot), and `palette='<palette>'` (e.g., 'Set3', 'pastel', ...; see the links above for other named color palettes). <u>Note that in case `palette` is used, it is also necessary to use `hue=<n>`, where `<n>` can be any value, e.g. 1</u>.\n",
    "\n",
    "For a multiple-column boxplot, relevant parameters are `data=<pd.df>[['column1', 'column2',...]]`, `orient='v'` (for 'vertical' boxplot) and `palette='<palette>'`. No `hue` is needed, no `legend`."
   ]
  },
  {
   "metadata": {},
   "cell_type": "code",
   "outputs": [],
   "execution_count": null,
   "source": [
    "# display(sb.palettes.SEABORN_PALETTES.keys())\n",
    "\n",
    "# plt.figure(layout='constrained', facecolor='navajowhite', figsize=(3.5, 2), )\n",
    "\n",
    "# For a single column (e.g., duration)\n",
    "# sb.boxplot(y=songs.duration, palette='Set1', hue=1, legend=False)\n",
    "# plt.tight_layout()\n",
    "\n",
    "# Alternatively\n",
    "# sb.boxplot(data=songs, y='duration', palette='Set1', hue=1, legend=False)\n",
    "\n",
    "# For multiple columns (e.g., energy and acousticness)\n"
   ]
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": [
    "##### Violin plot\n",
    "[Seaborn violin plot example](https://seaborn.pydata.org/generated/seaborn.violinplot.html)\n",
    "\n",
    "Combines box plot and density plot. Based on [this](https://stackoverflow.com/questions/46134113/seaborn-violin-plot-from-pandas-dataframe-each-column-its-own-separate-violin-p) and [this](https://seaborn.pydata.org/generated/seaborn.violinplot.html)."
   ]
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": [
    "Read the dataset (`'../data/csny_visualization.csv'`).\n",
    "\n",
    "`pd.read_csv()` returns a `pd.DataFrame` object.\n",
    "\n",
    "As for specifying the path of the dataset properly, see [this](https://stackoverflow.com/questions/35384358/how-to-open-my-files-in-data-folder-with-pandas-using-relative-path) (more specifically, **both** [this](https://stackoverflow.com/a/35384414/1899061) and [this](https://stackoverflow.com/a/43600253/1899061))."
   ]
  },
  {
   "metadata": {},
   "cell_type": "code",
   "outputs": [],
   "execution_count": null,
   "source": [
    "# Get the songs as a pd.DataFrame object from ''../data/csny_visualization.csv'', or from\n",
    "# '../data/csny_visualization.csv', or '../../data/csny_visualization.csv', or ..., depending on where the csv file is located\n"
   ]
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": [
    "Use `sb.violinplot()` like: `x=<pd.df>.loc[<index>, '<column for x-axis>']`, `sb.violinplot(data=<pd.df>, x=x, y=<pd.df>['<column for y-axis>'], hue=x, palette='<palette>', legend=False)`.\n",
    "\n",
    "For example, if the violin plot should represent density/boxplot diagram of song `duration` in certain `release_year`s, then `<column for x-axis>` is `release_year` and `<column for y-axis>` is `duration`. Good values for `'<palette>'` are, e.g., 'Set3', 'pastel',...).\n",
    "\n",
    "It is a good practice to set the `x` parameter directly before the call to `sb.violinplot()`, and then use `x=x` in `sb.violinplot()`. Using `x=<pd.df>.loc[<index>, '<column for x-axis>']` within the call to `sb.violinplot()` (like call to `sb.violinplot(x=<pd.df>.loc[<index>, '<column for x-axis>'], y=..., ...)`) might generate an error."
   ]
  },
  {
   "metadata": {},
   "cell_type": "code",
   "outputs": [],
   "execution_count": null,
   "source": [
    "# plt.figure(layout='constrained', facecolor='navajowhite', figsize=(5, 3), )\n",
    "\n",
    "# # Alternatively, set x and y explicitly and then call sb.violinplot() as\n",
    "# # sb.violinplot(data=songs, x=x, y=y, hue=x, palette='Set1', legend=False);\n",
    "# x=songs.loc[songs.release_year < 1995, 'release_year']\n",
    "# y=songs.duration\n",
    "# sb.violinplot(data=songs, x=x, y=y, hue=x, palette='Set1', legend=False);"
   ]
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": [
    "##### Heat map\n",
    "[Seaborn heat map example](https://seaborn.pydata.org/generated/seaborn.heatmap.html) (used here as the role model)\n",
    "\n",
    "To create a heatmap, create the corresponding pivot table first. [An intuitive visual explanation of pivot tables](https://support.microsoft.com/en-us/office/overview-of-pivottables-and-pivotcharts-527c8fa3-02c0-445a-a2db-7794676bce96#:~:text=A%20PivotTable%20is%20an%20interactive,unanticipated%20questions%20about%20your%20data.) (start from [this raw table](https://support.microsoft.com/en-us/office/create-a-pivottable-to-analyze-worksheet-data-a9a84538-bfe9-40a9-a8e9-f99134456576), and then see [the corresponding pivot table](https://support.microsoft.com/en-us/office/overview-of-pivottables-and-pivotcharts-527c8fa3-02c0-445a-a2db-7794676bce96#:~:text=A%20PivotTable%20is%20an%20interactive,unanticipated%20questions%20about%20your%20data.) (expand <em>About Pivot Tables</em>)).\n"
   ]
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": [
    "Read the dataset (`'../data/csny_visualization.csv'`).\n",
    "\n",
    "`pd.read_csv()` returns a `pd.DataFrame` object.\n",
    "\n",
    "As for specifying the path of the dataset properly, see [this](https://stackoverflow.com/questions/35384358/how-to-open-my-files-in-data-folder-with-pandas-using-relative-path) (more specifically, **both** [this](https://stackoverflow.com/a/35384414/1899061) and [this](https://stackoverflow.com/a/43600253/1899061))."
   ]
  },
  {
   "metadata": {},
   "cell_type": "code",
   "outputs": [],
   "execution_count": null,
   "source": [
    "# Get the songs as a pd.DataFrame object from ''../data/csny_visualization.csv'', or from\n",
    "# '../data/csny_visualization.csv', or '../../data/csny_visualization.csv', or ..., depending on where the csv file is located\n"
   ]
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "The idea: categorize songs according to their *valence*."
  },
  {
   "metadata": {},
   "cell_type": "code",
   "outputs": [],
   "execution_count": null,
   "source": [
    "# # Plot the density function for 'valence', using sb.kdeplot(data=<pd.df>, x=<column>)\n",
    "# sb.kdeplot(data=songs, x='valence')"
   ]
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": [
    "###### Alternative 1 - using `pd.qcut()`\n",
    "Create a new column in the dataframe, e.g. `valence_category`, using `pd.qcut()` function to split the entire range of `songs.valence` values into five equally sized subranges, `Very Low` to `Very High` (with ~equal number of elements in each subrange): `songs['valence_category'] = pd.qcut(songs.valence, q=5, labels=['Very Low', 'Low', 'Medium', 'High', 'Very High'])`."
   ]
  },
  {
   "metadata": {},
   "cell_type": "code",
   "outputs": [],
   "execution_count": 2,
   "source": "# Create the new column\n"
  },
  {
   "metadata": {},
   "cell_type": "code",
   "outputs": [],
   "execution_count": 99,
   "source": [
    "# Check the type of its values using type(<pd.df>.<new column>.values)\n",
    "\n",
    "# Display the categories in the new column using <pd.df>.<new column>.cat.categories\n"
   ]
  },
  {
   "metadata": {},
   "cell_type": "code",
   "outputs": [],
   "execution_count": 3,
   "source": "# Check value_counts() for 'valence_category' (the counts should be more or less equal)\n"
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": [
    "###### Alternative 2 - using `pd.cut()`\n",
    "Create a new column in the dataframe, e.g. `valence_category`, using `pd.cut()` function to split the entire range of `songs.valence` values into five subranges, `Very Low` to `Very High` (with  generally *unequal* number of elements in each subrange): `songs['valence_category'] = pd.cut(songs.valence, bins=[<bin edges>], labels=['Very Low', 'Low', 'Medium', 'High', 'Very High'], include_lowest=True)`. Depending on the value of `bins` parameter, the subranges are either equally *spaced* (`bins=<number of subranges>`), or the edges of each subrange interval are specified in `bins` explicitly. Note that there must be one more `<bin edges>` than bins (defined in `labels`). \n",
    "\n",
    "Note also that the ranges of values in the bins are defined as `(...]`. Thus make sure to include `include_lowest=True` in the call to `pd.cut()` to include the lowest value in the first bin (i.e., to get its range as `[...]`, not as `(...]`). The highest value in the last bin is always included."
   ]
  },
  {
   "metadata": {},
   "cell_type": "code",
   "outputs": [],
   "execution_count": 137,
   "source": "# Extract mean, median and other values of valence as v_mean, v_median, etc. from songs.valence.describe().values, to be used as bin edges\n"
  },
  {
   "metadata": {},
   "cell_type": "code",
   "outputs": [],
   "execution_count": 146,
   "source": [
    "# Define the list of bin edges (v_min, v_mean, v_median, etc.)\n",
    "\n",
    "# Dafine the list of bin labels ('Very Low','Low', etc.)\n",
    "\n",
    "# Create 'valence_category' using pd.cut(songs['valence'], ...)\n"
   ]
  },
  {
   "metadata": {},
   "cell_type": "code",
   "outputs": [],
   "execution_count": 99,
   "source": [
    "# Check the type of its values using type(<pd.df>.<new column>.values)\n",
    "\n",
    "# Display the categories in the new column using <pd.df>.<new column>.cat.categories\n"
   ]
  },
  {
   "metadata": {},
   "cell_type": "code",
   "outputs": [],
   "execution_count": 3,
   "source": "# Check value_counts() for 'valence_category' (in general, the counts should NOT be equal)\n"
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": [
    "###### Alternative 3 - create `valence` categories manually\n",
    "For example, split the range of `valence` to five subranges, `Very Low` to `Very High` according to the following criteria: \n",
    "- `Very Low` is the *valence* from 0 to the first quartile (`songs.valence.describe()['25%']`)\n",
    "- `Low` is the *valence* from the first quartile to the mean value (`songs.valence.describe()['mean']`), since the mean value is lower than the median value\n",
    "- `Medium` is the *valence* from the mean value to the median value (`songs.valence.describe()['50%']`)\n",
    "- `High` is the *valence* from the median value to the third quartile (`songs.valence.describe()['75%']`)\n",
    "- `Very High` is the *valence* from the third quartile to 1"
   ]
  },
  {
   "metadata": {},
   "cell_type": "code",
   "outputs": [],
   "execution_count": null,
   "source": "# Extract mean, median and other values of valence as v_mean, v_median, etc. from songs.valence.describe().values\n"
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "Insert a new column, e.g. `valence_category` and set it to the default value `Medium`. Then split the range of `valence` to five subranges, `Very Low` to `Very High` (find the `max()` of `valence` first). Each such a subrange is actually an index of selected songs, based on the value of `valence` (e.g., `very_low = songs['valence'] < 10`). Then use `<pd.df>.loc[<index of selected observations>, <relevant column>]` to change the default value `Medium` where appropriate (e.g., `songs.loc[very_low, 'valence_category'] = 'Very Low'`)."
  },
  {
   "metadata": {},
   "cell_type": "code",
   "outputs": [],
   "execution_count": null,
   "source": [
    "# Insert a new column, e.g. valence_category and set it to the default value 'Medium'. \n",
    "# Then split the range of valence to five subranges, 'Very Low' to 'Very High.\n"
   ]
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "<u>Save this version as a new *.csv* file, e.g. `csny_visualization_valence_categories.csv`, for possible use in other examples.</u> (`<pd.df>.to_csv('<path>')`)"
  },
  {
   "metadata": {},
   "cell_type": "code",
   "outputs": [],
   "execution_count": null,
   "source": ""
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": [
    "Rearrange the categories of `valence_category` to make the output natural.\n",
    "Use `<pd.df>['<column>'] = pd.Categorical(<pd.df>[<column>], categories=['<cat1>, <cat2>, ...'], ordered=True)`. In this example, order categories from `Very High` to `Very Low`."
   ]
  },
  {
   "metadata": {},
   "cell_type": "code",
   "outputs": [],
   "execution_count": null,
   "source": ""
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": [
    "Create a suitable pivot table. Use `<pivot table> = <pd.df>.pivot_table(values='<column with values to show on the heatmap>', index='<categorical index to show on y-axis>', columns='<column with values to show on x-axis>')`\n",
    "- `values`: e.g. `acousticness` or `tempo`\n",
    "- `index`: to be shown on y-axis, e.g. `valence_category`\n",
    "- `columns`: to be shown on x-axis, e.g. `release_year`\n"
   ]
  },
  {
   "metadata": {},
   "cell_type": "code",
   "outputs": [],
   "execution_count": null,
   "source": "# pivot_table = songs.pivot_table(values='energy', index='valence_category', columns='release_year')\n"
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": [
    "Plot the corresponding heatmap. Based on [this](https://pythonbasics.org/seaborn-heatmap/), [this](https://seaborn.pydata.org/generated/seaborn.heatmap.html), and [this](https://stackoverflow.com/a/29648332/1899061).\n",
    "\n",
    "It is often a good idea to change the default figure size first, using `sb.set_theme(rc={'figure.figsize': (<x_size>, <y_size>)})`, to avoid cluttering on the heatmap (alternatively, use something like `plt.figure(layout='constrained', facecolor='navajowhite', figsize=(5, 3.5))`). Here `rc` stands for 'run command' - essentially, configurations which will execute when running the code. Experiment with `(<x_size>, <y_size>)`. The values that have worked well in this example: (15.7, 5.27).\n",
    "\n",
    "Then use `sb.heatmap(data=<pivot table>, annot=True, fmt='<format string>', cmap='<color map>');`\n",
    "- `data=<pivot table>`: the pivot table created in the previous step\n",
    "- `annot=True`: annotate heatmap cells with values\n",
    "- `fmt='<format_string>'`: for example, use `'.0f'` to show int values in annotations, not scientific notation (`'g'` for using mixed int and float annotations)\n",
    "- `cmap='<color map>'`: color map (see [this](https://10xsoft.org/courses/data-analysis/mastering-data-visualization-with-python/section-4-data-visualization-using-seaborn/colour-palettes-seaborn/)); a good one is `viridis`\n",
    "\n",
    "To set the title for the heatmap, or to change the axes labels, use (<b>AFTER</b> the call to `sb.heatmap()`!) something like:\n",
    "\n",
    "`plt.title('<title>', loc='left', color='<color>', alpha=0.4, size=14)`<br>\n",
    "`plt.xlabel('<xlabel>', size=<font size>, color='<color>')`<br>\n",
    "`plt.ylabel('<ylabel>', size=<font size>, color='<color>')`<br>\n",
    "`plt.show()`    # it's a must"
   ]
  },
  {
   "metadata": {},
   "cell_type": "code",
   "outputs": [],
   "execution_count": null,
   "source": [
    "# sb.set_theme(rc={'figure.figsize': (15.7, 5.27)})\n",
    "# plt.figure(layout='constrained', facecolor='navajowhite', figsize=(5, 3.5))\n"
   ]
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": [
    "##### A fancier example\n",
    "Average duration of songs over the years, represented as circles with sizes proportional to the numbers of songs."
   ]
  },
  {
   "metadata": {},
   "cell_type": "code",
   "outputs": [],
   "execution_count": null,
   "source": [
    "# songs = pd.read_csv('../data/csny_visualization_valence_categories.csv')\n",
    "# songs_by_year = songs.groupby('release_year')\n",
    "# years = np.sort(songs.release_year.unique())\n",
    "# years\n",
    "# \n",
    "# avg_duration = []\n",
    "# for year in years:\n",
    "#     avg_duration.append(np.mean(songs_by_year.get_group(year)['duration']))\n",
    "# avg_duration = np.array(avg_duration)\n",
    "# \n",
    "# rng = np.random.RandomState(370)\n",
    "# \n",
    "# colors = rng.choice(100, size=len(years), replace=False)                    # random sample, no duplicates\n",
    "# # display(colors)\n",
    "# \n",
    "# sizes = []\n",
    "# for year in years:\n",
    "#     sizes.append(len(songs_by_year.get_group(year)) * 100)                  # sizes proportional to the numbers of songs\n",
    "# \n",
    "# # plt.title('Song duration over the years', fontdict={'size': 20})\n",
    "# # plt.xlabel('release year')\n",
    "# # plt.ylabel('duration')\n",
    "# # plt.xlim(1989, 2020)\n",
    "# # plt.ticklabel_format(useOffset=False)\n",
    "# # plt.scatter(years, avg_duration,\n",
    "# #             c=colors, s=sizes, alpha=0.3,                                   # alpha: the level of transparency\n",
    "# #             cmap='Set1')                                                    # cmap: a pre-defined color map\n",
    "# # plt.colorbar();                                                             # show color scale\n",
    "# # \n",
    "# # # Alternatively, but without showing the colorbar\n",
    "# # ax = plt.axes()\n",
    "# # ax.set(xlabel='release year', ylabel='duration', xlim=(1989, 2020),\n",
    "# #        title='Song duration over the years')\n",
    "# # plt.ticklabel_format(useOffset=False)\n",
    "# # ax.scatter(years, avg_duration,\n",
    "# #            c=colors, s=sizes, alpha=0.3,                                    # alpha: the level of transparency\n",
    "# #            cmap='Set1');                                                    # cmap: a pre-defined color map"
   ]
  }
 ],
 "metadata": {
  "kernelspec": {
   "display_name": "Python 3 (ipykernel)",
   "language": "python",
   "name": "python3"
  },
  "language_info": {
   "codemirror_mode": {
    "name": "ipython",
    "version": 3
   },
   "file_extension": ".py",
   "mimetype": "text/x-python",
   "name": "python",
   "nbconvert_exporter": "python",
   "pygments_lexer": "ipython3",
   "version": "3.10.0"
  }
 },
 "nbformat": 4,
 "nbformat_minor": 4
}